{% block _add_shopping_list_detector_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'ibnabcustomizeshoppinglist/js/app/components/add-shopping-list-detector-component'
    }) %}
    <div {{ block('block_attributes') }}>
    </div>
{% endblock %}
{% block _add_shopping_list_fly_detector_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'ibnabcustomizeshoppinglist/js/app/components/add-shopping-list-fly-detector-component',
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}