{% block _page_main_quickpreview_segment_product_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-quick-preview-product',
    }) %}
        {% set options = {
            ajaxMode: true,
            id: product.id
        } %}

        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': "ibnabquickpreview/js/quick-preview",
            'data-page-component-options': options|json_encode
        }) %}
    <div {{ block('block_attributes') }} >
        <span data-trigger-quickview-open="1" class="all-content"><span class="text-desktop">{{ 'ibnab.quickpreview.frontend.quickview_label'|trans }}</span></span>
    </div>

{% endblock %}
