/* @theme: blank; */

$information-nav-offset: 0 0 $offset-y-m !default;
$information-nav-width: 100% / 3 !default;

$information-nav-title-offset: 0 0 $offset-y !default;
$information-nav-title-font-size: null !default;
$information-nav-title-line-height: null !default;
$information-nav-title-font-weight: 600 !default;
$information-nav-item-offset: 3px 0 !default;
$information-nav-item-content-color: $link-color !default;
$information-nav-item-content-color-hover: $link-color-hover !default;

// Tablet small

$information-nav-tablet-small-width: 100% !default;
