/* @theme: default; */

.order-checkout-widget {
    position: relative;
    margin-top: $offset-y;

    @include clearfix();

    &__container-wrapper {
        margin-bottom: $offset-y-m;

        @include clearfix();
    }

    &__container {
        float: right;

        padding: $offset-y;

        border-radius: 3px;
        background: get-color('additional', 'base');

        &--lg {
            width: 280px;
        }
    }

    &__table {
        width: 100%;

        th {
            text-align: left;
        }

        td {
            text-align: right;
        }
    }

    &__total {
        padding-top: $offset-y-s + 1px;

        font-size: $base-font-size + 4px;

        font-weight: 700;
    }

    &__total-price {
        color: get-color('ui', 'normal');
    }

    &__col {
        float: right;

        min-width: 280px;
    }

    &__quote {
        float: right;

        width: 320px;
    }

    [data-toggle="tooltip"] {
        display: inline-block;
    }
}

@include breakpoint('tablet-small') {
    .order-checkout-widget {
        &__container-wrapper {
            margin: ($offset-y-m*2) 0;
        }

        &__container {
            &__lg {
                width: 100%;
                padding: $offset-y ($offset-x*2);
            }
        }

        .widget-content {
            .btn-group {
                margin: 0 0 $offset-y-m;
            }
        }
    }
}

@include breakpoint('mobile') {
    .order-checkout-widget {
        &__col,
        &__container {
            width: 100%;
            clear: both;
        }
    }
}

@include breakpoint('print') {
    .order-checkout-widget {
        page-break-inside: avoid;

        &__quote {
            display: none !important;
        }

        &__container-wrapper {
            margin-bottom: 0;
        }
    }
}
