/* @theme: blank; */

.easy-slider {
    overflow: hidden;

    @include slick-arrow(
    $slick-arrow-width: 37px,
        $slick-arrow-height: 37px,
        $slick-arrow-outline: none,
        $slick-arrow-border-radius: 100%,
        $slick-arrow-background: rgba(get-color('additional', 'darker'), .6),
        $slick-arrow-icon-size: 12px,
        $slick-arrow-icon-color: get-color('additional', 'ultra'),
        $slick-arrow-icon-hover-color: null,
        $slick-arrow-prev-left: -36px,
        $slick-arrow-next-right: 36px,
        $slick-arrow-prev-icon: $fa-var-chevron-left,
        $slick-arrow-next-icon: $fa-var-chevron-right,
        $slick-arrow-prev-icon-offset: 0 2px 0 0,
        $slick-arrow-next-icon-offset: 0 0 0 2px
        );

    .slick-prev {
        left: 0px;
    }
    &.embedded-arrows{
        margin: 0 0 !important;
    }
    .slick-next {
        right: 0px;
    }
    &.slick-initialized {
        overflow: visible;
    }

    &__item {
        position: $ibnab-slider-item-position;

        width: $ibnab-slider-item-width;

        white-space: $ibnab-slider-item-white-space;

        &:not(:first-child) {
            &:not(.slick-slide) {
                // hide until slick not loaded
                display: none;
            }
        }
    }

    &__link {
        text-decoration: $ibnab-slider-link-text-decoration;

        color: $ibnab-slider-link-color;

        @include element-state('hover') {
            text-decoration: $ibnab-slider-link-text-decoration;

            color: $ibnab-slider-link-color;
        }
        &:hover{
            text-decoration: $ibnab-slider-link-text-decoration;
            color: $ibnab-slider-link-color;            
        }
    }

    &__info {
        position: $ibnab-slider-item-info-position;
        top: $ibnab-slider-item-info-top;
        right: $ibnab-slider-item-info-right;

        display: $ibnab-slider-item-info-display;
        width: $ibnab-slider-item-info-width;

        color: $ibnab-slider-item-info-color;

        transform: $ibnab-slider-item-info-transform;
        .btn--info{
            background-color: get-color('secondary', 'light');
            border-color: get-color('secondary', 'light');
        }
        &--left-mode {
            right: $ibnab-slider-item-info-left-mode-right-pos;
            left: $ibnab-slider-item-info-left-mode-left-pos;
        }

        &--center-mode {
            left: $ibnab-slider-item-info-center-mode-left-pos;

            width: $ibnab-slider-item-info-center-mode-width;

            text-align: $ibnab-slider-item-info-center-mode-text-align;

            transform: $ibnab-slider-item-info-center-mode-transform;
        }

        &--text-color-dark {
            color: $ibnab-slider-item-info-text-color-dark-color;
        }
    }

    &__img {
        display: $ibnab-slider-img-display;
        width: $ibnab-slider-img-width;
    }

    &__title {
        margin-bottom: $ibnab-slider-title-offset-bottom;

        font-size: $ibnab-slider-title-font-size;
        text-transform: $ibnab-slider-title-text-transform;

        color: $ibnab-slider-title-color;
    }

    &__description {
        overflow-y: $ibnab-slider-description-overflow-y;

        margin-bottom: $ibnab-slider-description-offset-bottom;
        max-height: $ibnab-slider-description-max-height;

        font-size: $ibnab-slider-description-font-size;

        color: $ibnab-slider-description-color;
    }

    &__view-btn {
        text-transform: $ibnab-slider-description-view-btn-text-transform;
        &:hover{
            background-color: get-color('additional', 'darker');
            border-color: get-color('additional', 'darker');
            color: $ibnab-slider-item-info-color;

        }
    }

    @if ($ibnab-slider-use-dots) {
        @include slick-dots(
        $slick-dots-bottom-pos: $ibnab-slider-dots-bottom-pos,
            $slick-dots-item-offset: $ibnab-slider-dots-item-offset,
            $slick-dots-button-bg: $ibnab-slider-dots-button-bg,
            $slick-dots-button-border: $ibnab-slider-dots-button-border,
            $slick-dots-button-active-border: $ibnab-slider-dots-button-active-border,
            $slick-dots-button-active-bg: $ibnab-slider-dots-button-active-bg,
            $slick-dots-button-active-box-shadow: $ibnab-slider-dots-button-active-box-shadow
            );
    }
}

@include breakpoint('tablet') {
    .easy-slider {
        &__title {
            font-size: $ibnab-slider-title-font-size-tablet;
        }

        &__description {
            font-size: $ibnab-slider-description-font-size-tablet;
        }
    }
}

@include breakpoint('mobile-landscape') {
    .easy-slider {
        &__info {
            width: $ibnab-slider-item-info-width-mobile-landscape;

            text-align: $ibnab-slider-item-info-text-align-mobile-landscape;
        }

        &__description {
            display: $ibnab-slider-item-description-display-mobile-landscape;
        }
    }
}

@include breakpoint('mobile') {
    .easy-slider {
        &__title {
            margin-bottom: $ibnab-slider-title-offset-bottom-mobile;
        }
    }
}

