{% block _ibnab_subscribers_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ""
    }) %}

    <div {{ block('block_attributes') }}>
        {{ email }}
    </div>
{% endblock %}