{% block _social_newsletter_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' rowSocialNewsletter social-newsletter'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _iman_home_social_bottom_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' cellSocialNewsletter social-media-footer '
    }) %}
    <div {{ block('block_attributes') }}>
        {{  block.vars.contentBlock.content | render_content }}
    </div>
{% endblock %}

{% block _footer_subscribe_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': 'cellSocialNewsletter subscribe-container-footer',
    'data-page-component-module': 'ibnabnewsletter/js/app/components/newsletter-block'
    }) %}
    <div {{ block('block_attributes') }}>            
        <span><label id="subscribe-form__label">{{'ibnab.footer_subscribe.subscribe_field_label'|trans({}, translation_domain)}}</label><span><br />
        <span><label id="subsubscribe-form__label">{{'ibnab.footer_subscribe.subsubscribe_field_label'|trans({}, translation_domain)}}</label></span>        
    </div>
    <div {{ block('block_attributes') }}>
        <div class="middle-form">
        <form id="subscribe-form"
               method="POST"
            >
            <input id="subscribe-form__input" required="required" class="input" type="email" placeholder="{{'ibnab.footer_subscribe.subscribe_field_placeholder'|trans({}, translation_domain)}}" name="email"/>
            <button id ="subscribe-form__button" name="subscribe-button" type="submit" class="btn btn--info">
                <span class="button-label">{{'ibnab.footer_subscribe.subscribe_button_field_label'|trans({}, translation_domain)}}</span><!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
     
            </button>
        </form>
            <label class="subscribe-container__success-label">{{'ibnab.footer_subscribe.footer_success_label'|trans({}, translation_domain)}}</label>
        </div>
    </div>
{% endblock %}