{% block _header_row_customer_widget %}
    <div class=" middlebar__left forAccount anonymous">
        <div class="customAccount" >
            <div class="header-row__container" >
                <a href="{{ path(route_name) }}" class="header-row__trigger hidden-on-desktop">
                    <span class="f-icon icon-user"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}