{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-sticky-target': 'top-sticky-panel',
        '~data-sticky': {
            isSticky: true,
            autoWidth: true,
            toggleClass: 'header-row--fixed slide-in-down',
            placeholderId: 'sticky-header-row',
            viewport: {
                maxScreenType: 'tablet',
            },
        },
        '~class': (blocks.header_row.children|length > 2 ? ' header-row--from-left')
    }) %}

    <div class="page-area-container">
        {{ parent_block_widget(block, {attr: attr}) }}
    </div>
{% endblock %}

{% block _header_row_main_menu_widget %}
    <div class="header-row__container header-row__container--unstack">

        <div class="header-row__toggle">
            <div class="header-row__dropdown" data-main-menu-container>
                
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block _header_row_main_menu_button_widget %}
        <button class="header-row__trigger custom-button-left hidden-on-desktop"
                data-page-component-module="oroui/js/app/components/viewport-component"
                data-page-component-options="{{ {
                    viewport: {
                        maxScreenType: 'tablet'
                    },
                    component: 'oroui/js/app/components/view-component',
                    view: 'orofrontend/blank/js/app/views/fullscreen-popup-view',
                    contentElement: '[data-main-menu-extra-container]',
                    popupLabel: 'oro_frontend.fullscreen_popup.menu.label'|trans,
                    popupIcon: 'fa-navicon fa--gray fa--x-large',
                    contentAttributes: {
                        'class': 'fullscreen-mode'
                    }
                }|json_encode() }}"
        >
            <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
                <span class="fa-navicon fa--black fa--no-offset"></span>
            </span>
        </button>
{% endblock %}
{% block _web_catalog_menu_second_level_sale_mega_widget %}
    {% set label = 'On Sale' %}
    {% set content %}
        {#<li class="main-menu-column__item">
            <a class="main-menu-column__link" href="#">
                <img class="main-menu-column__image"
                     src="{{- asset('bundles/orowebcatalog/images/onsale_1.jpg') -}}">
            </a>
        </li>#}
        {#<li class="main-menu-column__item">#}
            {#<a class="main-menu-column__link" href="#">#}
                {#<img class="main-menu-column__image"
                       src="{{- asset('bundles/orowebcatalog/images/onsale_2.jpg') -}}">#}
            {#</a>#}
        {#</li>#}
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}