{% block _header_row_customer_widget %}
    <div class=" middlebar__left forAccount hidden-on-desktop for-mobile">
        <div class="customAccount" >
            <div class="header-row__container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _header_row_customer_container_widget %}
    <div class="header-row__dropdown">
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _header_row_customer_trigger_widget %}
    <button class="header-row__trigger hidden-on-desktop"
            data-page-component-module="oroui/js/app/components/viewport-component"
            data-page-component-options="{{ {
                viewport: {
                    maxScreenType: 'tablet',
                },
                component: 'oroui/js/app/components/view-component',
                view: 'orofrontend/blank/js/app/views/fullscreen-popup-view',
                popupIcon: 'fa-user',
                popupBadge: true,
                popupLabel: 'oro.customer.menu.customer_user.label'|trans,
                contentElement: '[data-customer-menu-container]',
                contentAttributes: {
                    'class': 'fullscreen-mode'
                }
            }|json_encode() }}"
            >

            <span class="f-icon icon-user"></span>

    </button>
    <div class="header-row__toggle">
        {{ block_widget(block) }}
    </div>
{% endblock %}
