{% block _middle_bar_widget %}
    <div class="page-area-container">
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}
{% block _middle_bar_center_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__left forAccount for-desktop'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _middle_bar_right_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__right forShopping'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _middle_bar_logo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__center'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _middle_bar_search_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " search-widget-wrap"
    }) %}
    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: {
                    maxScreenType: 'mobile',
                },
                moveTo: '[data-search-widget-wrap-container]'
            }
        ]
    }|json_encode %} 
    <div {{ block('block_attributes') }}>
        <form  id="oro_website_search_search"
               action="{{ url('oro_product_frontend_product_search') }}"
               method="GET"
               novalidate="novalidate"
               class="search-widget"
               data-dom-relocation
               data-dom-relocation-options="{{ dom_relocation_options }}"
        >
            <input class="search-widget__input input input--full" type="text" placeholder="{{ 'oro.website_search.search_field_placeholder'|trans({}, translation_domain) }}" value="" name="search"/>
            <button name="oro_website_search_search_button" class="search-widget__submit" type="submit">
                <i class="fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}
{% block _header_row_search_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " search-widget-wrap mobile-header-row"
    }) %}
    {% set dom_relocation_options =  {
    }|json_encode %}  
    <div {{ block('block_attributes') }} data-search-widget-wrap-container="" >

    </div>
{% endblock %}