{% block _main_menu_shopping_lists_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/components/shoppinglist-widget-view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:refresh', 'frontend:shopping-list-item-quantity:update', 'frontend:item:delete'],
        },
        'data-dropdown-trigger': true,
        '~class': " main-menu__item main-menu__item--nested"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _header_row_shopping_toggle_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/components/shoppinglist-widget-view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:refresh', 'frontend:shopping-list-item-quantity:update', 'frontend:item:delete'],
        },
        '~class': " header-row__toggle header-row__wrapper",
        'data-header-row-toggle': '',
        'data-options': '{"attachToParent": "true"}'
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="header-row__dropdown"
             data-page-component-module="oroshoppinglist/js/app/views/shoppinglist-widget-view">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_widget %}
    <div class="cart-widget__content">
        <span class="cart-widget__icon">
            <i class="f-icon icon-basket"></i>
        </span>
        <span class="cart-widget__list-trigger">
            <span class="cart-widget__text">
                {% set isShowDropdown = true %}
                {% if not is_one_shopping_list_enabled() %}
                    {{ '(' ~ shoppingLists|length ~ ')' }}
                {% else %}
                    {% if (shoppingLists|length > 0) %}
                        {% set isShowDropdown = false %}
                        {{ '(' ~ shoppingLists|length ~ ')' }}
                    {% else %}
                        {{ '(0)' }}
                    {% endif %}
                {% endif %}
            </span>
            <i class="fa-angle-down"></i>
        </span>
    </div>
    {{ block_widget(block) }}
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_container_widget %}
    {% set currentClass = 'checked' %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/views/shoppinglist-widget-view',
        'data-page-component-options': {
            'currentClass': currentClass
        },
        'data-scroll': 'true',
        '~class': " shopping-list-widget__container"
    }) %}
    {% if is_one_shopping_list_enabled() %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-widget__container--limit"
        }) %}
    {% endif %}
    <div {{ block('block_attributes') }}>
        {% for shoppingList in shoppingLists -%}
            {% do block|merge_context({
            shoppingList: shoppingList,
            shoppingListProducts: shoppingListProducts,
            }) %}
            {{ block('container_widget') }}
        {%- endfor %}
    </div>
{% endblock %}

{% block shpoppinglist_top_item_widget %}
    {% set currentClass = 'checked' %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " shopping-list-dropdown__item"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="shopping-list-dropdown__radio">
            <label class="custom-radio {{ shoppingList.isCurrent ? currentClass }}"
                   data-toggle="tooltip"
                   title="Set as default"
                   data-shopping-list-id="{{ shoppingList.id }}"
                   data-role="shopping-list-current-label">
                
                <input type="radio" name="{{ id }}-radio" data-role="set-default" {{ shoppingList.isCurrent ? 'checked' }}
                       value="{{ shoppingList.id }}" data-label="{{ shoppingList.label }}"
                       class="custom-radio__control">
                <span class="custom-radio__text"></span>
            </label>
        </div>
        <a class="shopping-list-dropdown__link" href="{{ is_one_shopping_list_enabled() ? path('oro_shopping_list_frontend_view') : path('oro_shopping_list_frontend_view', {id: shoppingList.id}) }}">
            <span class="shopping-list-dropdown__title">
                <span class="shopping-list-dropdown__name">
                    <span class="shopping-list-dropdown__name-inner shopping-list-dropdown__name-inner--{{ shoppingList.id }}"
                          title="{{ shoppingList.label }}"
                          data-shopping-list-id="{{ shoppingList.id }}"
                           >{{ shoppingList.label }}</span>
                </span>
                <span class="shopping-list-dropdown__details">
                    {{ 'oro.frontend.shoppinglist.view.items.label'|transchoice(shoppingList.lineItems|length) }}
                    {% if shoppingList.lineItems|length > 0 %}
                        | {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}
                    {% endif %}
                </span>
            </span>
            <span class="shopping-list-dropdown__products">
                {% for product in shoppingListProducts[shoppingList.id]|default([]) %}
                    {% if loop.index == 5 %}
                        <span class="shopping-list-dropdown__ellipsis">...</span>
                    {% else %}
                        <span class="shopping-list-dropdown__products__item">{{ product.name }}</span>
                    {% endif %}
                {% endfor %}
            </span>
        </a>

    </div>
       {% if shoppingList.lineItems|length > 0 %}
       
        <div class="show-cart-details-checkout">
        <div class="btn-group">
            
            <a href="{{ is_one_shopping_list_enabled() ? path('oro_shopping_list_frontend_view') : path('oro_shopping_list_frontend_view', {id: shoppingList.id}) }}" role="button" class="btn btn--info">View Cart</a>
        </div>

        </div>
       {% endif %}

{% endblock %}

{% block shopping_list_dropdown_create_widget %}

    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="header-row__dropdown-footer">
        {{ UI.clientLink({
            'aCss': 'shopping-list-widget__create-btn',
            'iCss': 'fa-plus-circle',
            'label' : 'oro.frontend.shoppinglist.view.create_new_shopping_list.label'|trans,
            'widget' : {
                'type' : 'shopping-list-create',
                'options': {
                    'createOnly': true
                }
            }
        }) }}
    </div>

{% endblock %}
{% block _shopping_list_top_combined_button_widget %}
    {% if shoppingList.lineItems|length > 0 %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set actionButtonClass = 'btn btn--info btn--size-l full direct-link' %}
    <div class="shopping-list-line-items" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                layout: 'separate',
                options: {
                    view: 'oroshoppinglist/js/app/views/line-items-view'
                }
            }) }}>
    </div>
    <div class="show-cart-details-checkout order">
    <div class="btn-group checkout-widget">
            {% do block|merge_context({
            shoppingList: shoppingList
            }) %}
        {{ block('top_combined_buttons_widget') }}
    </div>
    </div>
    {% endif %}
{% endblock %}
{% block top_combined_buttons_widget %}
    {% set dropdownActionClass = dropdownActionClass|default('btn btn--block btn--info btn--size-l direct-link') %}
    {% set dropdownToggleClass = dropdownToggleClass|default('btn btn--info btn--size-l dropdown-toggle') %}
    {% set dropdownItemClass = dropdownItemClass|default('dropdown-item') %}
    {% set actionButtonClass = actionButtonClass|default('btn btn--action btn--size-s direct-link') %}
    {% set buttons = get_top_shoppinglist_button(shoppingList) %}
    {% set buttonsCount = buttons|length %}
    {% if buttonsCount > 0 %}
        {% set hasVariants = buttonsCount > 1 %}
        {% set button = buttons|first %}
        {% include button.template with button.templateData|merge({onlyLink: true, aClass: actionButtonClass, noIcon: true, noIconText: true}) %}

    {% endif %}
{% endblock %}
{% block top_combined_buttons2_widget %}
    {% set dropdownActionClass = dropdownActionClass|default('btn btn--block btn--info btn--size-l direct-link') %}
    {% set dropdownToggleClass = dropdownToggleClass|default('btn btn--info btn--size-l dropdown-toggle') %}
    {% set dropdownItemClass = dropdownItemClass|default('dropdown-item') %}
    {% set actionButtonClass = actionButtonClass|default('btn btn--action btn--size-s direct-link') %}
    {% set buttons = get_top_shoppinglist_button(shoppingList) %}
    {% set buttonsCount = buttons|length %}
    {% if buttonsCount > 0 %}
        {% set hasVariants = buttonsCount > 1 %}

        {% set button = buttons|first %}

        {% if hasVariants %}
            {% set additionalCss = "btn" %}
            {% if block.parent.vars.class_prefix == 'datagrid_toolbar_button_container' %}
                {% set additionalCss = additionalCss ~ " btn--info " %}
            {% endif %}
            {% if hasVariants %}
                {% set additionalCss = " btn-group btn-group--flex " %}
            {% endif %}
            {% set attr = attr|merge({ class: attr.class|default('') ~ additionalCss}) %}

            <div{{ block('block_attributes') }}>
                {% include button.template with button.templateData|merge({onlyLink: true, aClass: dropdownActionClass, noIcon: true, noIconText: true}) %}
                {% set togglerId = 'dropdown-'|uniqid %}
                <a href="#" role="button" id="{{ togglerId }}" class="{{ dropdownToggleClass }}" data-toggle="dropdown"
                   data-placement="bottom-end" data-inherit-parent-width="strictly" aria-haspopup="true" aria-expanded="true"
                   aria-label="{{ 'oro_frontend.combined_buttons.more_actions.label'|trans }}"></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                    {% for button in buttons|slice(1) %}
                        <li>
                            {% include button.template with button.templateData|merge({onlyLink: true, aClass: dropdownItemClass, noIcon: true, noIconText: true}) %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% include button.template with button.templateData|merge({onlyLink: true, aClass: actionButtonClass, noIcon: true, noIconText: true}) %}
        {% endif %}
    {% endif %}
{% endblock %}

