{% block _top_authorization_container_widget %}
    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: {
                    maxScreenType: 'tablet',
                },
                moveTo: '[data-main-menu-container]'
            }
        ]
    }|json_encode %}

    <div class="customAccount shown-on-desktop"> 
        <div class="header-row__container">
            <button class="header-row__trigger" data-toggle="dropdown">
                <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
                    <span class="f-icon icon-user"></span>
                </span>
            </button>

            <div class="header-row__toggle" data-header-row-toggle="">
                <div class="header-row__dropdown">
                    <div data-header-row-search-container=""> 
                        <ul class="topbar-navigation topbar-navigation--controls"
                            data-dom-relocation
                            data-dom-relocation-options="{{ dom_relocation_options }}"
                            >
                            {{ block_widget(block) }}
                        </ul></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block _top_sign_in_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link',
        'href': path(route_name)
    }) %}
    <li class=" topbar-navigation__item">
        <a {{ block('block_attributes') }}>
            <i class="fa-sign-in"></i> {{ text|trans }}
        </a>
    </li>
{% endblock %}
{% block _top_registration_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link'
    }) %}
    <li class=" topbar-navigation__item">
        <a {{ block('block_attributes') }} href="{{ path('oro_customer_frontend_customer_user_register') }}">
            <i class="fa-users"></i> {{ text|trans }}
        </a>
    </li>
{% endblock %}
{% block _top_sign_in_link_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': '  pull-right topbar-navigation__item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}




{% block _second_top_authorization_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'topbar-navigation login'
    }) %}
   <div class=" pull-left">
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
   </div>
{% endblock %}

{% block _second_top_sign_in_link_widget %}


    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__item',
        'href': path(route_name)
    }) %}
    <a {{ block('block_attributes') }}>
        <i class="fa-sign-in"></i> {{ text|trans }}
    </a>
{% endblock %}

{% block _second_top_registration_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__item',
        'href': path(route_name)
    }) %}
    <a {{ block('block_attributes') }}>
        <i class="fa-users"></i> {{ text|trans }}
    </a>
{% endblock %}