{% block _top_nav_controls_widget %}
    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: {
                    maxScreenType: 'tablet',
                },
                moveTo: '[data-main-menu-container]'
            }
        ]
    }|json_encode %}

    <div {{ block('block_attributes') }}>
        <div class="customAccount shown-on-desktop"> 
            <div class="header-row__container">
                <button class="header-row__trigger" data-toggle="dropdown">
                    <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
                        <span class="f-icon icon-user"></span>
                    </span>
                </button>

                <div class="header-row__toggle" data-header-row-toggle="">
                    <div class="header-row__dropdown">
                        <div data-header-row-search-container=""> <ul class="topbar-navigation topbar-navigation--controls"
                                                                      data-dom-relocation
                                                                      data-dom-relocation-options="{{ dom_relocation_options }}"
                                                                      >
                                {{ block_widget(block) }}
                            </ul></div>
                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block _top_nav_logged_user_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__item topbar-navigation__item--user-name'
    }) %}

        
    <div class=" pull-left">
      <ul class=" topbar-navigation">                   
        <li {{ block('block_attributes') }}>
        {% for child in block %}
             {{ block_widget(child) }}{% if not loop.last %} {% endif %}
        {% endfor %}
        </li>
      </ul>
    </div>
{% endblock %}

{% block _top_nav_sign_out_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__item'
    }) %}

    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block _top_nav_my_customer_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__item shown-on-desktop'
    }) %}
    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block _top_nav_sign_out_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link',
        'href': path(route_name),
        'data-dom-relocation': true,
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: {
                        maxScreenType: 'tablet'
                    },
                    moveTo: '[data-customer-menu-container]'
                }
            ]
        }
    }) %}
    <a {{ block('block_attributes') }}>
        <i class="fa-sign-out"></i> {{ text|trans }}
    </a>
{% endblock %}

{% block _top_nav_my_customer_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' topbar-navigation__link',
        'href': path(route_name)
    }) %}
    <a {{ block('block_attributes') }}>
        <i class="fa-user"></i> {{ text|trans }}
    </a>
{% endblock %}

