/* @theme: blank; */

@mixin element-state($state) {
    @if $state == 'active' {
        &:active {
          border-color: get-color('primary', 'input-border');
          box-shadow: none;
        }
    }

    @else if $state == 'hover' {
        &:hover {
            border-color: get-color('primary', 'input-border');
            box-shadow: none;
        }
    }

    @else if $state == 'visited' {
        &--visited,
        &:visited {
            @content;
        }
    }

    @else if $state == 'focus' {
        &--focus,
        &:focus {
            border-color: get-color('primary', 'input-border');
            box-shadow: none;
        }
    }

    @else if $state == 'warning' {
        &--warning,
        &.warning {
            @content;
        }
    }

    @else if $state == 'success' {
        &--success,
        &.success {
            @content;
        }
    }

    @else if $state == 'error' {
        &--error,
        &.error {
            @content;
        }
    }

    @else if $state == 'disabled' {
        &--disabled,
        &.disabled,
        &:disabled {
            @content;
        }
    }
}
