/* @theme: blank; */
$embedded-list-featured-categories: 20px 0 0 0;

$embedded-list-bottom-offset: 20px;
$embedded-list-custom-background: get-color('additional', 'ultra');
$embedded-list-custom-border: 1px solid get-color('additional', 'light');
$embedded-list-custom-padding-bottom: 20px;

$embedded-list-label-offset-bottom: 10px;
$embedded-list-label-inner-offset: 0 16px !default;
$embedded-list-label-line-height: 20px !default;
$embedded-list-label-font-size: 18px !default;
$embedded-list-label-text-align: left !important;
$embedded-list-label-border: 1px solid get-color('additional', 'light');


$embedded-list-label-inner-padding: 20px 16px;
$embedded-list-label-inner-background: transparent;

$embedded-list-label-before-top: 0 !default;
$embedded-list-label-before-height: 2px !default;
$embedded-list-label-before-background: get-color('additional', 'darker') !default;

$embedded-list-item-offset-inner: 0 $offset-x-m !default;


$embedded-list-slider-mobile-landscape-side-offset: $offset-x-s 0 0 !default;
$embedded-list-slider-mobile-landscape-offset: $offset-y-m 0 0 !default;

$embedded-list-slider-btn-arrow-width: 36px !default;
$embedded-list-slider-btn-arrow-height: 50px !default;
$embedded-list-slider-btn-arrow-top-pos: 50% !default;
$embedded-list-slider-btn-arrow-side-pos: -($embedded-list-slider-btn-arrow-width) !default;
$embedded-list-slider-btn-arrow-background: none !default;
$embedded-list-slider-btn-arrow-transform: translate(0, -50%) !default;
$embedded-list-slider-btn-arrow-hover-background: none !default;

$embedded-list-slider-arrow-size: 40px !default;
$embedded-list-slider-arrow-side-offset: 3px !default;
$embedded-list-slider-icon-color: lighten(get-color('additional', 'dark'), 16.5%) !default;

$embedded-list-tiles-gap: $offset-x !default;
$embedded-list-tiles-offset: 0 0 0 (-$embedded-list-tiles-gap) !default;
$embedded-list-tiles-justify-content: center !default;

$embedded-list-tiles-item-width: 25% !default;
$embedded-list-tiles-item-offset: 15px 0 10px !default;
$embedded-list-tiles-item-inner-offset: 0 0 0 $embedded-list-tiles-gap !default;
$embedded-list-tiles-item-text-align: center !default;

// tablet-small
$embedded-list-tiles-item-hide-same-on-tablet-small: true !default;
$embedded-list-tiles-item-width-tablet-small: 33.33% !default;
$embedded-list-tiles-item-offset-bottom-tablet-small: 25px !default;

// mobile-landscape
$embedded-list-tiles-item-width-mobile-landscape: 50% !default;
$embedded-list-tiles-item-offset-bottom-mobile-landscape: 20px !default;

// mobile
$embedded-list-label-mobile-font-size: $base-font-size !default;
$embedded-list-tiles-item-width-mobile: 100% !default;
$embedded-list-tiles-item-offset-bottom-mobile: 15px !default;
