/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?42530154');
    src: url('./font/fontello.eot?42530154#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?42530154') format('woff'),
        url('./font/fontello.ttf?42530154') format('truetype'),
        url('./font/fontello.svg?42530154#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.middlebar__right.forShopping .f-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   font-size: 32px;
   color: get-color('additional', 'darker');
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 .middlebar__right.forShopping [class^="icon-"]:before, .middlebar__right.forShopping [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;

  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  font-size: 32px;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.fa {
    &--darker {
        color: get-color('additional', 'darker');
    }
}
