/* @theme: default; */
$header-row-container-flex-basis: 210px !default;
$header-row-unstack-width: calc(100% - #{$header-row-container-flex-basis}) !default;
.header-row {
    display: flex;

    max-width: $site-width;
    margin: 0 auto !important;

    justify-content: space-between;

    @include clearfix();
    .search-widget-wrap{
        &.mobile-header-row{
            display:none; 
        }

        .search-widget__input.input.input--full{
            background-color: get-color('primary', 'input-search-backround');
        }
        .search-widget__submit{
            background: inherited;
            background-color: get-color('secondary', 'light');
            color: get-color('additional', 'ultra');
            border-radius: $button-search-border-radius;
            cursor: pointer;
        }
    }
    &__container {
        flex-basis: 210px;

        &.show {
            .header-row__toggle {
                visibility: inherit;

                transition: opacity .2s;

                opacity: 1;
            }
        }
    }

    &__trigger {
        border-right: 1px solid get-color('additional', 'ultra');
    }

    &--from-left .main-menu-outer {
        justify-content: flex-start;
    }
}
.middlebar__left.forAccount.anonymous{
    //width: 6.6% !important;
    margin-top: 0px !important;
    width: 40px;
}
@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            display: none !important;
        }
    }
    %shown-on-desktop {
        &.shown-on-desktop {
            display: block !important;
        }
    }
    .middlebar__left.forAccount{
        //width: 6.6% !important;
        float: right;
        width: 40px;
    }
    .header-row {
        &__container {
            @extend %hidden-on-desktop;

            &--unstack {
                flex-grow: 1;
                width: $header-row-unstack-width;
            }
        }

        &__trigger {
            @extend %hidden-on-desktop;
            &.iman{
                background-color: white;
                display: block !important;
                width: 5%;
                margin: 8px 0 !important;
                cursor: pointer;
            }
            padding: 0;
        }

        &__toggle {
            @extend %hidden-on-desktop;

        }
    }
}

@include breakpoint('tablet') {
    .middlebar__left.forAccount{
        //width: 6.6% !important;
        float: right;
        width: 40px;
        margin-top: 5px !important;
    }
    .header-row {
        position: relative;

        z-index: z('base') + 2;

        margin: 0 (-$offset-x-m);

        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;

            &.show {
                .header-row__trigger {
                    background: get-color('additional', 'ultra');
                    box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .2);
                }
            }
        }

        &__toggle {
            display: block;

            position: absolute;
            z-index: z('dropdown') + 1;
            right: 0;
            left: 0;

            visibility: hidden;
            overflow-y: auto;

            transition: opacity .2s, visibility .2s;

            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            opacity: 0;
        }

        &__dropdown {
            min-width: 260px;

            background: get-color('additional', 'ultra');

        }

        &--fixed {
            margin: 0;
        }

        & .main-menu__sublist-container {
            width: auto;
        }

    }

}
@include breakpoint('mobile') {
    .header-row {
        display: block;
        .search-widget-wrap{
            .search-widget{
                margin: 0 !important;  
            }
            max-width: inherit;
            &.mobile-header-row{
                display:block; 
            }
        }
    }
}
.customShopping{
    .cart-widget__icon {
        //background-color: #000 !important;
    }
    &__trigger {
        background-color: transparent;

    }
    .header-row__trigger {
        background-color: transparent;
        margin-right: 20px;

    }
    .shopping-list-widget .header-row__wrapper {
        margin-right: 20px;
    }
    .main-menu__item--nested {
        padding: 0;
        background-color: transparent;
        &:hover {
            background-color: transparent !important;  
        } 
    }
}
.customSearch{
    .header-row {
        position: relative;

        z-index: 1;

        margin: 0 -($offset-x-m);

        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;

            &--unstack {
                flex-grow: 1;
            }

            &.open {
                .header-row__trigger {
                    background-color: transparent;
                    box-shadow: none;
                }
                .header-row__toggle  {
                    margin-top: 15px;
                }
            }
        }
        &__trigger {
            background-color: transparent;
            cursor: pointer;
            .nav-trigger__icon {
                font-size: 32px;
                line-height: 1.5;
                margin-right: 25px;
                cursor: pointer;
            }
        }
        &__toggle {
            display: block;

            position: absolute;
            z-index: z('dropdown') + 1;
            right: 0;
            left: 0;

            visibility: hidden;
            overflow-y: auto;

            transition: opacity .2s, visibility .2s;

            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            opacity: 0;
        }

        &__dropdown {
            min-width: 260px;
            background: get-color('additional', 'ultra');
            .search-widget{
                margin: $offset-y $offset-x;
            }

        }

        &--fixed {
            margin: 0;
        }

    }
}
.customAccount{
    a:hover {
        border-color: transparent;
    }
    .header-row {
        position: relative;
        z-index: 1;
        margin: 0 -($offset-x-m);

        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;

            &--unstack {
                flex-grow: 1;
            }

            &.open {
                .header-row__trigger {
                    background-color: transparent;
                    box-shadow: none;
                    border-color: none;
                }
                .header-row__toggle  {
                    margin-top: 15px;
                }
            }
        }
        &__trigger {
            background-color: transparent;
            cursor: pointer;
            .nav-trigger__icon {
                font-size: 32px;
                line-height: 1.5;
                margin-right: 25px;
                cursor: pointer;
            }
        }
        &__toggle {
            display: block;
            padding: 10px;
            width: 140px !important;
            position: absolute;
            z-index: z('dropdown') + 1;
            right: 0;
            left: -110px!important;
            top: 5px !important;
            visibility: hidden;
            overflow-y: auto;

            transition: opacity .2s, visibility .2s;

            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            opacity: 0;
        }

        &__dropdown {
            min-width: 130px;
            background: get-color('additional', 'ultra');
            .search-widget{
                margin: $offset-y $offset-x;
            }
            .topbar-navigation{
                display: block !important;
                max-width: 130px;
                margin-right: 0;
            }
            .topbar-navigation__item {
                margin-right: 0px;
                line-height: 26px;
            }
            .topbar-navigation__item--user-name{
                display: none !important;
            }
        }

        &--fixed {
            margin: 0;
        }

    }
}