.logo {
    display: block;
    width: 165px;
    height: 50px;
    float: left;

}
.logo-img{
    display: block;
    width: 165px;
    height: 50px;    
}
.logo--print-only.logo {
    display: none;
}
@include breakpoint('tablet') {
    .logo{      
        width: 132px !important;
        height: 40px !important;
    }
    .logo-img{      
        width: 132px !important;
        height: 40px !important;
    }
    .middlebar__center {
        width: 28% !important;
    }

}
@include breakpoint('mobile') {
    .logo{      
        width: 110px !important;
        height: 33px !important;
        padding-top: 5px;
    }
    .logo-img{      
        width: 110px !important;
        height: 33px !important;
    }
    .middlebar__center {
        width: 56% !important;
    }
}