//modernA
.page-container{
    &.home  {
        .page-main{
             &__header{margin-bottom: 5px;border-width: 0px !important;} 
             
             background: none;
        } 
        .featured-menu{
            &__grid{
              margin-bottom: 20px;  
            }   
        }
        .featured-categories{
            .embedded-list__tiles{
                padding: 10px;
            }
        }
    }
}
.page-area-container{
    max-width: 1200px;
}
.page-header{
    .middlebar__right.forShopping .search-widget__submit{
        font-size: 26px !important;
        border-radius: 0px;
    }
}
.page-main{
    background: get-color('primary', 'main-backgroud');
    &__content {
        margin: 0px auto 50px;
        max-width: 1200px;
    }
}  
.logo, .logo-img {
    width: 132px;
    height: 40px;
}
.add-to-shopping-list-button.btn--info ,.btn.dropdown-toggle.btn-more-actions.btn--info{
    background-color: get-color('additional', 'ultra');
    border-color: get-color('additional', 'darker');
    color: get-color('additional', 'darker');
    &:hover{
        background-color: get-color('primary', 'light');
        border-color: get-color('primary', 'button-border');
        color: get-color('additional', 'darker');        
    }
}
.shopping-list-widget .show-cart-details-checkout .btn-group .btn--info{
    background-color: get-color('additional', 'ultra');
    border-color: get-color('additional', 'darker');
    color: get-color('additional', 'darker'); 
    &:hover,&:focus{
        background-color: get-color('primary', 'light');
        border-color: get-color('primary', 'button-border');
        color: get-color('additional', 'darker');        
    }
}
.shopping-list-widget .show-cart-details-checkout .btn-group.checkout-widget .btn--info{
    background-color: get-color('secondary', 'light');
    border-color: get-color('secondary', 'light');
    color: get-color('additional', 'ultra'); 

}
.order-checkout-widget .btn.btn--info.btn--size-l.full.direct-link{
    background-color: get-color('secondary', 'light');
    border-color: get-color('secondary', 'light');
    color: get-color('additional', 'ultra');    
}
.product-quick-preview-product{
    background-color: get-color('additional', 'ultra') !important;
    border: 0.5px solid get-color('additional', 'darker') !important;
    border-color: get-color('additional', 'darker') !important;
    color: get-color('additional', 'darker') !important;
    //border-bottom: 0px !important;
    //border-right: 0px !important;
    &:hover{
        background-color: get-color('primary', 'light') !important;
        border: 0.5px solid get-color('primary', 'button-border') !important;
        color: get-color('additional', 'darker') !important;           
        box-shadow: none;
    }    
    .all-content{
        padding: 8px !important;
    }
}

.view-product-gallery{
    background-color: get-color('additional', 'ultra') !important;
    border: 0.5px solid get-color('additional', 'darker') !important;
    color: get-color('additional', 'darker') !important;
    border-left: 0px;
    border-bottom: 0px !important;
    border-left: 0px !important; 
    &:hover{
        background-color: get-color('primary', 'light') !important;
        border: 1px solid get-color('primary', 'button-border') !important;
        color: get-color('additional', 'darker') !important;  
        border-left: 0px !important;
        border-bottom: 1px !important;
    }     
}
.input-group-btn.qty-plus .btn-number{
    background-color: get-color('additional', 'ultra') !important;
    color: get-color('additional', 'darker') !important;
    &:hover{
        background-color: get-color('primary', 'light') !important;
        color: get-color('additional', 'darker') !important;           
    }    
}
.btn--info{
    background-color: get-color('additional', 'ultra');
    border-color: get-color('additional', 'darker');
    color: get-color('additional', 'darker'); 
    &:hover,&:focus{
        background-color: get-color('primary', 'light');
        border-color: get-color('primary', 'button-border');
        color: get-color('additional', 'darker');        
    }    
}
.easy-slider__info .btn--info{
    color: get-color('additional', 'ultra') !important; 
    border:0;
    &:hover{
        border:0; 
        color: get-color('additional', 'darker') !important;
    }  
}
.featured-menu {
    margin: 0px 0px 30px;
    //background: #fff;
    border: 1px solid get-color('additional', 'light');
    .featured-menu__item {
        padding: 0 8px;
        background: #fff;
    }
    .featured-menu__content {
        background: get-color('additional', 'ultra');
    }
}
@include breakpoint('desktop') {
    .featured-menu {
        .featured-menu__item {
            width: 25%;
            padding: 0 8px;
        }

    }
    picture{
        img {display:block}
    }
    .wrapper.home{
        .page-main__header{
            background: transparent;
            border: 0;
        }
        .page-main__content {
            margin-top: 30px;
        }
    }
    .page-main__content {
        padding: 0px !important;
        margin-top: 10px;
    }
    .page-main__header{
        border-bottom: 1px solid get-color('additional', 'light');
        .homeImanModernA{
            .home-silder{
                width: 66.66667%;
                float: left;
                margin-right: 2.5%;
                .easy-slider{
                    max-height: 508px; 
                    .slick-slide img{
                        max-height: 508px;   
                    }
                }

            }
            .home-banner{
                float: left;
                width: 30.8%;
                min-height: 508px;
                .banner1{
                    margin-bottom: 8%;
                    .ibnab-banner__img{
                        //height: 281px
                    }
                }
                .banner2{
                    .ibnab-banner__img{
                        height: 198px
                    }
                }
                .ibnab-banner__img{
                    width: 100%; 
                }
            }
        }
    }
    .header-row {
        border: 1px solid get-color('additional', 'base') !important;
        border: 0px;
        &--from-left .main-menu-outer{
            &__container{
                .main-menu{
                    display:none;
                    position: absolute;
                    //display: block;
                    z-index: 10;
                    left: 0;
                    top: 48px;
                    background: get-color('additional', 'ultra');

                    .main-menu__item{
                        background: get-color('additional', 'ultra');
                        
                    }
                    .main-menu__sublist-container{
                        //display: block;
                        left: 160px;
                        width: auto;
                        top: 10px;
                        background: get-color('additional', 'ultra');     
                        right: auto;

                    }
                }                  
                .main-menu.second {
                    display: flex;
                    position: relative;
                    top: 0;
                    opacity: 1; visibility: visible;
                    .main-menu__item{
                        background: none;
                    }
                }
                .main-menu__category {
                    .main-menu.category{
                        .main-menu__link{
                            width: 200px;
                            text-align: left;
                            .main-menu__taptick{
                                float: right;
                            }
                        }
                        width: 200px;  
                    }
                    .main-menu__item.category{
                        .main-menu__link{
                            width: 200px;
                            text-align: left;
                            font-weight: bold;
                            color: #000;
                            border-right: 1px solid get-color('additional', 'base');
                            .fa-navicon.one{
                                float: right;
                            }
                            &:hover{


                                // content: "\F0C9";
                            }
                            &:after{
                                // content: "\F0C9";
                            }
                        }
                    }
                }
                .main-menu__category {
                    &:hover {
                        background: get-color('additional', 'base');
                        .main-menu__item.category{
                            .main-menu__link{
                                color: get-color('secondary', 'light');
                                border-top: 2px solid get-color('secondary', 'light');
                                margin-top: -2px;

                            }

                            background: get-color('additional', 'base');
                        }
                        .main-menu{                         
                            display: block; 
                        }
                        .main-menu__item{
                            &:hover {
                                .main-menu__sublist-container{
                                    display: block;
                                }
                            }
                        }
                        .main-menu__link,.main-menu__text,.main-menu__item{                      
                            background: get-color('additional', 'base'); 
                            border-top: 0;
                        }

                    }
                }

            }
        }
    }

}
@include breakpoint('tablet') {
    .fullscreen-popup__content {
        .main-menu-outer{
            .main-menu__item.category{
                display: none;
            }
        }
    }
    .page-main{
        &.proudct-view{
            .product-quick-preview-product .all-content{
                padding: 10px 0 0 0 !important;
                &:before{
                    margin: 16px 0 0 16px;
                }
            }
            .view-product-gallery {
                &:before{
                    margin: 0px 0 0 0 !important;
                }
            }
        }

    }
    .product-quick-preview-product{
        border-bottom: 0px !important;
        border-right: 0px !important;
    }
    .homeImanModernA{
        .home-silder{
            width: 100%;
            float: left;
            margin-bottom: 20px;
            .easy-slider{
                //max-height: 508px; 
                .slick-slide img{
                    //max-height: 508px;   
                }
            }

        }
        .home-banner{
            float: left;
            width: 100%;
            .banner1{
                width: 48.5%;
                margin-right: 3%;
                float: left;
                .ibnab-banner__img{
                    width: 100%;
                    //height: 281px
                }
            }
            .banner2{
                width: 48.5%;
                float: left;
                .ibnab-banner__img{
                    width: 100%;
                    //height: 198px
                }
            }
        }
    }
}
@include breakpoint('mobile') {

    .page-main{
        &.proudct-view{
            .product-list--list-view{
                .product-quick-preview-product{
                    border: 0 !important;
                    top: 110px;
                    border-radius: 0px;
                }
                .view-product-gallery{
                    border: 0 !important;
                    top: 110px !important;
                    border-radius: 0px !important;                    
                }
            }
        }
    }
    .homeImanModernA{
        .home-silder{
            width: 100%;
            float: left;
            margin-bottom: 20px;
            .easy-slider{
                //max-height: 508px; 
                .slick-slide img{
                    //max-height: 508px;   
                }
            }

        }

        .home-banner{
            float: left;
            width: 100%;
            .banner1{
                width: 100%;
                margin-bottom: 20px;
                float: left;
                .ibnab-banner__img{
                    //width: 100%;
                    //height: 281px
                }
            }
            .banner2{
                width: 100%;
                float: left;
                .ibnab-banner__img{
                    //width: 100%;
                    //height: 198px
                }
            }
        }
    }
    .featured-menu {

        .featured-menu__item {
            width: 100%;
            flaot: left;
        }

    }
}
.topbar {
    padding: 0px 0;
    background: get-color('additional', 'base');
}
.page-main.offset-none{
    background: get-color('additional', 'base');
}