.page-main__content{
    max-width: 1200px;
    padding: 0;
}
.page-area-container,.page-content{
    max-width: 1200px;
    margin: 0 auto;
    .header-row--from-left {
        .main-menu-outer{
            background: get-color('primary','backgroud-menu');
            .main-menu__item:hover {
                background: get-color('additional','darker');
                .main-menu__link{
                    //color: get-color('secondary', 'light');
                    border-top: unset;
                    background: get-color('additional','darker');
                }   
            }
            .main-menu__item.active {
                background: get-color('additional','darker');
                .main-menu__link{
                    //color: get-color('secondary', 'light');
                    border-top: unset;
                    background: get-color('additional','darker');
                }
            }
            .main-menu__link{
                color: get-color('additional','ultra');
            }
            .main-menu__sublist-container{
                //border-top: 2px solid get-color('secondary', 'light');
            }  
        }
    }
    .middlebar{
        margin: 20px 0px;
        .search-widget-wrap{
            width: 55%;
        }
        .middlebar__right{
            &.forShopping{
                .f-icon,.cart-widget__list-trigger{
                    color: get-color('primary','backgroud-menu');
                }
                .search-widget__input{
                    &.input.input--full{
                        border-radius: 20px;
                        &:hover,&:focus{
                            border: 1px solid get-color('primary','border-base') !important; 
                        }
                    }
                }  
                .search-widget{
                    &__submit{
                        border-radius: 0px 20px 20px 0px;
                        background-color: get-color('additional','ultra'); 
                        color: get-color('primary','backgroud-menu');
                        border: 1px solid get-color('primary','border-base'); 
                    }
                }
            }
        }
    }
    .featured-menu__content{
        padding: 5px;
    }
    .embedded-list{
        border: 0px solid get-color('additional','light');
    }

    .home-our-services {
        .iconfont{
            font-size: 5rem !important;
            margin: 0rem;
            margin-top: 0px; 
        }
        .row{
            padding: 0px !important;
        }
        .cell{
            padding: 0px;   
        }
    }
    .product-view,.oro-datagrid,#shopping_list_view_container_content,.cms-page,.login-form,.register-form{
        border-top: 1px solid get-color('additional','light');
    }
    &.page-content--has-sidebar {
        padding: 10px 10px 10px 0px;
        //padding-right: 10px;
        #shopping_list_view_container_content{
            border: 1px solid get-color('additional','light');
            border-top: 1px solid get-color('additional','light');
            padding: 15px;
        }
    }
}
.shopping-list-widget .show-cart-details-checkout .btn-group.checkout-widget .btn--info,.easy-slider__info .btn--info{
    background: get-color('primary','backgroud-menu');
    border-color: get-color('primary','backgroud-menu');
    
}
.page-main .page-sidebar{
    padding: 10px 10px 10px 0px;
    .primary-menu-container{
        padding: 0px 0px 20px;
        .primary-menu-title{
            padding: 10px;
            background: get-color('primary','backgroud-menu');
            color: get-color('additional','ultra');

        }
        .primary-menu-container__hidden-on-tablet{
            padding: 0 10px;
        }
    }
}
.page-footer{
    background-color: get-color('primary','backgroud-menu');
    .information-nav__title{
        color: get-color('secondary','light'); 
    }
    .information-nav__item-content{
      color: get-color('additional','ultra');   
    }
    .copyright{
      color: get-color('additional','ultra');
    }
     
.social-newsletter {
    max-width: 1200px;
    margin: 0 auto;
    .subscribe-container-footer .middle-form #subscribe-form__input{
        background-color: get-color('additional','ultra');
        border-radius: 20px;
    }
    #subscribe-form__button{
        border-radius: 0px 20px 20px 0px;
        background-color: get-color('additional','ultra');
        color: get-color('primary','backgroud-menu');
        border: 1px solid get-color('primary','border-base');
    }
    #subscribe-form__label{
       color: get-color('additional','ultra');      
    }
    #subsubscribe-form__label{
      color: get-color('additional','light');  
    }
}
}
@include breakpoint('tablet') {
    .home{
        .home-our-services {
            .iconfont{
                font-size: 5rem !important;
                margin: 0rem;
                margin-top: 0px; 
            }
            .row{
                padding: 10px !important;
            }
            .cell{
                padding: 0px;   
            }
        }
    }

}