/* @theme: custom; */
.page-main{
    .page-content{
        &--has-sidebar{
            border: 0px solid #d7d7d7;
            border-top: 0px solid #000;   
        }        
    }
    .page-sidebar{
        border: 0px solid #d7d7d7;
        border-top: 0px solid #000;

    }
}
.home{
    .page-main{
        .page-sidebar{
            padding: 10px 20px 10px 0px;
        }
    }
    .sidebar__menu {
        padding: 0px 0px 30px 0px;
        .main-menu-column {
            &--splited &__inner-left,
            &--splited &__inner-right {
                margin-bottom: $main-menu-column-splited-inner-left-offset-bottom;
            }

            &__inner {
                margin-bottom: $main-menu-column-inner-offset-bottom;
            }
        }
        max-height: none;
        margin-top: 3px;
        //padding: 30px 15px 30px 30px;

        border: 0;
        background-color: get-color('additional', 'base');

        &:first-child {
            margin-top: 0;
        }

        .main-menu {
            max-height: inherit;

            display: block;
        }

        &--collapsible {
            background-color: get-color('additional', 'base');

            border: 0;

            .main-menu {
                margin: 0 0px 0 0px;
                padding: 5px 0 0 0;
                &-columns{
                    padding: 0;
                    &__subitem{
                        padding-left: 20px;
                    }
                }
                .main-menu__item.expanded {
                    .main-menu__link {
                        .fa-angle-down {
                            left: 15px;
                        }
                    }

                    .main-menu__sublist-container {
                        display: block;
                    }
                }
                &__button-arrow{
                    margin-left: -0px !important;
                }
                &__item:hover {
                    //background: get-color('additional','darker');
                    .main-menu__link{
                        //color: get-color('secondary', 'light');
                        border-top: unset;
                        //background: get-color('additional','darker');
                    }   
                }
                &__item.active {
                    //background: get-color('additional','darker');
                    .main-menu__link{
                        //color: get-color('secondary', 'light');
                        border-top: unset;
                        //background: get-color('additional','darker');
                    }
                }
                .main-menu__link {
                    padding: 8px 15px 7px 30px;
                }
            }
        }

        .main-menu__item {
            min-height: initial;

            &:last-child {
                margin-bottom: 0;
            }

            &--floated-dropdown,
            &--centered-dropdown {
                position: static;
            }
        }

        .main-menu__link {
            &.main-menu__link--is-trigger{
               width: 100%;
               padding: 12px 10px;
               background: get-color('primary','backgroud-menu');
               color: get-color('additional','ultra');
               .fa-navicon.one{
                   vertical-align: bottom;
                   font-size: 1.3rem;
               }
            }
            min-height: initial;
            padding: 8px 0 7px;

            font-size: $base-font-size--s;
            line-height: 1.46;

            text-align: left;

            color: get-color('additional', 'dark');

            &:hover {
                text-decoration: underline;
            }

            &--is-trigger {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .main-menu__sublist-container {
            width: 100%;

            position: static;

            background: none;
            box-shadow: none;
        }
    }
}
@include breakpoint('desktop') {
    .home{
        .sidebar__menu {
            .main-menu-column {
                margin: $main-menu-column-offset;
                padding: $main-menu-column-offset-inner;
                width: 100%;
                border-top: $main-menu-column-border-top;
            }
            .main-menu {
                .mobile-version & {
                    &__button-arrow {
                        display: block;
                        margin-left: -15px;
                    }
                }

                &__item {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@include only-desktop {
    .home{
        .sidebar__menu {
            .main-menu {
                &__item {
                    &:hover {
                        .main-menu__sublist-container {
                            display: none;
                        }
                    }

                    &.show {
                        .main-menu__sublist-container {
                            display: block;

                            border-width: 0;
                        }
                    }
                }

                &__taptick {
                    display: none;
                }

                &__button-arrow {
                    display: block;
                    margin-left: -15px;
                }
            }
        }
    }
}

@include breakpoint('tablet') {
    .home{
        .sidebar__menu {
            display: none;
            .main-menu {
                border-bottom: 1px solid get-color('additional', 'light');
            }
        }
    }

}
