<div class="ibnab-banner__picture">
    <picture>
        {% if banner.mediumCache is not null %}                                   
            <source srcset="{{ banner.mediumCache }}"
                    media="(max-width: 992px)">
        {% endif %}
        {% if banner.smallCache is not null %}
            <source srcset="{{ banner.smallCache }}"
                    media="(max-width: 414px)">
        {% endif %}
        <img class="ibnab-banner__img" src="{{ banner.bigCache }}" alt="{{ banner.imgAlt }}" />
    </picture>
</div>