{% extends 'OroUIBundle:actions:update.html.twig' %}
{% set formAction = entity.id ? path('ibnab_slider_banner_update', {id: entity.id}) : path('ibnab_slider_banner_create') %}

{% oro_title_set({params : {'%banner.title%': entity.title, '%entityName%': 'ibnab.slider.banner.entity_label'|trans} }) %}

{% block navButtons %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {{ UI.cancelButton(path('ibnab_slider_banner_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if form.vars.value.id or is_granted('ibnab_slider_banner_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('ibnab_slider_banner_index'),
            'indexLabel': 'ibnab.slider.banner.entity_plural_label'|trans,
            'entityTitle': entity.title
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'ibnab.slider.banner.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'banner' %}
    {% set formRows = [
        form_row(form.title),
        form_row(form.description),
        form_row(form.start),
        form_row(form.finish),
        form_row(form.order), 
        form_row(form.imageSlider),
        form_row(form.imageSliderMed),
        form_row(form.imageSliderSmall),        
        form_row(form.isActive),
        form_row(form.url),
        form_row(form.target),
        form_row(form.imgAlt)
    ] %}


    {% set dataBlocks = [{
        'title': 'General'|trans,
        'class': 'active',
        'subblocks': [
            {
                'title': 'Basic Information'|trans,
                'data': formRows
            }
        ]
    }] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock content_data %}
