$quick-view-product-icon-size: 18px;;
$quick-view-product-icon-text-shadow-custom: inherit;
$quick-view-product-icon-box-shadow: 0 0 2px #626365;
$quick-view-product-background-custom: get-color('additional', 'ultra') !important;
$quick-view-product-icon-color-custom: get-color('additional', 'darker') !important;
$quick-view-product-background-custom-hover: get-color('additional', 'darker') !important;
$quick-view-product-icon-color-custom-hover: get-color('additional', 'ultra') !important;
