.add-to-shopping-list-button{
    &.btn--info{
        background-color: get-color('additional', 'darker');
        border-color: get-color('additional', 'darker');
    }
}
@include breakpoint('desktop') {
.checkout-credentials__button-set{
    display: block;
    text-align: center;
}
}
@include breakpoint('tablet') {
.checkout-credentials__button-set{
    display: block;
    text-align: center;
}
}