/* @theme: blank; */

body.loading {
    // @TODO: Remove this fix when Apple fix caret placement bug
    top: 0 !important;

    > .loader-mask {
        position: fixed;
        z-index: z('fixed');
    }
}

.loading {
    position: relative;

    > .loader-mask {
        &.shown {
            display: block;
        }
    }
}

.view-loading {
    height: $loader-mask-view-loading-height;
}

.loader-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z('dropdown') - 10;

    display: none;

    overflow: hidden;

    .loader-frame {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 105px;
        padding: $loader-mask-frame-offset-inner;

        font-size: $base-font-size;
        font-weight: bold;
        line-height:  64px;

        background: $loader-mask-frame-bg;
        border: $loader-mask-frame-border;

        border-radius: $loader-mask-frame-border-radius;
        box-shadow: $loader-mask-frame-box-shadow;

        transform: translate(-50%, -50%);

        .box {
            margin: 20px 0;
        }
    }
}

.loader-overlay {
    width: 100%;
    height: 100%;

    background: $loader-mask-overlay-bg;

    opacity: 0.2;
}

.loader-content {
    text-align: $loader-mask-loader-content-align;
    color: #fff;
}
.loader-content {
    padding-left: $loader-mask-loader-content-offset-inner-left;

    background: $loader-mask-loader-bg url($loader-mask-loader-url-iman) no-repeat center left;
}