// @theme: default;

.middlebar {
    margin: 0;
    padding: 5px 0;
    &__center {
        //width: calc(100% - 300px * 2);
        width: 30%;
        display: block;
        flex: 0 0 auto;
        justify-content: center;
        margin-left: 5px;
    }
    .search-widget-wrap {
        width: 80%;
        float: left;
        max-width: 914px;
    }
    &__left,
    &__right {
        width: 320px;
        flex: 0 0 auto;
        .for-mobile{
            display: none !important;
            margin-top: 20px;
        }
        .for-desktop{
            display: block !important;

        }
    }

    &__shopping-list {
        padding: 0 !important;
        background: transparent !important;
    }
}


@include breakpoint('tablet') {
    .shopping-list-widget.show > .header-row__toggle{
        margin-top: -8px;
    }
    
    .middlebar {
        .search-widget{
            margin: 4px 16px !important;
        }
    .middlebar__right.forShopping {
        max-height: 55px;
    }
        .search-widget-wrap {
            width: 75%;
            float: left;
            max-width: 914px;
        }
        padding: 2px 0;
        flex-wrap: wrap;
        justify-content: center;
        &__center {
            display: block !important;
            width: 80%;
            float: left;
            
        }

        &__left {
            width: 100%;
            display: flex;
            justify-content: center;

        }

        &__right {
            width: 70%;
            display: block !important;
            float: right;
            .for-mobile{
                display: block !important;
            }
            .for-desktop{
                display: none !important;
            }
        }
        .fa-navicon{
            font-size: 32px;
            &.fa--black{
                color: get-color('additional', 'darker');
            }
        }
    }
}
@include breakpoint('tablet-small') {
    .middlebar {
        .search-widget-wrap {
            width: 70%;
        }
        &__right {
           /*&.forShopping{
                width: 64% !important;
            }*/
        .shopping-list-widget{
          width: 70px !important;
          margin-right: 0px !important;
        }
        .header-row__trigger {
          padding: 7px 5px !important;
        }
        }
        &__center {
           // width: 34% !important;
        .header-row__trigger {
          padding: 7px 0px !important;
        }

        }
    }
}
@media (max-width: 620px){
    .middlebar__left.forAccount{
        //margin-top: 0px !important;
    }
    .middlebar {
        padding: 0px 0;
        .search-widget-wrap {
            display: none;
        }
        &__center {
           width: 68% !important;
        }
    .middlebar__right.forShopping {
        width: 30% !important;
        max-height: 45px;
    }
   &__left.forAccount {
    width: 40px;
    margin-top: 5px !important;
    }
    }
.search-widget-wrap {
    width: 100%;
    max-width: 620px;
}
    .header-row .search-widget-wrap.mobile-header-row {
       display: block !important;
    }

}
@include breakpoint('mobile') {
    .middlebar {
        padding: 0px 0;
        .search-widget-wrap {
            display: none;
        }
    }
}
@media (max-width: 360px){
    .middlebar {

        &__center {
           width: 64% !important;
        }
    .middlebar__right.forShopping {
        width: 34% !important;
        
    }
   &__left.forAccount {
    width: 40px;
    margin-top: 5px !important;
    }
    }

}
