.page-main.offset-none {
    background: get-color('primary', 'main-backgroud');
}

.page-main{
    background: get-color('primary', 'main-backgroud');
    &__content {
        margin: 0px auto 50px;
    }
    &__header{
        background: get-color('additional', 'ultra');        
        border: $embedded-list-custom-border;
        .breadcrumbs{
            padding: 10px;  
        }
        .category-title{

        }
    }
    .product-view__product-aside-container{
        .embedded-list{
            border: 0px solid #d7d7d7 !important;
        }   
    }
    .product-view__related-items.product-view__related-products{
        .embedded-list{
            border: 0px solid #d7d7d7 !important;
        }        
    }
    .list-theme.product-view .product-view__content .line-item-form{
        .product-view-quantity__value .input{
            padding: 10px 8px 12px;
        }
    }
    .product-view__related-items.product-view__upsell-products{
        .embedded-list{
            border: 0px solid #d7d7d7 !important;
        }         
    }
    .page-sidebar{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;  
    }
}
.page-content{
    .oro-datagrid{
        background: get-color('additional', 'ultra');
        background: $embedded-list-custom-background;
        border: $embedded-list-custom-border;
        margin-top: 20px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;
        .grid-container{
            padding: 10px;
        }
    }
    #shopping_list_view_container_content{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;
    }
    &.page-content--has-sidebar{
        #shopping_list_view_container_content{
            background: #fff;
            padding: 0px;
            border: 0px solid #d7d7d7;
            border-top: 0px solid #000;
        }
    }
    .product-view{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;   
        margin-top: 20px;
    }
    &.page-content--has-sidebar{
        background: $embedded-list-custom-background;
        padding: 10px 10px 10px 30px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;        
    }
    .register-form{
        background: $embedded-list-custom-background;
        //padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;       
    }
    .login-form{
        background: $embedded-list-custom-background;
        //padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;          
    }
    .page-title-wrapper{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        text-align: center;
    }
    .cms-page{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000; 
        margin-top: 18px;
    }
    .contact-us-form{
        background: $embedded-list-custom-background;
        padding: 10px;
        border: $embedded-list-custom-border;
        border-top: 2px solid #000;         
    }
    .featured-menu__grid{
        margin-bottom: 20px;
        .featured-menu__content{
            background: get-color('additional', 'ultra'); 
        }
        .featured-menu__icon{
            color: get-color('secondary', 'light'); 
        }
    }
}
.checkout-credentials{
    background: $embedded-list-custom-background;
    padding: 10px;
    border: $embedded-list-custom-border;
    border-top: 2px solid #000;     
}
.view-product-gallery:before {
    margin: 0px 0 0!important;
}
@include breakpoint('tablet') {

    .page-main{
        .product-quick-preview-product .all-content:before {
            margin: 6px 0 0 0px;
        }
        .page-sidebar{
                padding: 0px 10px;
        }
        .view-product-gallery:before {
            margin: 0px 0 0!important;
        }
        .embedded-list__slider .product-quick-preview-product .all-content:before {
            margin: 16px 0 0 14px;
        }
        &.proudct-view{
            .product-quick-preview-product .all-content{
                &:before{
                    margin: 16px 0 0 16px;
                }
            }
            .view-product-gallery {
                &:before{
                    margin: 0px 0 0 0 !important;
                }
            }
        }
        .page-content{
            &.page-content--has-sidebar{
                background: $embedded-list-custom-background;
                padding: 10px 10px 10px 10px;
                border: $embedded-list-custom-border;
                border-top: 0px solid #000;        
            }
        }

    }

}
@include breakpoint('mobile') {

    .page-main{
        &.proudct-view{
            .product-list--list-view{
                .product-quick-preview-product{
                    border: 0 !important;
                    top: 110px;
                    border-radius: 0px;
                }
                .view-product-gallery{
                    border: 0 !important;
                    top: 110px !important;
                    border-radius: 0px !important;                    
                }
            }
        }
    }
}
.quick-view-dialog-widget{
    .btn-group.product-add-to-shopping-list-container{
        width: 100%;
    }
}