.input-group-btn{
    &.qty-minus{
        position: absolute;
        .btn-number{
            border-radius: 5px 0 0 5px;
            line-height: 1.3;
            background: #fff;
            //box-shadow: 0 0 2px #626365;
            border: 1px solid #ebebeb;
            color:#000;
            //border-right: 0;
            /*&:disabled {
                background: #dddddd;
            }*/
            &:hover {
                background: #000;
                color:#fff;
            }
        }
    }
    &.qty-plus{
        position: relative;
        margin-left: -32px;
        .btn-number{
            border-radius: 0px 5px 5px 0px;
            line-height: 1.3;
            background: #fff;
            //box-shadow: 0 0 2px #626365;
            border: 1px solid #ebebeb;
            //border-left: 0;
            color:#000;
           /* &:disabled {
                background: #dddddd;
            }*/
            &:hover {
                background: #000;
                color:#fff;
            }
        }
    }
}
.product-item__qty .line_item_form_fields {
    width: calc(40% - 5px);
    display: flex;
}
.product-item__qty .qty-plus-minus {
    width: calc(60% - 5px);
    display: flex;
}