.product-quick-preview-product {
    color: $quick-view-product-icon-color-custom;
    background: $quick-view-product-background-custom;
    box-shadow: $quick-view-product-icon-box-shadow;
    text-shadow: $quick-view-product-icon-text-shadow-custom;
    border-radius: 5px;
    &:hover {
        color: $quick-view-product-icon-color-custom-hover;
        background: $quick-view-product-background-custom-hover;
    }
}
.view-product-gallery {
    color: $quick-view-product-icon-color-custom;
    background: $quick-view-product-background-custom;
    box-shadow: $quick-view-product-icon-box-shadow;
    text-shadow: $quick-view-product-icon-text-shadow-custom;
    border-radius:  0 5px 0 0;
    &:hover {
        color: $quick-view-product-icon-color-custom-hover;
        background: $quick-view-product-background-custom-hover;
    }
    &.hidden{
        opacity: 1;
        display: flex !important;
    }

}
@include breakpoint('tablet') {
    .product-quick-preview-product {
        border-radius: 5px 0 0 0;
    }
    .view-product-gallery {
        &__icon:before{
            margin: 6px 0 0 0px;
        }
    }

}