/* @theme: blank; */

.shopping-list-widget {
    .shopping-list-dropdown{
        &__item {
            clear: both !important;
        }
    }
    float: right;
    width: 80px;
    margin-right: 5px;
    .show-cart-details-checkout{
        padding: 10px 0;
        float: left;

        .btn-group{
            float: left;
            margin: 0 10px;
            .btn-group--flex{
                margin: 0px;
            }
            .btn--info{
                font-size: 20px !important;
                    //background-color: get-color('primary', 'view-cart');
                    //border-color: get-color('primary', 'view-cart');               
            }
            &.checkout-widget{
                .btn--info{
                    background-color: get-color('secondary', 'light');
                    border-color: get-color('secondary', 'light');
                }
                .btn--size-l {
                    font-size: 20px;
                    padding: 10px 10px;
                }
            }
        }
    }
    .show-cart-details-checkout.order{
        float: right;
        padding: 0px;
    }
    .header-row {
        &__container-wrapper {
            position: relative;
        }

        &__wrapper {
            position: absolute;
            z-index: z('dropdown') + 1;
            right: 2px;

            padding: 0;
            width: 382px;
            min-width: 260px;

            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            border: 1px solid get-color('additional', 'light');
            background: get-color('additional', 'ultra');
        }
    }

    &__create-btn {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin: 0;

        text-align: center;
        text-decoration: none;

        border: 0;
        border-top: .1rem solid get-color('additional', 'light');
        background: get-color('additional', 'light');

        @include hover-focus() {
            outline: 0;

            text-decoration: underline;
        }

        [class^="fa-"] {
            margin-right: 5px;

            vertical-align: middle;

            &:before {
                font-size: 18px;

                color: get-color('secondary', 'light');
            }
        }
    }

    &--disabled {
        pointer-events: none;
    }
}

.cart-widget {
    float: left;
    width: 100%;
    min-height: 62px;

    &__content {
        position: relative;

        margin: 9px 5px 0 0;
        vertical-align: middle;

        text-align: right;
    }

    &__clipboard {
        margin: 0 5px 0 0;
    }

    &__list-trigger {
        cursor: pointer;
    }

    &__order-btn {
        padding: 0;
        border: 0;

        background: transparent;
        box-shadow: none;
    }

    &__icon {
        margin-right: 3px;

        @include badge(33px);
    }
}

.order-builder-clear-btn {
    float: left;

    [class^="fa-"] {
        &:before{
            font-size: $base-font-icon-button;
        }
    }
}

.cart-widget-counter{
    text-indent: 4px;
}

.delete-item-btn {
    display: block;
    border: 0;
    padding: 0;

    background: transparent;
    box-shadow: none;
    cursor: pointer;

    &.delete-item-btn_abs {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
    }
}

@include only-desktop {
    .shopping-list-widget {
        &:hover > .header-row__toggle {
            display: block;
        }
    }
}

@include breakpoint('desktop') {
    .middlebar__right.forShopping{
        //width: 6.6% !important;
        width: 69%;
        .search-widget__input.input.input--full{
            background-color: get-color('primary', 'input-search-backround');
        }
        .search-widget__submit{
            background: inherited;
            background-color: get-color('secondary', 'light');
            color: get-color('additional', 'ultra');
            border-radius: $button-search-border-radius;
            cursor: pointer;
        }
    }
    .shopping-list-widget {
        margin-top: 0px !important;
        position: relative;
        .cart-widget__icon{
            width: auto;
            height: auto;
            background-color: transparent;
        }
        .cart-widget__icon [class^="fa-"] {
            margin: 0;
            line-height: inherit;
            font-size: 32px;
            color: get-color('secondary', 'light');
        }
        > .header-row__toggle {
            display: none;
        }
        > .header-row__trigger {
            background-color: transparent;
        }
        .main-menu__item.main-menu__item--nested {
            background-color: transparent; 
            padding: 0 0px 0 10px;
            cursor: pointer;
        }
        &.show > .header-row__toggle {
            display: block;
        }

        &__container {
            max-height: 450px;
            padding: 10px 5px 0px 5px;
            overflow-y: auto;
        }
    }
}

@include breakpoint('tablet') {
    .middlebar__right.forShopping{
        //width: 6.6% !important;
        width: 70%;
        .search-widget__input.input.input--full{
            background-color: get-color('primary', 'input-search-backround');
        }
        .search-widget__submit{
            background: inherited;
            background-color: get-color('secondary', 'light');
            color: get-color('additional', 'ultra');
            border-radius: $button-search-border-radius;
            cursor: pointer;
        }
    }
    .shopping-list-widget {
        margin-top: 0px !important;
        .header-row {
            &__wrapper {
                width: 100%;

                overflow-y: scroll;
            }
        }
        .show-cart-details-checkout{
            padding: 10px;
            float: left;
            margin-right: 10px;
            .btn-group{
                float: left;
                margin: 0 5px;
                .btn--info{
                    font-size: 14px !important;
                }
                &.checkout-widget{
                    .btn--info{
                        background-color: get-color('secondary', 'light');
                        border-color: get-color('secondary', 'light');
                    }
                    .btn--size-l {
                        font-size: 14px !important;;
                        padding: 10px 7px;
                    }
                }
            }
        }
    }
    .shopping-list-widget .header-row__wrapper{
        left: -290px !important;
        min-width: 360px;
    }
    .shopping-list-widget {
        position: relative;
        .cart-widget__icon{
            width: auto;
            height: auto;
            background-color: transparent;
        }
        .cart-widget__icon [class^="fa-"] {
            margin: 0;
            line-height: inherit;
            font-size: 35px;
            color: get-color('secondary', 'light');
        }
        > .header-row__toggle {
            display: none;
        }
        > .header-row__trigger {
            background-color: transparent;
        }
        .main-menu__item.main-menu__item--nested {
            background-color: transparent; 
        }
        &.show > .header-row__toggle {
            display: block;
        }

        &__container {
            max-height: 450px;
            padding: 0;
            overflow-y: auto;
        }
    }
    .header-row__container.show .header-row__trigger {
        background: transparent;
        box-shadow: inherit;
    }
    .nav-trigger .fa-angle-down {
        display: inline-block;
    }
    .cart-widget {
        &__icon {
            margin: 0;
        }
        &__text {
            font-size: 14px !important;
        }
    }
}

@include breakpoint('tablet-small') {
    .cart-widget {
        &__content {
            margin: 14px 5px 0 0;
        }

        &__clipboard {
            margin: 0;
        }

        &__text {
            display: none;
        }
    }
}
@include breakpoint('mobile') {
    .shopping-list-widget .header-row__wrapper{
        left: -224px !important;
        min-width: 300px !important;
    }
    .middlebar__right.forShopping{
        width: 35% !important;
    }
}
@include breakpoint('mobile-landscape') {
    .order-builder-clear-btn {
        position: static;
        text-align: left;
    }
}


@include breakpoint('print') {
    .order-builder-clear-btn {
        display: none !important;
    }
}
