.easy-slider{
    .slick-arrow{
        background: none;
        width: 60px;
        height: 60px;
        border: 0;
        color: get-color('additional', 'darker') !important;
        background: get-color('additional', 'ultra') !important;
        box-shadow: 0 3px 6px rgba(0,0,0,.1);
        border-radius: 100%;
        &:hover{
            color: get-color('additional', 'ultra') !important;
            background: get-color('secondary', 'light') !important;            
        }
    }  
    .slick-prev {
        left: 0px !important;
    }
    .slick-next {
        right: 0px !important;
    }
    .slick-next::after {
        content: '\e803';
    }
    .slick-prev::before {
        content: '\e802'
    }
    .slick-arrow:after{
        font-size: 30px;
        font-family: "fontello";
        color: inherit !important;         
    }
    .slick-prev::before {
        font-size: 30px;
        font-family: "fontello";
        color: inherit !important; 
    }
    .slick-dots{
        button{
            border: 1px solid get-color('additional', 'darker');
            width: 15px;
            height: 15px;
        }
    }
    .slick-dots li.slick-active{
        button{
            background: get-color('additional', 'ultra');
            border: 1px solid get-color('additional', 'darker');
        }
    }
} 
