.topbar {
  background: get-color('additional', 'ultra');
  padding: 5px 0;
  border-bottom: 1px solid get-color('primary', 'border-base');
  .pull-right{
    float: none !important; 
    text-align: right;
  }
  .topbar-navigation__item--user-name{
    line-height: 26px;
    margin-left: 10px;
  }
  .topbar-navigation{
      &.login{
          margin-left: 10px;
          .topbar-navigation__item{
             display: initial; 
             float: left;
             margin-right: 10px;
          }
          a{
              color: get-color('primary','base');
          }
      }
      margin-right: 10px;
      color: get-color('additional', 'darker');
      font-size: 16px;
      &__item{
         line-height: 26px; 
      }
      .topbar-navigation__link{
          color: get-color('secondary', 'light');
          font-size: 16px;
      }
      .topbar-navigation__link span{
          color: get-color('additional', 'darker') !important;
      }
  }
}
@include breakpoint('tablet') {
    .topbar {
        display: inherit;
        .topbar-navigation {
            display: none;
        }
        .topbar-navigation__item--user-name{
           line-height: 36px;
           margin-left: 10px;
        }
        .customLogo{
            width: 134px;
            margin: 0 auto;
            .container-fluid{
                padding: 0px;
            }

        }
    }
    .topbar .topbar-navigation {
       display: block;
       &__item{
          display: none;
          border-bottom: 0px solid #d7d7d7;

       }
       &__item:last-child{
          display: block; 
       }
      &__link {
          display: block;
          padding: 5px 0;
          border-bottom: 0px solid #d7d7d7;
       }
    }
    .oro-toolbar.oro-localization-switcher{
        display: none;
    }

    .topbar-navigation {
        &__item {
            display: block;
            margin-right: 0;
            padding: $topbar-navigation-item-tablet-inner-offset;
            border-bottom: $topbar-navigation-item-tablet-border-bottom;
            text-transform: $topbar-navigation-item-tablet-text-transform;
        }
        &__link {
            display: block;
            padding: $topbar-navigation-link-tablet-inner-offset;
            border-bottom: $topbar-navigation-link-tablet-border-bottom;
        }
    }
}
@include breakpoint('tablet-small') {
    .topbar-navigation{
        display: none;
    }
}
@media (max-width: 680px){
    .topbar-navigation-wrap{
        display: none;
    }
}