{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% set currentStatus = '' %}
            {% for key, status in purchaseOrderStatuses %}
                {% if status == purchaseOrder.status %}
                    {% set currentStatus = key %}
                {% endif %}
            {% endfor %}
            {{ UI.renderProperty('Created At:'|trans, purchaseOrder.createdAt|oro_format_datetime) }}
            {{ UI.renderProperty('Updated At:'|trans, purchaseOrder.updatedAt|oro_format_datetime) }}
            {{ UI.renderProperty('Total Products:'|trans, purchaseOrder.totalProducts) }}
            {{ UI.renderProperty('Total Amount:'|trans, purchaseOrder.totalAmount|oro_format_currency) }}
            {{ UI.renderProperty('Current Status:'|trans, currentStatus) }}
        </div>
    </div>
</div>