{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {{ dataGrid.renderGrid('supplier-purchase-order-grid', {
        'supplierId' : supplierId
    })}}
</div>