<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product Name</th><th>SKU</th><th>Quantity</th><th>Received</th><th>Price</th><th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% set grandTotal = 0 %}
        {% for product in products %}
            {% set total = (product.quantity*product.price) %}
            {% set grandTotal = grandTotal+total %}
            <tr>
                <td>{{ product.productName }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.received }}</td>
                <td>{{ product.price|oro_format_currency }}</td>
                <td>{{ total|oro_format_currency }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="text-right" colspan="5" >Grand Total</td>
                <td class="text-left" >{{ grandTotal|oro_format_currency }}</td>
            </tr>
    </tbody>
</table>