<div class="fullscreen-popup iman">
    <div class="fullscreen-popup__header" data-role="header"></div>
    <% if (close) { %>
        <button type="button" class="fullscreen-popup__close" data-role="close"></button>
    <% } %>
    <div class="fullscreen-popup__content" data-role="content"></div>
    <div class="fullscreen-popup__footer" data-role="footer"></div>
</div>
