/* @theme: blank; */

$ibnab-slider-item-position: relative !default;
$ibnab-slider-item-width: 100% !default;
$ibnab-slider-item-white-space: normal !default;

$ibnab-slider-item-info-position: absolute !default;
$ibnab-slider-item-info-display: inline-block !default;
$ibnab-slider-item-info-top: 50% !default;
$ibnab-slider-item-info-right: 10% !default;
$ibnab-slider-item-info-width: 34% !default;
$ibnab-slider-item-info-color: get-color('additional', 'ultra') !default;
$ibnab-slider-item-info-transform: translate(0, -50%) !default;
$ibnab-slider-item-info-left-mode-left-pos: 10% !default;
$ibnab-slider-item-info-left-mode-right-pos: auto !default;
$ibnab-slider-item-info-center-mode-left-pos: 50% !default;
$ibnab-slider-item-info-center-mode-width: 40% !default;
$ibnab-slider-item-info-center-mode-text-align: center !default;
$ibnab-slider-item-info-center-mode-transform: translate(-50%, -50%) !default;
$ibnab-slider-item-info-text-color-dark-color: get-color('additional', 'dark') !default;

$ibnab-slider-link-text-decoration: inherit !default;
$ibnab-slider-link-color: inherit !default;

$ibnab-slider-img-display: block !default;
$ibnab-slider-img-width: 100% !default;

$ibnab-slider-title-offset-bottom: 6px !default;
$ibnab-slider-title-font-size: 50px !default;
$ibnab-slider-title-text-transform: null !default;
$ibnab-slider-title-color: get-color('additional', 'darker') !default;

$ibnab-slider-description-overflow-y: hidden !default;
$ibnab-slider-description-offset-bottom: 10px !default;
$ibnab-slider-description-max-height: 194px !default;
$ibnab-slider-description-font-size: 24 !default;
$ibnab-slider-description-color: get-color('additional', 'darker') !default;

$ibnab-slider-description-view-btn-text-transform: uppercase !default;

$ibnab-slider-use-dots: true !default;
$ibnab-slider-dots-bottom-pos: $offset-y-m !default;
$ibnab-slider-dots-item-offset: 0 4px !default;
$ibnab-slider-dots-button-bg: transparent !default;
$ibnab-slider-dots-button-border: 1px solid get-color('additional', 'ultra') !default;
$ibnab-slider-dots-button-active-border: 1px solid get-color('additional', 'ultra') !default;
$ibnab-slider-dots-button-active-bg: get-color('additional', 'ultra') !default;
$ibnab-slider-dots-button-active-box-shadow: null !default;

// Tablet
$ibnab-slider-title-font-size-tablet: 32px !default;

$ibnab-slider-description-font-size-tablet: 14px !default;

// Mobile landscape
$ibnab-slider-item-info-width-mobile-landscape: 90% !default;
$ibnab-slider-item-info-text-align-mobile-landscape: center !default;

$ibnab-slider-item-description-display-mobile-landscape: none !default;

// Mobile
$ibnab-slider-title-offset-bottom-mobile: $offset-y !default;
$ibnab-slider-title-font-size-mobile: $base-font-size--large !default;
