{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

<div class="widget-content">
    <div class="list-box map-box">
        <div class="map-address-list">
            <div class="list-item map-item active" id="address-book-{{ address.id }}">
                <address>
                    {{ address.firstname|capitalize~' '~address.lastname }}<br>
                    {{ Email.renderEmailWithActions(address.email) }}<br>
                    {{ UI.renderPhoneWithActions(address.contactNo) }}<br>
                    {{ address.address1~' '~address.address2 }}<br>
                    {{ address.city|capitalize~', '~address.state|capitalize }}<br>
                    {{ address.country|capitalize }}<br>
                </address>
            </div>
        </div>
    </div>
</div>
