/* @theme: admin.oro; */

.#{$app-prefix} {
    &editor-cont {
        transition: height .5s;

        .ui-dialog & {
            padding: 0;
        }
    }

    &frame {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: auto;
        box-sizing: content-box;
        transition: width 1s, height 1s;
    }

    &cv-canvas {
        background-color: $canvas-bg-color;
        padding: 8px;
        width: calc(77% - 14px);

        .gjs-highlighter,
        .gjs-highlighter-sel {
            margin-left: -2px;
            margin-top: -2px;
        }
    }

    &pn-commands {
        box-shadow: none;
        padding: 0;
    }

    &pn-panel {
        padding: 0;

        &.#{$pn-prefix}options {
            padding-#{$end}: 7px;
            display: flex;
            align-items: center;
        }

        .nav-content {
            padding: 2px 16px 10px;
            input {
                height: 32px;
            }
        }
    }

    &select-control {
        margin-#{$end}: 5px;

        .dropdown-menu {
            &[x-out-of-boundaries] {
                display: block;
            }
        }
    }

    &pn-views-container {
        $offset: 40px;

        height: calc(100% - #{$offset});
        margin-top: $offset;

        box-shadow: none;
    }

    &pn-commands,
    &pn-options,
    &pn-devices-c {
        .#{$pn-prefix}btn {
            background-color: $button-bg-color;
            border-radius: 30px;
            margin-#{$end}: 7px;

            &.#{$pn-prefix}active {
                background-color: $additional-extra-light;
                box-shadow: inset 0 2px 3px 2px rgba(0, 0, 0, 0.21);
            }
        }
    }

    &sm-properties {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        font-size: $base-font-size--sm;
    }

    &sm-label {
        font-size: $base-font-size;
        color: $primary-200;

        &.#{$app-prefix}color-warn {
            color: $primary-200;
        }

        &.#{$app-prefix}four-color {
            color: $warning-darken;
        }
    }

    &sm-composite,
    &sm-stack {
        > .#{$app-prefix}sm-label {
            font-weight: 700;
        }
    }

    &sm-clear {
        font-size: $base-font-size--xl;
    }

    &sm-sector {
        ##{$app-prefix}sm-caret {
            font-size: $base-font-size--m;
        }

        .#{$app-prefix}sm-title {
            .fa {
                min-width: 18px;
            }
        }
    }

    &sm-sector,
    &block-category {
        margin-bottom: 8px;
        border-bottom: none;

        &.#{$app-prefix}sm-open,
        &.#{$app-prefix}open {
            border-bottom: none;
        }

        .#{$app-prefix}sm-title,
        .#{$app-prefix}title {
            border-bottom: none;
            font-weight: 700;
            padding: 6px 14px 5px;
            letter-spacing: normal;
            font-size: $base-font-size;
            color: $primary-100;
            background-color: $primary-860;
            border-radius: 4px;
        }

        .#{$sm-prefix}field.#{$sm-prefix}composite {
            border: none;
            background: $primary-900;
            border-radius: 4px;
        }

        .#{$sm-prefix}btn {
            background-color: $secondary;
            color: $primary-inverse;

            text-shadow: none;
        }

        .#{$sm-prefix}property {
            .#{$sm-prefix}layer {
                ##{$sm-prefix}close-layer,
                ##{$sm-prefix}close-layer {
                    line-height: 0;
                    top: 10px;
                }
            }
        }
    }

    &toolbar-item {
        background-color: $secondary;
    }

    &toolbar {
        margin-top: -2px;
        white-space: nowrap;
    }

    &com-badge,
    &com-badge-red,
    &badge {
        margin-left: -2px;
        white-space: nowrap;
    }

    &am-assets-cont {
        background: none;
    }

    &mdl-dialog {
        border-radius: 4px;
        box-shadow: 1px 1px 9px 3px rgba(0,0,0,.08);

        .#{$app-prefix}btn-prim {
            display: inline-flex;
            padding: 0 16px;
            font-size: 0.875rem;
            line-height: 32px;
            border-radius: 16px;
            margin-top: 10px;
        }
    }

    &mdl-header {
        background: $primary-200;
        padding: 10px 18px 10px 18px;
        border-radius: 4px 4px 0 0;
    }

    &mdl-title {
        color: $primary-inverse;
        font-size: $base-font-size--l;
        font-weight: bold;
    }

    &mdl-content {
        border-radius: 0 0 4px 4px;
    }

    &mdl-container {
        background-color: rgba($primary-inverse, .5);
    }

    &rte-toolbar {
        margin-#{$start}: -2px;
        border: none;
        box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, .08);
    }

    &rte-actionbar {
        flex-direction: row;
        padding: 8px;

        .actionbar-group {
            display: flex;
            &:not(:last-child) {
                margin-#{$end}: 16px;
            }
        }

        .#{$rte-prefix}action {
            order: 1;
            border-#{$end}: none;
            padding: 0;
            margin-#{$end}: 8px;


            &:last-child {
                margin-#{$end}: 0;
            }

            &:hover {
                color: $primary-inverse;
            }

            select {
                padding-#{$end}: 15px;
                min-width: 95px;
            }
        }
    }

    &am-highlight {
        color: $primary-inverse;

        .#{$app-prefix}am-close {
            top: -10px;
        }
    }
}

.#{$app-prefix}select option,
.#{$app-prefix}field-select option,
.#{$clm-prefix}select option,
.#{$sm-prefix}select option,
.#{$app-prefix}fields option,
.#{$sm-prefix}unit option {
    background-color: $primaryColor;
    color: $fontColor;
}

.#{$app-prefix}dashed {
    *[data-highlightable] {
        padding: 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

// Additional styles for fullscreen mode
.page-content-editor {
    margin: -$grapesjs-content-editor-offset;

    .widget-content &,
    &.editor-unavailable {
        margin: 0;
    }
}

.content-variant-item-content__body {
    &.editor-unavailable {
        .alert {
            margin-top: 8px;
        }
    }
}

.ui-dialog {
    &--import-template {
        .CodeMirror {
            width: 820px;
            height: 346px;

            &-lines {
                font-size: 12px;
            }
        }

        .ui-dialog-content {
            padding: 18px;
            overflow: hidden;
        }

        .ui-widget-content {
            > div {
                &.has-message {
                    height: calc(100% - 40px);
                    overflow: visible !important;

                    .CodeMirror {
                        height: 300px;
                    }
                }
            }
        }

        .action-wrapper {
            display: inline-block;
        }

        .btn:disabled {
            pointer-events: none;
        }

        .validation-failed {
            margin-top: 18px;
        }
    }
}
