/* @theme: blank; */
.featured-categories {
    margin: $embedded-list-featured-categories;
}
.embedded-list {
    position: relative;
    margin-bottom: $embedded-list-bottom-offset;
    background: $embedded-list-custom-background;
    border: $embedded-list-custom-border;
    padding-bottom: $embedded-list-custom-padding-bottom;
    &__slider {
        // Hide content before slick slider is united
        overflow: hidden;

        white-space: nowrap;

        &.slick-initialized {
            // Show content after slick slider is inited
            overflow: visible;

            &:before {
                display: block;
            }
        }

        &.embedded-arrows {
            margin: 0 $embedded-list-slider-btn-arrow-width;
        }

    }

    &__item {
        display: inline-block;

        padding: $embedded-list-item-offset-inner;

        vertical-align: top;
        white-space: normal;
    }

    &__label {
        margin-bottom: $embedded-list-label-offset-bottom;

        line-height: $embedded-list-label-line-height;

        text-align: $embedded-list-label-text-align;
        border-bottom: $embedded-list-label-border;

        &-inner {
            font-size: $embedded-list-label-font-size;
            padding: $embedded-list-label-inner-padding;
            background: $embedded-list-label-inner-background;
        }
        &:before {
            //top: $embedded-list-label-before-top;
            //height: $embedded-list-label-before-height;
            background: none;
        }
    }
    &__tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: $embedded-list-tiles-justify-content;

        margin: $embedded-list-tiles-offset;

        .embedded-list__item {
            width: $embedded-list-tiles-item-width;
            margin: $embedded-list-tiles-item-offset;
            padding: $embedded-list-tiles-item-inner-offset;

            text-align: $embedded-list-tiles-item-text-align;
        }
    }
}

@include breakpoint('tablet-small') {
    .embedded-list {
        &__tiles {
            .embedded-list__item {
                width: $embedded-list-tiles-item-width-tablet-small;
                margin-bottom: $embedded-list-tiles-item-offset-bottom-tablet-small;
            }
        }
    }
}

@include breakpoint('strict-tablet-small') {
    @if ($embedded-list-tiles-item-hide-same-on-tablet-small) {
        .embedded-list__item--hide-same {
            &:nth-last-child(2),
                &:last-child {
                display: none;
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .embedded-list {
        &__tiles {
            .embedded-list__item {
                width: $embedded-list-tiles-item-width-mobile-landscape;
                margin-bottom: $embedded-list-tiles-item-offset-bottom-mobile-landscape;
            }
        }
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &__label-inner {
            font-size: $embedded-list-label-mobile-font-size;
        }

        &__tiles {
            .embedded-list__item {
                width: $embedded-list-tiles-item-width-mobile;
                margin-bottom: $embedded-list-tiles-item-offset-bottom-mobile;
            }
        }
    }
}
