{% extends "@!OroForm/Form/fields.html.twig" %}
{% block oro_simple_color_picker_widget %}
    {% set attr = {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {'view': 'ibnabcustomizeform/js/app/views/simple-color-picker-view'}|merge(configs)|json_encode
    }|merge(attr) %}
    {% set type = 'hidden' %}
    {{ block('form_widget_simple') }}
{% endblock %}
{% block oro_form_js_validation %}
  {{ parent() }}
{% endblock %}