{% block _ibnab_slider_widget_home_widget %}
    {% import 'IbnabSliderBundle::banner_macros.html.twig' as Banner %}
    {% if block.vars.isBanner %}
       {{ Banner.renderBanner(block.vars.banner) }}
    {% else %}
        {{ Banner.renderSlider(block.vars.slider) }}
    {% endif %}
{% endblock %}