{% block _product_line_item_form_buttons_widget %}
    {% if block.children is not empty %}
    <input type="hidden"  name="oro_product_frontend_line_item[fromquickpopup]" data-ftid="oro_product_frontend_line_item__fromquickpopup" data-name="field__fromquickpopup" class=" input input--full" value="1">
        {% set attr = layout_attr_defaults(attr, {
            '~class': " form__col"
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}