{% block _shopping_list_quickview_combined_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set actionButtonClass = 'btn btn--info btn--size-l full direct-link' %}
    <div class="shopping-list-line-items" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                layout: 'separate',
                options: {
                    view: 'oroshoppinglist/js/app/views/line-items-view'
                }
            }) }}>
    </div>
    <div class="shoppinglist-quickview" style="float: right">
        {{ block('combined_buttons_widget') }}
    </div>
{% endblock %}
{% block _shopping_list_view_container_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'shopping_list_view_container_content',
        'class': 'custom-shopping_list_view_container_content',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            'view': 'oroui/js/app/views/layout-subtree-view',
            'blockId' : block.vars.id,
            'reloadEvents': ['frontend:item:delete']
        }
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _ibnab_shopping_current_line_item_list_widget %}
   {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% if shoppingList.lineItems.count() %}
        {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-table"}) %}
        <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
            module: 'orofrontend/js/app/components/empty-items-component',
            options: {eventName: 'frontend:item:delete'}
        }) }} data-items-selector=".shopping-list-line-items__item-wrapper" data-empty-block-selector=".cart-list-empty">
            <div class="shopping-list-line-items" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                layout: 'separate',
                options: {
                    view: 'oroshoppinglist/js/app/views/line-items-view'
                }
            }) }}>
                <div class="shopping-list-line-items__header">
                    <div class="shopping-list-line-items__header-label">{{ 'oro.frontend.shoppinglist.view.item.lable'|trans }}</div>
                    <div class="shopping-list-line-items__header-label">{{ 'oro.frontend.shoppinglist.view.price.label'|trans }}</div>
                </div>
                {% for lineItem in lineItems %}
                    <div class="shopping-list-line-items__item-wrapper">
                        {% set itemErrors = [] %}
                        {% if lineItemErrors is defined and lineItemErrors is iterable %}
                            {% set errorPaths = [] %}
                            {% for subItem in lineItem.lineItems %}
                                {% set errorPaths = errorPaths|merge(['product.' ~ subItem.productSku ~ '.' ~ subItem.productUnitCode]) %}
                            {% endfor %}
                            {% for errorKey, lineItemError in lineItemErrors %}
                                {% if errorKey in errorPaths and lineItemError is iterable %}
                                    {% set itemErrors = itemErrors|merge(lineItemError) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% set matrixForm = lineItem.matrixForm|default(null) %}
                        {% set matrixFormType = lineItem.matrixFormType|default(null) %}
                        {% set lineItem = lineItem.lineItems|first %}
                        {% set mainProduct = lineItem.parentProduct|default(lineItem.product) %}
                        {% set totals = totalPrices[mainProduct.id] is defined ? totalPrices[mainProduct.id] : null %}
                        {% set matrixFormPrices = productsWithConfigurableVariants[mainProduct.id]|default([]) %}

                        {% do block|merge_context({
                            shoppingList: shoppingList,
                            lineItem: lineItem,
                            itemErrors: itemErrors,
                            mainProduct: mainProduct,
                            parent: block.vars,
                            loop: loop,
                            matrixForm: matrixForm,
                            matrixFormType: matrixFormType,
                            matrixFormPrices: matrixFormPrices,
                            productsAllPrices: productsAllPrices,
                            totals: totals
                        }) %}

                        {{ block('container_widget') }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="cart-list-empty">
            <span class="cart-list-empty__icon"><i class="fa-shopping-cart"></i></span>
            <span class="fs24">{{ 'oro.frontend.shoppinglist.view.not_products_available'|trans }}</span>
        </div>
    {% endif %}
{% endblock %}
{% block _shopping_list_line_items_list_row_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}
    {% set class = matrixForm is null ?
        ' shopping-list-line-items__item' :
        'shopping-list-line-items__item--configurable'
    %}
    {% set productImageData = mainProduct.imagesByType('listing').first.image|default(null) %}
    {% set productImage = Image.image(productImageData, 'product_medium') %}
    {% set productImageUrl = Image.url(productImageData, 'product_medium') %}
    {% set modelAttr = mainProduct.jsonSerialize() %}
    {% set modelAttr = modelAttr|merge({
        'imageUrl': productImageUrl
    }) %}
    {% set attr = attr|merge({class: class}) %}

    {% do block|merge_context({
        productImage: productImage
    }) %}

    <div {{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'oroui/js/app/components/view-component',
        options: {
            view: 'oroshoppinglist/js/app/views/line-item-view',
            modelAttr: modelAttr,
            lineItemId: lineItem.id,
            quantityComponentOptions: {
                dataKey: constant('Oro\\Bundle\\ProductBundle\\Form\\Type\\FrontendLineItemType::NAME'),
                enable: is_granted('oro_shopping_list_frontend_update'),
                elements: {
                    quantity: '[name="product_qty"]',
                    unit: '[name="product_unit"]'
                },
                save_api_accessor: {
                    default_route_parameters: {
                        id: lineItem.id
                    },
                    route: 'oro_api_shopping_list_frontend_put_line_item'
                },
                value: {
                    unit: lineItem.unit.code,
                    quantity: lineItem.quantity
                },
                validation: {
                    showErrorsHandler: 'oroshoppinglist/js/shopping-list-item-errors-handler'
                }
            }
        },
        layout: 'separate'
    }) }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}
{% block _shopping_list_line_items_list_item_qty_widget %}
    <div>
        {{ 'ibnab.customizeshoppinglist.frontend.qty.label'|trans }}: 
        <span class="product-item__qty-value">{{ lineItem.quantity }}</span>
    </div>
{% endblock %}
{% block _shopping_list_view_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'custom_shopping_list_view'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _shopping_list_quickview_view_cart_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'custom_quickview_view_cart'
    }) %}
    <div {{ block('block_attributes') }}>
       {% if shoppingList.lineItems|length > 0 %}
       
        <div class="show-cart-details-checkout"> 
            <a href="{{ is_one_shopping_list_enabled() ? path('oro_shopping_list_frontend_view') : path('oro_shopping_list_frontend_view', {id: shoppingList.id}) }}" role="button" class="        btn btn--info btn--size-l full direct-link icons-holder-text no-hash">View Cart</a>
        </div>
       {% endif %}   
    </div>
{% endblock %}
