<div class="easy-slider__info easy-slider__info--left-mode"><a class="easy-slider__link" href="#"> </a>
<h2 class="easy-slider__title"><a class="easy-slider__link" href="#">Lorem ipsum</a></h2>
<a class="easy-slider__link" href="#"> </a>
<div class="easy-slider__description"><a class="easy-slider__link" href="#">Praesent magna arcu, placerat id purus vel, facilisis posuere augue. Praesent nec consequat elit, sed elementum elit. Ut dictum nisi imperdiet justo tristique finibus.</a></div>
<a class="easy-slider__link" href="#"> </a> <a class="btn btn--info easy-slider__view-btn" href="#"> Call to action </a></div>