{% block _iman_sidbar_home_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " sidebar__root"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _iman_sidbar_home_categories_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " sidebar__menu sidebar__menu--collapsible"
    }) %}

    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: {
                    maxScreenType: 'tablet',
                },
                moveTo: '[data-main-menu-extra-container]'
            }
        ]
    }|json_encode %}

    <div {{ block('block_attributes') }}>
        <div class="collapse-view expanded" data-page-component-collapse="{{ { storageKey: id }|json_encode() }}">
            <a href="#" class="main-menu__link main-menu__link--is-trigger" data-collapse-trigger>
                <span class="">
                    <span class="fa-navicon one" aria-hidden="true"></span>
                </span>
                <span class="collapse-view__text">{{ 'oro.catalog.category.categories.label'|trans }}</span>
            </a>
            <div data-collapse-container>
                <div data-page-component-module="oroui/js/app/components/viewport-component"
                     data-page-component-options="{{ {
                         viewport: {
                             maxScreenType: 'tablet',
                         },
                         component: 'oroui/js/app/components/view-component',
                         view: 'orocommercemenu/js/app/widgets/menu-traveling-widget'
                     }|json_encode() }}"
                     data-dom-relocation-options="{{ dom_relocation_options }}"
                >
                    <button class="main-menu__back-trigger"
                            data-go-to="prev"
                    ><i class="fa-chevron-left"></i> {{ 'oro_frontend.fullscreen_popup.back.label'|trans }}</button>
                    <ul class="main-menu">
                        {{ block_widget(block) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block _iman_sidbar_home_categories_main_menu_widget %}
    {% if (max_size is not null ) %}
        {% set categories = categories[0:max_size] %}
    {%- endif %}

    {% for category in categories -%}
        {% set hasSublist = category.childCategories is not empty %}
        <li class="main-menu__item
            {{ hasSublist ? "main-menu__item--ancestor": "" }}
            main-menu__item--{{ (block.children|length == 1 ? "floated" : "centered") ~ "-dropdown" }}">
            {% do block|merge_context({'category': category}) %}
            {{ block('container_widget') }}
        </li>
    {%- endfor %}
{% endblock %}
{% block _iman_sidbar_home_categories_main_menu_first_level_item_widget %}
    <a href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}"
       class="main-menu__link">
        <span class="main-menu__text">{{ category.title }} </span>
        {% if category.hasSublist %}
            <span class="main-menu__taptick">
                <span class="fa-angle-down fa--no-offset" aria-hidden="true"></span>
            </span>
        {% endif %}
    </a>
    {% if category.hasSublist %}
        {% set togglerId = 'dropdown-'|uniqid %}
        <button class="main-menu__button-arrow"
                id="{{ togglerId }}"
                data-toggle="dropdown"
                data-popper="false"
                data-go-to="next"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="{{ category.title }}">
            <span class="fa-angle-down fa--no-offset" aria-hidden="true"></span>
        </button>
        {# START TOP NAVIGATION SUBLIST #}
        <div class="main-menu__sublist-container"
             data-header-row-toggle
             data-scroll="true"
             role="menu"
             aria-labelledby="{{ togglerId }}"
             data-role="sub-menu"
             aria-hidden="true"
        >
            <div class="main-menu-columns">
                <div class="main-menu-column main-menu-column" data-role="sub-menu">
                    <div class="main-menu-column__title">{{ 'oro.catalog.menu.by_category.label'|trans }}</div>
                    <div class="main-menu-column__inner">
                        <ul class="main-menu-column__inner-left">
                            {% do block|merge_context({'categories': category.childCategories }) %}
                            {{ block_widget(block) }}
                            <li class="main-menu-column__item">
                                <a class="main-menu-column__link" href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
                                    {{ 'oro.catalog.menu.all.label'|trans ~ " " ~ category.title }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {# ENDTOP NAVIGATION SUBLIST#}
    {% endif %}
{% endblock %}

{% block _iman_sidbar_home_categories_main_menu_second_level_widget %}
    {% for category in categories %}
        <li class="main-menu-column__item">
            <a class="main-menu-column__link"
               href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}
            ">
                {{ category.title }}
            </a>
        </li>
        {% if category.hasSublist %}
            {% do block|merge_context({'categories': category.childCategories }) %}
            {{ block('container_widget') }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block _iman_sidbar_home_categories_main_menu_second_level_item_widget %}
    {% set class = attr.class|default('') ~ " main-menu__subcategory" %}
    {% set class = category.hasSublist ? class ~ " main-menu__sublist--has-sibling" : class %}
    {% set attr = attr|merge({class: class}) %}

    <ul {{ block('block_attributes') }}>
        <li class="main-menu__subcategory-item">
            <a class="link" href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
                {{ category.title }}
            </a>
            {% if category.hasSublist %}
                {% do block|merge_context({'categories': category.childCategories }) %}
                {{ block('container_widget') }}
            {% endif %}
        </li>
    </ul>
{% endblock %}