<div id="wrapper">
        <div class="home-banners-adds1">
          <div id="i7pg" class="row">
            <div id="i2fh" class="cell">
              <div data-title="banner-home-ads1" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">{{ widget("banner-home-ads1") }}
              </div>
            </div>
            <div id="ipvi" class="cell">
              <div data-title="banner-home-ads2" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">{{ widget("banner-home-ads2") }}
              </div>
            </div>
            <div id="ifui" class="cell">
              <div data-title="banner-home-ads3" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">{{ widget("banner-home-ads3") }}
              </div>
            </div>
          </div>
        </div>
      </div>

<style>.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:5px;
  margin-bottom:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
    padding:10px;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
  }
</style>