<div id="wrapper">
        <div class="homeImanModernA">
          <div class="home-silder">
            <div data-title="home-page-slider-modern" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">
              {{ widget("home-page-slider-iman-modern") }}
            </div>
          </div>
          <div class="home-banner">
            <div class="banner1">
              <div data-title="home-page-top-banner1-iman-modern" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">
                {{ widget("home-page-top-banner1-iman-modern") }}
              </div>
            </div>
            <div class="banner2">
              <div data-title="home-page-top-banner2-iman-modern" data-type="ibnab_widget_easy_slider" class="content-widget content-placeholder">
                {{ widget("home-page-top-banner2-iman-modern") }}
              </div>
            </div>
          </div>
        </div>
</div>

<style>
</style>