<div id="wrapper">
      <div class="home-our-services">
        <div class="row">
          <div class="cell">
            <div id="ipbt" class="row">
              <div id="ius4" class="cell">
                <div id="i8ap7">
                  <span class="iconfont fa-comments-o fa"></span>
                </div>
              </div>
              <div id="iju7" class="cell">
                <div id="it8th">
                  <h2 class="display-2">Customer
                    <span id="im4zp">Support</span>
                  </h2>
                  <p class="display-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cell">
            <div id="iez6" class="row">
              <div id="ix8sj" class="cell">
                <div id="iuh9o">
                  <span class="iconfont fa-credit-card fa"></span>
                </div>
              </div>
              <div id="iu4e7" class="cell">
                <div id="i04o3">
                  <h2 class="display-2">Secured
                    <span>Payment</span>
                  </h2>
                  <p class="display-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="row">
              <div id="i3acw" class="cell">
                <div id="imfap">
                  <span class="iconfont fa-truck fa"></span>
                </div>
              </div>
              <div id="iqted" class="cell">
                <div id="io5d5">
                  <h2 class="display-2">Fast
                    <span>Shipping</span>
                  </h2>
                  <p class="display-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<style>
  .row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #ius4{
    flex-basis:30%;
  }
  #iju7{
    flex-basis:70%;
  }
  #ix8sj{
    flex-basis:30%;
  }
  #iu4e7{
    flex-basis:70%;
  }
  #i3acw{
    flex-basis:30%;
  }
  #iqted{
    flex-basis:70%;
  }
  #i8ap7{
    padding:10px;
  }
  #it8th{
    padding:10px;
  }
  #iuh9o{
    padding:10px;
  }
  #i04o3{
    padding:10px;
  }
  #imfap{
    padding:10px;
  }
  #io5d5{
    padding:10px;
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
  }
</style>