{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    {{ dataGrid.renderGrid('supplier-product-grid', {
        'requestSupplierId' : supplierId
    })}}
</div>

<script type="text/javascript">
    loadModules(['oroui/js/mediator', 'oroui/js/widget-manager'],
        function(mediator, widgetManager) {
            /*mediator.bind('datagrid_create_before', function(options) {
                if (options.name == 'supplier-product-grid') {
                    options.rowClickAction = function(data) {
                        return {
                            run: function() {
                                //mediator.trigger('datagrid:doRefresh:temp-purchase-order-products-grid');
                            }
                        }
                    };
                }
            });*/
        });
</script>