.button--info,.btn--info,.cart-widget__icon,.shopping-list__item-indicator,.checkout-navigation__icon--current,.checkout__title-icon{border-color:#51B749;background-color:#51B749}.product-item__sku-value,.main-menu-column__title,.topbar-navigation__link span,.catalog-switcher .btn.active, .catalog-switcher .uploader .action.active, .uploader .catalog-switcher .action.active{color:#51B749}.button--info:hover,.btn--info:hover{border-color:#52CC5B;background-color:#52CC5B;color:#fff}.button--info:focus,.btn--info:focus{border-color:#52CC5B;background-color:#52CC5B;color:#fff}.quick-access__icon--dark{background-color:#51B749}.quick-access__icon{background-color:#7AE7BF}.quick-access__icon--light{background-color:#46D6DB}.logo{width: 343px;height: 74px;}
@media screen and (min-width: 960px) {
.product-list--no-image-view .product-item__primary-content--no-image-view {
    float: left;
    width: 15%;
}
.product-list--no-image-view .product-item__secondary-content--no-image-view .product-item__secondary-half--no-image-view {
    width: 30%;
    min-height: 1px;
}
.product-list--no-image-view .product-item__qty .product-item-shopping-lists {
    padding: 0 0 16px;
    float: left;
}
.product-list--no-image-view .product-item__qty__current-grid {
    display: inherit;
    flex-wrap: inherit;
    float: right;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
.product-list--no-image-view .product-item__secondary-content--no-image-view {
    width: 65%;
    float: left;
}
.product-list--no-image-view item__secondary-content--no-image-view .product-item__secondary-half--no-image-view:last-child {
    width: 70%;
}
.product-list--no-image-view .shopping-lists__edit {
    position: absolute;
    top: 50%;
    right: 5px;
    height: 14px;
    margin-top: -7px;
    /* margin: 0 1% 0 0; */
    padding: 0 -5px;
    font-size: 11px;
    opacity: 0.65;
}
.product-list--no-image-view .product-item__qty .line_item_form_fields {
    width: calc(50% - 5px);
    float: left;
    margin: 0 1%;
}
.product-list--no-image-view .product-item__secondary-content--no-image-view .product-item__secondary-half--no-image-view:last-child {
    width: 70%;
}
.product-list--no-image-view .product-item__qty .add-product-from-view-component {
    font-size: 12px;
    float: right;
    width: 50%;
}
.product-list--no-image-view .shopping-lists__edit {
    display: none;
}
.product-list--no-image-view .shopping-lists__content-wrapper{
  display: none;  
}

}