{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
<div class="widget-content">
    {{
        dataGrid.renderGrid(
            'ibnab_slider_banner_grid_view', {
                'relatedBanners': get_related_banners(id)
            }
        )
    }}
</div>