{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'product-grid' %}
{% set params = {requestSupplierId: supplierId} %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.button({
            'path': path('pom_supplier'),
            'label' : 'oro.pom.general.text_back_to_supplier'|trans
        }) }}
    </div>
{% endblock %}
