/* @theme: blank; */

$banner-home-display: block !default;
$banner-home-color: get-color('additional', 'darker') !default;
$banner-home-text-decoration: none !default;
$banner-home-text-decoration-hover: none !default;

$banner-home-color-hover: get-color('additional', 'darker') !default;

$banner-home-image-display: block !default;
$banner-home-image-max-width: 100% !default;
$banner-home-image-max-height: 100% !default;
$banner-home-image-margin: 0 auto !default;
$banner-home-image-border: none !default;

$banner-home-desc-text-align: center !default;
$banner-home-desc-inner-offset: 8px 0 0 !default;

$banner-home-name-font-size: $base-font-size--m !default;

$banner-home-name-text-decoration: underline !default;

$banner-home-qty-offset: 2px 0 0 !default;
$banner-home-qty-font-size: $base-font-size--s !default;
