/* @theme: default; */

$product-sticker-icon-top-right-pos-top: update-default($product-sticker-icon-top-right-pos-top, $offset-y);
$product-sticker-icon-top-right-pos-right: update-default($product-sticker-icon-top-right-pos-right, $offset-x);

$product-sticker-icon-new-arrival-background: get-color('secondary', 'light') !important;
$product-sticker-icon-new-arrival-background-size: 100% 100% !default;

$product-sticker-icon-static-size: 60px !default;

$product-sticker-icon-size: 20% !important;
$product-sticker-icon-size-text: auto !important;
$product-sticker-icon-size-height: 6% !default;
$product-sticker-icon-top-right-tablet-small-pos-top: 12px !default;
$product-sticker-icon-top-right-tablet-small-pos-right: 12px !default;
$product-sticker-icon-color: get-color('additional', 'ultra') !default;

$product-sticker-icon-size-mobile-landscape: 33% !default;
$product-sticker-icon-top-right-mobile-landscape-pos-top: 8px !default;
$product-sticker-icon-top-right-mobile-landscape-pos-right: 8px !default;