.topbar {
  background: get-color('additional', 'darker');
  padding: 5px 0;
  .pull-right{
    float: none !important; 
    text-align: center;
  }
  .topbar-navigation{
      color: get-color('additional', 'ultra');
      font-size: 16px;
      .topbar-navigation__link{
          color: get-color('secondary', 'light');
          font-size: 16px;
      }
      .topbar-navigation__link span{
          color: get-color('additional', 'ultra') !important;
      }
  }
}
@include breakpoint('tablet') {
    .topbar {
        display: inherit;
        .topbar-navigation {
            display: none;
        }
        .customLogo{
            width: 134px;
            margin: 0 auto;
            .container-fluid{
                padding: 0px;
            }

        }
    }
    .topbar-navigation {
        &__item {
            display: block;
            margin-right: 0;
            padding: $topbar-navigation-item-tablet-inner-offset;
            border-bottom: $topbar-navigation-item-tablet-border-bottom;
            text-transform: $topbar-navigation-item-tablet-text-transform;
        }
        &__link {
            display: block;
            padding: $topbar-navigation-link-tablet-inner-offset;
            border-bottom: $topbar-navigation-link-tablet-border-bottom;
        }
    }
}
