{% block _logo_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}
    {% set imgConfig = get_customview_logo() %}  
    {% if imgConfig is defined and imgConfig is not null %}
        {% set imgUrl = Image.url(imgConfig,'product_original') %}
    {% set attr_img = attr_img|default({}) %}
    {% set attr_img = layout_attr_defaults(attr_img, {
        'src': imgUrl
    }) %}
    {% endif %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _logo_print_widget %}
    {{ block('_logo_widget') }}
{% endblock %}
