{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.pom.supplier.entry_company_name'|trans, entity.name) }}
            {{ UI.renderProperty('oro.pom.supplier.entry_owner_name'|trans, entity.ownerName) }}
            {{ UI.renderProperty('oro.pom.supplier.entry_supplier_no'|trans, entity.supplierNumber) }}
            {{ UI.renderHtmlProperty('oro.pom.supplier.entry_email'|trans, Email.renderEmailWithActions(entity.email)) }}
            {{ UI.renderHtmlProperty('oro.pom.supplier.entry_website'|trans, UI.renderUrlWithActions({url: entity.website, attributes: {target: '_blank'}}, entity), entity, 'supplierId') }}
            {{ UI.renderHtmlProperty('oro.pom.supplier.entry_telephone'|trans, UI.renderPhoneWithActions(entity.telephone)) }}
        </div>
    </div>
</div>