/* @theme: default; */

.search-widget {
    position: relative;

    &-wrap {
        width: 100%;
        max-width: 320px;
    }

    &__input {
        height: 50px;
        padding: 0 55px 0 18px;
        width: 100%;
        position: relative;
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: 50px;
        padding: 0;
        margin: 0;

        font-size: $base-font-size--m - 1px;

        background: transparent;
        border: none;

        color: get-color('additional', 'middle');

        @include element-state('hover') {
            color: get-color('additional', 'darker');
            cursor: pointer;
        }

        &:focus,
        &.focus-visible {
            box-shadow: none;
        }
        
        &.focus-visible {
            color:  get-color('ui', 'focus');
        }
    }
}

@include breakpoint('tablet') {
    .search-widget {
        margin: $offset-y $offset-x;

        &__input {
            height: 45px;
        }
    }
}
