{% block _page_main_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main proudct-view'
    }) %}
    <main{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </main>
{% endblock %}
{% block _product_datagrid_toolbar_display_options_widget %}
    {% set gridName = block.vars['datagrid'].name %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroproduct/js/app/components/catalog-switch-component',
        'data-page-component-options': {
            'parameterName': gridName
        },
        'data-server-render': '',
        class: attr.class|default('') ~ " datagrid-tool display-options"
    }) %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}
    {% if toolbarPosition != 'bottom' %}
        <div{{ block('block_attributes') }}>
            {% set row_view_key = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::GRID_THEME_PARAM_NAME') %}
            <!--<span class="datagrid-tool__label">{{ 'oro.product.frontend.grid.toolbar.display.label'|trans }}: &nbsp;</span>-->
            <div class="btn-group catalog-switcher" role="group" aria-label="{{ 'oro.product.grid.action.catalog_switcher.aria_label'|trans }}">
                {% set url_prefix = app.request.baseUrl ~ app.request.pathInfo %}
                {% set query_parameters = app.request.query.all() %}

                {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_TILES') %}
                {% set view_trigger = {
                    'row-view': 'gallery-view'
                } %}
                <a href="{{ url_prefix ~ '?' ~ query_parameters|merge({(gridName): {(row_view_key): row_view}})|url_encode }}"
                   class="btn btn--default btn--size-s {% if current_row_view == row_view %}active{% endif %}"
                   data-catalog-view-trigger="{{ view_trigger|json_encode }}"
                   aria-pressed="{{ (current_row_view == row_view) ? 'true' : 'false' }}"
                   aria-label="{{ 'oro.product.grid.action.catalog_switcher.gallery_view.aria_label'|trans }}">
                        <span class="ti-layout-grid3 fa--no-offset" aria-hidden="true"></span>
                </a>
                {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_GRID') %}
                {% set view_trigger = {
                    'row-view': 'list-view'
                } %}
                <a href="{{ url_prefix ~ '?' ~ query_parameters|merge({(gridName): {(row_view_key): row_view}})|url_encode }}"
                   class="btn btn--default btn--size-s {% if current_row_view == row_view %}active{% endif %}"
                   data-catalog-view-trigger="{{ view_trigger|json_encode }}"
                   aria-pressed="{{ (current_row_view == row_view) ? 'true' : 'false' }}"
                   aria-label="{{ 'oro.product.grid.action.catalog_switcher.list_view.aria_label'|trans }}">
                        <span class="ti-view-list-alt fa--no-offset" aria-hidden="true"></span>
                </a>
                {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_LIST') %}
                {% set view_trigger = {
                    'row-view': 'no-image-view'
                } %}
                <a href="{{ url_prefix ~ '?' ~ query_parameters|merge({(gridName): {(row_view_key): row_view}})|url_encode }}"
                   class="btn btn--default btn--size-s {% if current_row_view == row_view %}active{% endif %}"
                   data-catalog-view-trigger="{{ view_trigger|json_encode }}"
                   aria-pressed="{{ (current_row_view == row_view) ? 'true' : 'false' }}"
                   aria-label="{{ 'oro.product.grid.action.catalog_switcher.compact_view.aria_label'|trans }}">
                        <span class="ti-view-list fa--no-offset" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}