.embedded-list {

    &.banner-home{
        .embedded-list__tiles{
            .embedded-list__item{
                width: 50%;
                margin: 5px 0 5px;
                padding: 0 0px 0 16px;
                text-align: center;
            }
        } 
        background: inherit;
        border: none;
        padding: 10px 0 0 0;
        .banner-home__item {
            display: $banner-home-display;

            color: $banner-home-color;
            text-decoration: $banner-home-text-decoration;

            img {
                display: $banner-home-image-display;
                max-width: $banner-home-image-max-width;
                max-height: $banner-home-image-max-height;

                margin: $banner-home-image-margin;

                border: $banner-home-image-border;
            }

            &__desc {
                text-align: $banner-home-desc-text-align;

                padding: $banner-home-desc-inner-offset;
            }

            &__name {
                font-size: $banner-home-name-font-size;
            }

            &__qty {
                margin: $banner-home-qty-offset;

                font-size: $banner-home-qty-font-size;
            }

            &:hover {
                color: $banner-home-color-hover;
                text-decoration: $banner-home-text-decoration-hover;

                .featured-category__name {
                    text-decoration: $banner-home-name-text-decoration;
                }
            }
        }

    }
}
@include breakpoint('tablet-small') {
    .embedded-list {
        &.banner-home{
            &__tiles {
                .embedded-list__item {
                    width: $embedded-list-tiles-item-width-tablet-small;
                    margin-bottom: $embedded-list-tiles-item-offset-bottom-tablet-small;
                }
            }
        }
    }
}

@include breakpoint('strict-tablet-small') {
    @if ($embedded-list-tiles-item-hide-same-on-tablet-small) {
        .embedded-list {
            &.banner-home{
                .embedded-list__item--hide-same {
                    &:nth-last-child(2),
                        &:last-child {
                        display: block;
                    }
                }
            }
        }
    }
}

@include breakpoint('mobile-landscape') {
    .embedded-list {
        &.banner-home{
            &__tiles {
                .embedded-list__item {
                    width: $embedded-list-tiles-item-width-mobile-landscape;
                    margin-bottom: $embedded-list-tiles-item-offset-bottom-mobile-landscape;
                }
            }
        }
    }
}

@include breakpoint('mobile') {
    .embedded-list {
        &.banner-home{
            &__label-inner {
                font-size: $embedded-list-label-mobile-font-size;
            }

            &__tiles {
                .embedded-list__item {
                    width: $embedded-list-tiles-item-width-mobile;
                    margin-bottom: $embedded-list-tiles-item-offset-bottom-mobile;
                }
            }
        }
    }
}

