/* @theme: blank; */

.input {
    @include base-ui-element($use-base-style-for-input,
                             $input-padding,
                             $input-font-size,
                             $input-font-family,
                             $input-line-height,
                             $input-border,
                             $input-border-radius,
                             $input-background-color,
                             $input-color
                            );
    //border-color: get-color('primary', 'input-border');
    margin: 0;

    &::-ms-clear {
        display: none;
    }

    @include element-state('hover') {
        border-color: $input-border-color-hover-state;
    }
    @include element-state('focus') {
        border-color: $input-border-color-focus-state;
    }

    @include element-state('error') {
        border-color: $input-border-color-error-state;
    }

    @include element-state('disabled') {
        background: get-color('additional', 'base');

        @include base-disabled-style();

        @include element-state('hover') {
            border-color: get-color('additional', 'light');
            box-shadow: none;
        }
    }

    &[type="date"] {
        min-height: $input-date-height;

        &::-webkit-inner-spin-button {
            display: none;
        }
    }

    &[type="date"],
    &[type="time"] {
        // Fix height Shadow DOM elements
        &::-webkit-date-and-time-value,
        &::-webkit-datetime-edit {
            line-height: 1;
        }
    }

    &[type="number"] {
        // fix FireFox platform styles
        box-shadow: $input-number-box-shadow;
    }

    &--empty {
        &[type="date"],
        &[type="time"] {
            &::-webkit-date-and-time-value,
            &::-webkit-datetime-edit {
                display: none;
            }

            &:before {
                content: attr(placeholder);
                color: get-color('additional', 'middle');
                flex: 1 1 0%;
            }
        }
    }

    &--short {
        width: $input-width-short;
    }
}
