.page-footer {
    background: get-color('additional', 'ultra');
    padding: 10px 16px 50px;
    .information-nav__item-content {
        
        color: get-color('additional', 'darker');
    }
    .information-nav__title {
        
        color: get-color('secondary', 'light');
    }
    .copyright{
        color: get-color('secondary', 'light');
    }
}
