.oro-datagrid{
    .datagrid-toolbar{
        .datagrid-tool {
            &.display-options,.oro-pagination__pager,.catalog__filter-controls__item.actions-panel.form-horizontal.actions-panel.pull-right.form-horizontal {
                .oro-pagination__label{
                    display: none;
                }               
                .btn,.action.btn {
                    &.btn--default{
                        &.btn--size-s{
                            border-color: transparent;
                            box-shadow: none;
                            font-size: 1.5rem;
                            font-weight: normal;
                            padding: 4px 4px;
                            line-height: 1.6px;
                            color: get-color('additional','darker');
                            &:hover{
                              background-color: get-color('additional','ultra');
                              color: get-color('secondary','light');
                              
                            }
                            &.active{
                                background-color: get-color('additional','ultra');
                                color: get-color('secondary','light');
                            }
                            &.btn-icon.mode-icon-only{
                              line-height: 0px;
                              padding: 4px 6px;
                              font-size: 1.2rem;
                               border-color: get-color('additional','darker');
                               &.pressed{
                               
                               color: get-color('secondary','light'); 
                               }
                            }
                        }
                    }  
                } 
            }  
        }
        
    }
    
}
.sticky-panel__content{
    .sticky-panel__toolbar{
        background-color: get-color('additional','ultra');
    }
    .datagrid-toolbar{
        .datagrid-tool {
            &.display-options,.oro-pagination__pager,.catalog__filter-controls__item.actions-panel.form-horizontal.actions-panel.pull-right.form-horizontal {
                .oro-pagination__label{
                    display: none;
                }               
                .btn,.action.btn {
                    &.btn--default{
                        &.btn--size-s{
                            border-color: transparent;
                            box-shadow: none;
                            font-size: 1.5rem;
                            font-weight: normal;
                            padding: 4px 4px;
                            line-height: 1.6px;
                            color: get-color('additional','darker');
                            &:hover{
                              background-color: get-color('additional','ultra');
                              color: get-color('secondary','light');
                              
                            }
                            &.active{
                                background-color: get-color('additional','ultra');
                                color: get-color('secondary','light');
                            }
                            &.btn-icon.mode-icon-only{
                              line-height: 0px;
                              padding: 4px 6px;
                              font-size: 1.2rem;
                               border-color: get-color('additional','darker');
                               &.pressed{
                               
                               color: get-color('secondary','light'); 
                               }
                            }
                        }
                    }  
                } 
            }  
        }
        
    }
    
}
