.cart-view-dialog-widget{
    padding-bottom: 10px; 
    .order-checkout-widget__col{
        display: none;
    }
}
.order-checkout-widget__col{
    min-width: auto !important;
}
.widget-cart-fixed {    
    position: fixed;     
    top: 200px; 
    z-index: 2000;
} 
.custom_shopping_list_view{
        width: 100%;
        float: left;
        height: auto;
        background-color: #fff;
        .order-checkout-widget__col{
            display: none;
        }
        .custom-shopping_list_view_container_content{
            border: 0px solid #d7d7d7 !important;
            border-top: 0px solid #000 !important;
            .order-checkout-widget{
                float: left !important;  
                width: 30% !important;
                background: #f5f5f5;
                padding: 10px;
                .custom_quickview_view_cart{
                    width: 100%;
                    a{
                        width: 100%;
                        padding: 5px !important;
                    }                    
                }
                .shoppinglist-quickview{
                    width: 100%;
                    a{
                        padding: 5px !important;
                        padding: 0; 
                        width: 100%;
                        background-color: get-color('secondary', 'light');
                        border-color: get-color('secondary', 'light');
                    }
                }

                .shipping-list-view-total-container .order-checkout-widget__container {
                    min-width: auto;
                }
            }
            .shopping-list-line-items .line-item-price{
                text-align: left !important;
            }
            .shopping-list-line-items {
                float: left;
                width: 70%;
                .shopping-list-line-items__header{
                    display: none;
                }

                .product-item--in-cart{
                    min-width: 100%;
                }
                .product-item__image-holder--in-cart{
                    width: auto;
                    height: auto;
                    margin-right: 10px;

                    a{
                        width: auto;
                        height: auto;
                    }
                }
            } 

        }
    }

