
$quick-view-product-display: flex;
$quick-view-product-position: absolute;
$quick-view-product-top: 45%;
$quick-view-product-left: 50%;
$quick-view-product-right: auto;
$quick-view-product-bottom: auto;
$quick-view-product-icon-color: #f5f5f5;
$quick-view-product-icon-size: 18px;;
$quick-view-product-icon-text-shadow: 0 0 2px #626365;
$quick-view-product-justify-content: center;
$quick-view-product-align-items: center;
$quick-view-product-background: rgba(62, 75, 87, 0.8);
$quick-view-product-opacity: 0;
$quick-view-product-width:112px;
$quick-view-product-height:28px;
$quick-view-product-z-index: 1;
$quick-view-product-hover-opacity: 1;
$quick-view-product-padding: 0;
$quick-view-product-transform: translateX(-50%);

/*Tablet and Mobile */
$quick-view-product-mobile-border-radius: 100% 0 0 0;
$quick-view-product-mobile-width:50px;
$quick-view-product-mobile-height:50px;
$quick-view-product-mobile-font-size:20px;
$quick-view-product-mobile-top: auto;
$quick-view-product-mobile-left: auto;
$quick-view-product-mobile-right: 0;
$quick-view-product-mobile-bottom: 0;
$quick-view-product-mobile-transform: inherit;