{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="container-fluid">
        {% block content %}
            {{ dataGrid.renderGrid(
                'product-grid', {
                    'requestSupplierId' : supplierId
                    }
            ) }}
        {% endblock %}
    </div>
</div>