{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

<div class="widget-content">
    {% if form.vars.value.id %}
        {% set formAction = path('pom_purchaseorder_receiveinvoice_create', { 'id': form.vars.value.id }) %}
    {% else %}
        {% set formAction = path('pom_purchaseorder_receiveinvoice_create', {'id': entity.id}) %}
    {% endif %}

    {% block content_data %}
        {{ form_start(form, {'action': formAction}) }}
            {{ form_row(form.purchaseOrderId) }}
            {{ form_row(form.invoiceNo) }}
            {{ form_row(form.date) }}
            {{ form_row(form.paymentDueDate) }}
        {{ form_end(form) }}
    {% endblock %}
</div>