/* @theme: default; */

$site-width: 100%;
// Breakpoints

// Desktop Media Breakpoint
//$breakpoint-desktop: 1100px;
// iPad mini 4 (768*1024), iPad Air 2 (768*1024), iPad Pro (1024*1366)
$breakpoint-tablet: $breakpoint-desktop - 1px;
$breakpoint-tablet-small: 992px;
$breakpoint-mobile-big: 767px;
$breakpoint-mobile-landscape: 640px;
// iPhone 4s (320*480), iPhone 5s (320*568), iPhone 6s (375*667), iPhone 6s Plus (414*763)
$breakpoint-mobile: 414px;
$full-popup-disktop: 30%;
