/* @theme: default; */

.header-row {
    display: flex;

    max-width: $site-width;
    margin: 0 auto;

    justify-content: space-between;

    @include clearfix();

    &__container {
        &.show {
            .header-row__trigger {
                box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .2);

                &.focus-visible {
                    box-shadow: $focus-visible-style, inset 0 4px 4px -2px rgba(0, 0, 0, .2);
                }
            }

            .header-row__toggle {
                visibility: inherit;

                transition: opacity .2s;

                opacity: 1;
            }
        }

        &.show-by-hover {
            .header-row__toggle {
                display: block;
            }
        }
    }

    &__trigger {
        border-right: 1px solid get-color('additional', 'ultra');
    }

    &--from-left .main-menu-outer {
        justify-content: flex-start;
    }
}

@include breakpoint('desktop') {
    %hidden-on-desktop {
        &.hidden-on-desktop {
            display: none !important;
        }
    }

    .header-row {
        &__container {
            @extend %hidden-on-desktop;

            &--unstack {
                flex-grow: 1;
            }
        }

        &__trigger {
            @extend %hidden-on-desktop;

            padding: 0;
            border: none;
        }

        &__toggle {
            @extend %hidden-on-desktop;
        }
    }
}

@include breakpoint('tablet') {
    .header-row {
        position: relative;

        z-index: z('base') + 2;

        margin: 0 (-$offset-x-m);

        &__container {
            position: static;

            flex-grow: 1;
            flex-basis: auto;
        }

        &__toggle {
            display: block;

            position: absolute;
            z-index: z('dropdown') + 1;
            right: 0;
            left: 0;

            visibility: hidden;
            overflow-y: auto;

            transition: opacity .2s, visibility .2s;

            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            opacity: 0;
        }

        &__dropdown {
            min-width: 260px;

            background: get-color('additional', 'ultra');

        }

        &--fixed {
            margin: 0;
        }

        & .main-menu__sublist-container {
            width: auto;
        }
    }

    .shown-on-desktop {
        display: none !important;
    }
}
