.button--info,.btn--info{
    border-color:#cc5c28;
    background-color:#cc5c28;
    color:#fff
}
.button--info:hover,.btn--info:hover{
    border-color:#d86936;
    background-color:#d86936;
    color:#fff
}
.button--info--focus,.btn--info--focus,.button--info:focus,.btn--info:focus{
    border-color:#d86936
}
.main-menu-column__title {
    color: #c5c5c5;
}
.quick-access__icon--dark {
    background-color: #cc5c28;
}
.quick-access__icon {
    background-color: #f2994b;
}
.quick-access__icon--light {
    background-color: #fcb91d;
}
.cart-widget__icon {
    background-color: #cc5c28;
}
.product-item__sku-value {
    color: #b84926;
}
.product-sticker--icon-new_arrival {
    background: url(../../../bundles/oroproduct/default/images/sticker-new.svg) 0 0 no-repeat;
}
.topbar-navigation__link span {
    color: #b84926;
}
.catalog-switcher .btn.active, .catalog-switcher .uploader .action.active, .uploader .catalog-switcher .action.active {
    background: #f5f5f5;
    color: #cc5c28;
}
.shopping-list__item-indicator {
    background-color: #cc5c28;
}
.button--action, .btn--action {
    border-color: #000;
    background-color: #000;
    color: #fff;
}
.button--action:hover, .btn--action:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
}
.checkout-navigation__icon--current {
    background-color: #cc5c28;
}