{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set gridName = 'ibnab_slider_banner_grid_edit' %}

{% set relatedGridParams = {
    relatedBanners: get_related_banners(entity.id),
    _parameters: {
        data_in: [],
        data_not_in: []
    }
} %}

{% if form.appendRelated.vars.value is not empty %}
    {% set relatedGridParams = relatedGridParams|merge({
        _parameters: relatedGridParams._parameters|merge({
            data_in: form.appendRelated.vars.value|split(',')
        })
    }) %}
{% endif %}
{% if form.removeRelated.vars.value is not empty %}
    {% set relatedGridParams = relatedGridParams|merge({
        _parameters: relatedGridParams._parameters|merge({
            data_not_in: form.removeRelated.vars.value|split(',')
        })
    }) %}
{% endif %}

{{ form_widget(form.appendRelated, {'id': 'appendRelated'}) }}
{{ form_widget(form.removeRelated, {'id': 'removeRelated'}) }}
{{ placeholder('ibnab_slider_related_banners_buttons', {
    'entity':  entity,
    'relatedbannersLimit': 1000,
    'gridName': gridName
}) }}
{{ dataGrid.renderGrid('ibnab_slider_banner_grid_edit', relatedGridParams) }}


