{% block body_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' body ' ~ (isMobileVersion() ? 'mobile' : 'desktop') ~ '-version modernA'
    }) %}
    <body {{ block('block_attributes') }}>
     {{ parent_block_widget(block) }}
    </body>
{% endblock %}