/* embedded list */
$head-panel-link-color: #4c4646 !default;
$extra: #f9b700 !default;
$extra-100: lighten($extra, 22%) !default;

.embedded-list {
    .slick-dots {
        position: absolute;
        top: 0;
        padding: 0;
        border: 0;
        background: transparent;
        outline: none;
        cursor: pointer;
        font-size: $base-font-size;
        color: $head-panel-link-color;
    }

    .slick-dots {
        list-style: none;
        width: 40%;
        margin: 0px 30%;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            position: relative;
            display: block;
            margin: 0 5px;
            padding: 0;
        }

        button {
            font-size: 0;
            line-height: 0;
            padding: 0;
            display: block;
            width: 10px;
            height: 10px;
            cursor: pointer;
            color: transparent;
            outline: none;
            background: transparent;
            border: 1px solid get-color('secondary', 'light');
            border-radius: 50%;
            @include hover() {
                border-color: get-color('secondary', 'light');
                background: get-color('secondary', 'light');
            }
        }

        .slick-active {
            button {
                background: get-color('secondary', 'light');
                @include hover() {
                    background: get-color('secondary', 'light');
                    cursor: default;
                }
            }
        }
    }
}