/* @theme: default; */

.subscribe-container {
    
    background-color: get-color('secondary','light');
    padding: 15px 0;
    
    &__success-label {
        display: none;
        position: absolute;
        color: get-color('additional','ultra');
        left: 750px;
        margin-bottom: 5px;
    }
    
}
.newsletter-error{
    border-color: get-color('ui','error-dark') !important;
    //background-color: get-color('ui','error') !important;
    //color: get-color('additional','darker') !important;
}
.footer_registration {
    
    display: none;
    background-color: get-color('secondary','light');
    color: get-color('additional','ultra');
    text-align: center;
    padding-bottom: 5px;
    margin-top: -13px;
    
    &__label {
        
        left: 185px;
        position: relative;
    }
    
    &__link {
        
        left: 185px;
        position: relative;
    }
}

#subscribe-form {
    
    //text-align: center;
    
    &__label {
    
    margin-right: 15px;
    color: get-color('additional','ultra');
    text-transform: $information-nav-title-text-transform;
    font-size: 16px;
    font-family: "Lato", "Helvetica", Arial, sans-serif;
    font-weight: 600;
    }
    
    &__input {
        
        width: 300px;
        line-height: normal;
        height: 50px;
    }
    
    &__button {
        
        margin-left: -32px;
        height: 50px;
        background-color: get-color('additional','base');
        background-color: get-color('secondary','light');
        color: get-color('additional','ultra');
        border-style: none;
        cursor: pointer;
        vertical-align: top;
    }
}


@include breakpoint('tablet') {
    
    #subscribe-form {
    
        &__label {
            font-size: 14px;
            margin-right: 0px;
        }
        
        &__button {
        vertical-align: -2px;
        }
    }
}
