* {
    min-height: 0;
    min-width: 0;
}
.product-quick-preview-product {
    position: $quick-view-product-position;
    top: $quick-view-product-top;
    left: $quick-view-product-left;
    right: $quick-view-product-right;
    bottom: $quick-view-product-bottom;
    transform: $quick-view-product-transform;
    padding: $quick-view-product-padding;
    color: $quick-view-product-icon-color;
    font-size: $quick-view-product-icon-size;
    text-shadow: $quick-view-product-icon-text-shadow;

    justify-content: $quick-view-product-justify-content;
    align-items: $quick-view-product-align-items;

    background: $quick-view-product-background;
    opacity: $quick-view-product-opacity;

    width: $quick-view-product-width;
    height: $quick-view-product-height;

    z-index: $quick-view-product-z-index;
    .all-content{
        padding: 10px 10px;
    }
    @extend %base-transition;

    //@include fa-icon($view-product-gallery-icon);

    .product-item__preview:hover > & {
        opacity: $quick-view-product-hover-opacity;
    }

    &:before {
        margin: $view-product-gallery-icon-offset;
    }
}
@include breakpoint('tablet') {
    .slick-slider{
        .product-quick-preview-product {
            .all-content:before {
                margin: 7px 0 0 14px;
                /* direction: rtl; */
            }
        }
    }
    .product-view__related-products{
        .product-quick-preview-product {
            .all-content:before {
                margin: 7px 0 0 -44px;
                /* direction: rtl; */
            }
        }        
    }
    .product-view__upsell-products{
        .product-quick-preview-product {
            .all-content:before {
                margin: 7px 0 0 -44px;
                /* direction: rtl; */
            }
        }        
    }
    .embedded-list__slider{
        .product-quick-preview-product {
            .all-content:before {
                margin: 7px 0 0 14px;
                /* direction: rtl; */
            }
        }        
    }
    .product-quick-preview-product {
        top: $quick-view-product-mobile-top;
        left: $quick-view-product-mobile-left;
        right: $quick-view-product-mobile-right;
        bottom: $quick-view-product-mobile-bottom;
        font-size: $quick-view-product-mobile-font-size;
        opacity: 1;
        width: $quick-view-product-mobile-width;
        height: $quick-view-product-mobile-height;
        border-radius: $quick-view-product-mobile-border-radius;
        transform: $quick-view-product-mobile-transform;
        &.quick-new-arrival{
            .all-content{
                left: 0;
                &:before{

                }
            }
        }
        .all-content{
            width: 100%;
            height: 100%;
            /* bottom: 15px; */
            position: absolute;
            padding: 10px 0 0 0;  
            &:before {
                content: "\f06e";
                font-family: "FontAwesome";
                margin: $view-product-gallery-icon-offset;
                //  margin: 6px 0 0 0px;
                /* direction: rtl; */
            }
        }
        .text-desktop{            
            display: none;
        }
    }
}
.product-quick-preview-product-widget{

}
.view-product-gallery {
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    border-radius: 0 100% 0 0;
    &:before {
        //content: "\f030";
        margin: 6px 0 0 0 !important;
    }
}

.quick-view-dialog-widget{
    max-height: 700px !important;
    .ui-widget-content{
        padding: 0 10px !important;
    }
}

.mobile-version{
    .quick-view-dialog-widget .product-quick-preview-product .all-content:before {
        content: "\F06E";
        font-family: "FontAwesome";
        margin: 6px 0 0 -46px;
        /* direction: rtl; */
    }
}