/* @theme: blank; */

.promo-slider {
    overflow: hidden;

    white-space: nowrap;

    .content-widget & {
        min-width: 100%;
        width: 0;
    }

    &--has-arrows,
    &.embedded-arrows {
        margin-left: $promo-slider-has-arrows-offset;
        margin-right: $promo-slider-has-arrows-offset;
    }

    &__item {
        position: relative;

        display: inline-block;
        width: 100%;

        white-space: normal;

        @for $i from 1 through 6 {
            &--fraction-#{$i} {
                width: 100% / $i;
            }
        }
    }

    &__info {
        position: absolute;
        cursor: pointer;

        width: $promo-slider-info-width;

        &--center {
            left: $promo-slider-info-center-position;
            top: $promo-slider-info-center-position;

            transform: translate(-$promo-slider-info-center-position, -$promo-slider-info-center-position);
        }

        &--left {
            top: $promo-slider-info-center-position;
            left: $promo-slider-info-left-position;

            transform: translateY(-$promo-slider-info-base-position);
        }

        &--right {
            top: $promo-slider-info-center-position;
            right: $promo-slider-info-right-position;

            transform: translateY(-$promo-slider-info-base-position);
        }

        &--top_left {
            top: $promo-slider-info-top-position;
            left: $promo-slider-info-left-position;
        }

        &--top_center {
            top: $promo-slider-info-top-position;
            left: $promo-slider-info-center-position;

            transform: translate(-$promo-slider-info-base-position, 0);
        }

        &--top_right {
            top: $promo-slider-info-top-position;
            right: $promo-slider-info-right-position;;
        }

        &--bottom_left {
            left: $promo-slider-info-left-position;
            bottom: $promo-slider-info-bottom-position;
        }

        &--bottom_center {
            bottom: $promo-slider-info-bottom-position;
            left: $promo-slider-info-center-position;

            transform: translate(-$promo-slider-info-base-position, 0);
        }

        &--bottom_right {
            bottom: $promo-slider-info-bottom-position;
            right: $promo-slider-info-right-position;

            transform: translate(0, -$promo-slider-info-base-position);
        }

        $link-style: map-get($btn-theme-keys, $promo-slider-link-style);

        @if ($link-style) {
            // weight of selector below must be increased due of specific styles for cms content
            a[href] {
                $style-variants: map-remove($link-style, 'divider-style');

                @extend %base-button;
                @include button-custom-variant($style-variants...);
            }
        }
    }

    &__img {
        width: 100%;
    }

    .slick-prev,
    .slick-next {
        top: $promo-slider-position-y;

        transform: translate(0, -$promo-slider-position-y);
    }

    .slick-prev {
        left: $promo-slider-position-x;
    }

    .slick-next {
        right: $promo-slider-position-x;
    }

    @if ($promo-slider-use-dots) {
        @include slick-dots(
            $slick-dots-bottom-pos: $promo-slider-dots-bottom-pos,
            $slick-dots-item-offset: $promo-slider-dots-item-offset,
            $slick-dots-button-bg: $promo-slider-dots-button-bg,
            $slick-dots-button-border: $promo-slider-dots-button-border,
            $slick-dots-button-active-border: $promo-slider-dots-button-active-border,
            $slick-dots-button-active-bg: $promo-slider-dots-button-active-bg,
            $slick-dots-button-active-box-shadow: $promo-slider-dots-button-active-box-shadow
        );
    }

    &.slick-initialized {
        overflow: visible;
    }
}

@include breakpoint('mobile-landscape') {
    .promo-slider__info {
        width: $promo-slider-info-width-mobile-landscape;

        @if ($promo-slider-hide-description-mobile-landscape) {
            p {
                display: none;
            }
        }
    }
}
