.control-group {
    display: inline-block !important;
}
.searchBlock {
    position: relative;
}
.search-result {
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 999;
    top: 55px;
    box-shadow: 0 0 2px 0 #e4dddd;
    width: 35%;
}
ul.search-data-list {
    list-style: none;
    margin: 0;
}
.search-data-list li {
    padding: 5px;
    border-bottom: 1px solid #e4dddd;
    color: #666;
    cursor: pointer;
}
.small-text-box {
    width: 200px !important;
}
ul.products {
    box-shadow: 0 0 1px 1.5px #e4dddd;
}
.products li:first-child {
    border-top: 1px solid #e4dddd;
}

.products li {
    border: 1px solid #e4dddd;
    padding: 10px;
    border-top: none;
}

.removeRow {
    margin-left: 25px;
}