{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

{% set pageTitle = 'oro.pom.config.entity_plural_label'|trans %}

{# {% if form.vars.value.id %}
    {% set formAction = path('pom_config', { 'id': form.vars.value.id }) %}
{% else %} #}
    {% set formAction = path('pom_config') %}
{# {% endif %} #}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.addButton({
            'path': path('pom_config'),
        }) }}
    </div>
{% endblock %}

{% block content_data %}

    {% set id = 'pom-config' %}

    {% set generalSubBlocks = [{'data' : [
        form_row(form.status),
        form_row(form.orderPrefix),
        form_row(form.procurementMethod),
        form_row(form.quotationQuantity),
        form_row(form.poOnOrder),
        form_row(form.posOrderStatus),
        form_row(form.poEmailId),
    ]}] %}

    {% set emailSubBlocks = [{'data' : [
        
    ]}] %}

    {% set shippingSubBlocks = [{'data' : [
        
    ]}] %}

    {% set paymentSubBlocks = [{'data' : [
        
    ]}] %}

    {% set dataBlocks = [
        {
            'title': 'oro.pom.config.tab_general'|trans,
            'class': 'active',
            'subblocks': generalSubBlocks
        },
        {
            'title': 'oro.pom.config.tab_email'|trans,
            'subblocks': emailSubBlocks
        },
        {
            'title': 'oro.pom.config.tab_shipping'|trans,
            'subblocks': shippingSubBlocks
        },
        {
            'title': 'oro.pom.config.tab_payment'|trans,
            'subblocks': paymentSubBlocks
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock content_data %}