{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'oro.pom.supplier.entity_plural_label'|trans %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.addButton({
            'path': path('pom_supplier_create'),
            'label' : 'oro.pom.supplier.entity_create_supplier'|trans
        }) }}
    </div>
{% endblock %}
