{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

{% if form.vars.value.id %}
    {% set formAction = path('pom_supplier_update', { 'id': form.vars.value.id }) %}
{% else %}
    {% set formAction = path('pom_supplier_create') %}
{% endif %}

{% block navButtons %}
    {% if form.vars.value.id and is_granted('DELETE', form.vars.value) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_pom_api_delete_supplier', {'id': form.vars.value.id}),
            'dataRedirect': path('pom_supplier'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-tag',
            'dataId': form.vars.value.id,
            'entity_label': 'oro.pom.supplier.entity_label'|trans
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.cancelButton(path('pom_supplier')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if is_granted('pom_supplier_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({ 'html': html }) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('pom_supplier'),
            'indexLabel': 'oro.pom.supplier.entity_label'|trans,
            'entityTitle': form.vars.value.name
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.pom.supplier.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'supplier-edit' %}

    {% set dataBlocks = [{
            'title': 'oro.pom.general.text_general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.name),
                    form_row(form.email),
                    form_row(form.website),
                    form_row(form.supplierNumber),
                    form_row(form.ownerName),
                    form_row(form.gender),
                    form_row(form.telephone),
                    form_row(form.fax),
                    form_row(form.street),
                    form_row(form.city),
                    form_row(form.postcode),
                    form_row(form.country),
                    form_row(form.state),
                    form_row(form.status),
                ]
            }]
        }]
    %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}

    <script>
        loadModules(['jquery', 'oroui/js/mediator'],
            function($, mediator) {
                $(document).ready(function(){
                    var $country = $('select[name="supplier[country]"]');
                    $country.on('change', function() {
                        var $form = $(this).closest('form');
                        var data = {};
                        data[$country.attr('name')] = $country.val();
                        $.ajax({
                            url : $form.attr('action'),
                            type: $form.attr('method'),
                            data : data,
                            beforeSend: function(){
                                mediator.execute('showLoading');
                            },
                            complete: function() {
                                mediator.execute('hideLoading');
                            },
                            success: function(html) {
                                $('select[name="supplier[state]"]').replaceWith(
                                    $(html).find('select[name="supplier[state]"]')
                                );
                                $('select[name="supplier[state]"]').prev('span').text($('select[name="supplier[state]"] option:first-child').text());
                            }
                        });
                    });

                    $('body').on('change', 'select[name="supplier[state]"]', function() {
                        $(this).prev('span').text($('select[name="supplier[state]"] option[value='+$(this).val()+']').text());
                    })

                })
            }
        );
    </script>

{% endblock content_data %}