{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block navButtons %}
    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('pom_supplier_update', { id: entity.id }),
            'entity_label': 'oro.pom.supplier.entity_label'|trans
        }) }}
    {% endif %}

    {% if is_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_pom_api_delete_supplier', {'id': entity.id}),
            'dataRedirect': path('pom_supplier'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-supplier',
            'dataId': entity.id,
            'entity_label': 'oro.pom.supplier.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('pom_supplier'),
        'indexLabel': 'oro.pom.supplier.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status == 'enabled' %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled fa-circle"></i>
                {{ 'oro.pom.general.status.enabled'|trans }}
            </div>
        {% else %}
            <div class="badge badge-disabled status-disabled">
                <i class="icon-status-disabled fa-circle"></i>
                {{ 'oro.pom.general.status.disabled'|trans }}
            </div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set supplierInfoWidget %}
        {{ oro_widget_render({
            'alias': 'pom_supplier_info',
            'widgetType': 'block',
            'url':  path('pom_supplier_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set supplierInfoWidgetSubBlock = [{'data' : [supplierInfoWidget]}] %}

    {% set supplierPurchaseOrdersWidget %}
        {{ oro_widget_render({
            'alias': 'pom_supplier_purchase_orders',
            'widgetType': 'block',
            'url':  path('pom_purchaseorder_list', {supplierId: entity.id})
        }) }}
    {% endset %}

    {% set supplierPurchaseOrdersSubBlock = [{'data' : [supplierPurchaseOrdersWidget]}] %}

    {% set dataBlocks = [
        {
            'title': 'oro.pom.general.text_general'|trans,
            'class': 'active',
            'subblocks': supplierInfoWidgetSubBlock
        },
        {
            'title': 'oro.pom.purchase_order.entity_plural_label'|trans,
            'subblocks': supplierPurchaseOrdersSubBlock
        },

    ] %}

    {% set id = 'supplierView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}