{% set banners = get_banners(slider_id) %}

{% set slider = get_slider(slider_id) %}
{% set slidesToShow = slider.slidesToShow | default(1)  %}
{% set autoplay = slider.autoplay | default(true) %}
{% set arrows = ((slider.arrows | default(false)) ? 'true' : 'false') %}
{% set dots = ((slider.dots | default(false)) ? 'true' : 'false') %}
{% set draggable = ((slider.draggable | default(true)) ? 'true' : 'false') %}
{% set infinite = ((slider.infinite | default(true)) ? 'true' : 'false') %}
{% set focusOnSelect = ((slider.focusOnSelect | default(true)) ? 'true' : 'false') %}
{% set pauseOnHover = ((slider.pauseOnHover | default(true)) ? 'true' : 'false') %}
{% set pauseOnDotsHover = ((slider.pauseOnDotsHover | default(false)) ? 'true' : 'false') %}
{% set variableWidth = ((slider.variableWidth | default(false)) ? 'true' : 'false') %}
{% set centerMode = ((slider.centerMode | default(false)) ? 'true' : 'false') %}
{% set autoplay = ((slider.autoplay | default(true)) ? 'true' : 'false') %}
{% set swipe = ((slider.swipe | default(false)) ? 'true' : 'false') %}
{% set touchMove = ((slider.touchMove | default(true)) ? 'true' : 'false') %}
{% set verticalSwiping = ((slider.verticalSwiping | default(false)) ? 'true' : 'false') %}
{% set rtl = ((slider.rtl | default(false)) ? 'true' : 'false') %}
{% set autoplaySpeed = slider.autoplaySpeed | default(3000) %}
{% set slidesPerRow = slider.autoplaySpeed | default(1) %}
{% set initialSlide = slider.initialSlide | default(1) %}
{% set speed = slider.speed | default(300) %}
{% set slidesToShow = slider.slidesToShow | default(1) %}
{% set slidesToScroll = slider.slidesToScroll | default(1) %}
{% set centerPadding = slider.centerPadding | default(50) %}
{% set easing = slider.easing | default('linear') %}
{% set respondTo = slider.respondTo | default('window') %}
{% set responsive = slider.responsive | default('') %}
{% set lazy_load = slider.lazy_load | default('ondemand') %}

{% set url = banner.url | default('#') %}

{% set bannerDate = "slider" ~ random() %}

 <div class="easy-slider" data-page-component-options="{&quot;slidesToShow&quot;:{{ slidesToShow }},&quot;autoplay&quot;:{{ autoplay }},&quot;autoplaySpeed&quot;:{{ autoplaySpeed }},&quot;arrows&quot;:{{ arrows }},&quot;dots&quot;:{{ dots }},&quot;draggable&quot;:{{ draggable }},&quot;infinite&quot;:{{ infinite }},&quot;focusOnSelect&quot;:{{ focusOnSelect }},&quot;pauseOnHover&quot;:{{ pauseOnHover }},&quot;pauseOnDotsHover&quot;:{{ pauseOnDotsHover }},&quot;variableWidth&quot;:{{ variableWidth }},&quot;centerMode&quot;:{{ centerMode }},&quot;touchMove&quot;:{{ touchMove }},&quot;verticalSwiping&quot;:{{ verticalSwiping }},&quot;rtl&quot;:{{ rtl }},&quot;initialSlide&quot;:{{ initialSlide }},&quot;speed&quot;:{{ speed }},&quot;slidesPerRow&quot;:{{ slidesPerRow }},&quot;slidesToScroll&quot;:{{ slidesToScroll }},&quot;centerPadding&quot;:{{ centerPadding  }},&quot;easing&quot;:&quot;{{ easing }}&quot;,&quot;respondTo&quot;:&quot;{{ respondTo }}&quot;,&quot;responsive&quot;:&quot;{{ responsive }}&quot;,&quot;lazyLoad&quot;:&quot;{{ lazy_load }}&quot; }"
                 data-page-component-module="orofrontend/js/app/components/list-slider-component">
                {% for banner in banners %}
                        <div class="easy-slider__item">
                        {% if banner.url is not null %}
                        <a href="{{ banner.url }}" target="{{ banner.target }}">
                        {% endif %}
                        <div class="easy-slider__picture">
                            <picture>
                                {% if banner.mediumCache is not null %}                                   
                                <source srcset="{{ banner.mediumCache }}"
                                        media="(max-width: 992px)">
                                {% endif %}
                                {% if banner.smallCache is not null %}
                                <source srcset="{{ banner.smallCache }}"
                                        media="(max-width: 414px)">
                                {% endif %}
                            <img class="easy-slider__img" src="{{ banner.bigCache }}" alt="{{ banner.imgAlt }}" />
                         </picture>
                        </div>
                        {% if banner.url is not null %}
                        </a>
                        {% endif %}
                        <div class="description">
                        {% if banner.description is not null %}
                        {{ banner.description | raw }}
                        {% endif %}
                        </div>
                        </div>
                {% endfor %}
            </div>