{#
    Available variables:
    * entity       - Slider entity Ibnab\Bundle\SliderBundle\Entity\Slider
    * indexer_item - indexer item Oro\Bundle\SearchBundle\Query\Result\Item
#}
{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}

{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set title = indexer_item.recordTitle %}