{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
<div class="widget-content">
    <input
        type="hidden"
        data-role="related-items-appended-ids"
        name="appendRelatedSelect"
        id="appendRelatedSelect"
        value="{{ app.request.get('addedBannerRelated')|join(',') }}"
    />
    <input
        type="hidden"
        data-role="related-items-removed-ids"
        name="removeRelatedSelect"
        id="removeRelatedSelect"
        value="{{ app.request.get('removedBannerRelated')|join(',') }}"
    />

    {{ dataGrid.renderGrid('ibnab_slider_banner_grid_select', {'sliderId': slider.id, 'relatedBanners': get_related_banners(slider.id)}) }}

    <div class="widget-actions form-actions">
        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
        <button class="btn btn-primary" data-role="related-items-submit-button" type="button">
            {{ 'oro.product.widgets.select_products'|trans }}
        </button>
    </div>
</div>
