{% import 'OroUIBundle::macros.html.twig' as UI %}
{% if entity.id is not null %}
<div class="related-products-widget">
    {{ UI.clientLink({
        'dataUrl': path('ibnab_slider_manage_possible_banners', {'id': entity.id}),
        'aCss': 'btn no-hash related-products-widget__button',
        'label' : 'ibnab.slider.widgets.select_related_banners.label'|trans,
        'widget' : {
            'type' : 'related-banners',
            'options' : {
                'dialogOptions' : {
                    'title': 'ibnab.slider.widgets.select_related_banners.title'|trans({'{{ title }}': entity.title}),
                    'modal': true,
                    'resizable': false,
                    'width': 820,
                    'height': '80vh',
                    'autoResize': true,
                },
                'itemsLimit': relatedbannersLimit,
                'itemsIdsToAdd': '#appendRelated',
                'itemsIdsToRemove': '#removeRelated',
            }
        }
    }) }}
</div>
{% endif %}