{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUIBundle::macros.html.twig' as UII %}
{% set formAction = entity.id ? path('ibnab_slider_manage_update', {id: entity.id}) : path('ibnab_slider_manage_create') %}

{% oro_title_set({params : {'%slider.title%': entity.title, '%entityName%': 'ibnab.slider.manage.entity_label'|trans} }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('ibnab_slider_manage_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if form.vars.value.id or is_granted('ibnab_slider_manage_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('ibnab_slider_manage_index'),
            'indexLabel': 'ibnab.slider.manage.entity_plural_label'|trans,
            'entityTitle': entity.title
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'ibnab.slider.manage.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'slider' %}
    {% set formRows = [
        form_row(form.title),
        form_row(form.showtTitle),         
        form_row(form.draggable),
        form_row(form.infinite),
        form_row(form.focusOnSelect),
        form_row(form.mobileFirst),
        form_row(form.pauseOnFocus),
        form_row(form.pauseOnHover),
        form_row(form.pauseOnDotsHover),
        form_row(form.arrows),
        form_row(form.variableWidth),
        form_row(form.centerMode),
        form_row(form.autoplay),
        form_row(form.swipe),
        form_row(form.touchMove),
        form_row(form.verticalSwiping),
        form_row(form.rtl),
        form_row(form.autoplaySpeed),
        form_row(form.slidesPerRow),
        form_row(form.initialSlide),
        form_row(form.speed),
        form_row(form.slidesToShow),
        form_row(form.slidesToScroll),
        form_row(form.centerPadding),
        form_row(form.easing),
        form_row(form.respondTo),
        form_row(form.responsive),
        form_row(form.lazy_load)
    ] %}
   {% if entity.id is not null %}
    {% set bannersWidget %}
        <div class="responsive-cell">
            {{ oro_widget_render({
                'widgetType': 'block',
                'contentClasses': [],
                'url': path('ibnab_slider_manage_banners', {id: entity.id}),
                'title': 'ibnab.slider.manage.banners'|trans
            }) }}
        </div>
    {% endset %}
    {% endif %}

    {% set dataBlocks = [{
        'title': 'General'|trans,
        'class': 'active',
        'subblocks': [
            {
                'title': 'Basic Information'|trans,
                'data': formRows
            }
        ]
    },
        {
            'title': 'Banners'|trans,
                'headerLinkContent': UII.link({
                        path: path('ibnab_slider_manage_related_banners_update', {id: entity.id}),
                        label: 'oro.product.quick_edit.label'|trans,
                        iCss: 'fa-edit',
                        class: 'quick-editable pull-right'
                    }),
                'priority': 460,
            'subblocks': [
                {'data' : [bannersWidget] }
            ]
        }
    ] %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}
{% endblock content_data %}
