{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {"%sku%": entity.title|default('N/A'|trans) , "%name%": (entity.id)|default('N/A'|trans) } }) %}

{% set formAction = entity.id ? path('ibnab_slider_manage_related_banners_update', { 'id': entity.id }) : path('ibnab_slider_manage_create')  %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('ibnab_slider_manage_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or is_granted('ibnab_slider_manage_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs =
            {
                'entity':      entity,
                'indexPath':   path('ibnab_slider_manage_index'),
                'indexLabel': 'ibnab.slider.manage.entity_label'|trans,
                'entityTitle': entity.title 
            }
        %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'ibnab.slider.manage.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'ibnab-slider-manage-related-banners-update' %}
    {% set dataBlocks = {} %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
        }
    %}

    {{ UI.scrollData(id, data, entity, form) }}

{% endblock content_data %}