{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'ibnab_slider_grid' %}
{% set pageTitle = 'ibnab.slider.manage.entity_plural_label'|trans %}

{% block navButtons %}
    {% if is_granted('ibnab_slider_manage_create') %}
        {{ UI.addButton({
            'path' : path('ibnab_slider_manage_create'),
            'entity_label': 'ibnab.slider.manage.entity_label'|trans
        }) }}
    {% endif %}
{% endblock %}