{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'oro.pom.purchase_order.entity_plural_label'|trans %}

{% block navButtons %}
    <div class="btn-group">
        {{ UI.clientButton({
            'dataUrl': path('pom_supplier_list'),
            'aCss': 'no-hash btn btn-large btn-primary',
            'label' : 'oro.pom.purchase_order.text_create_purchase_order'|trans,
            'widget' : {
                'type' : 'dialog',
                'multiple' : true,
                'refresh-widget-alias': 'supplier-list-widget',
                'options' : {
                    'dialogOptions' : {
                        'title' : 'oro.pom.supplier.entity_plural_label'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 1000
                    }
                }
            }
        }) }}
    </div>    
{% endblock %}