{% import 'OroUIBundle::macros.html.twig' as UI %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/themes/oro/oro.css')) }}">
{% endblock %}

{% block content_data %}
    <div class="widget-content">
        <div class="row-fluid text-right">
            {{ UI.button({
                'path':  path('pom_purchaseorder_send_invoice', { 
                    'id' : purchaseOrder.id 
                }),
                'id': 'purchase-order-send-email-button',
                'aCss':  'btn btn-large btn-primary action-button',
                'label': 'Send Email',
                'title': 'Send Email',
            }) }}
        </div><br/>
        <div class="row-fluid ">
            <div class="pull-left">
                {{ oro_widget_render({
                    'alias': 'pom_supplier_info',
                    'widgetType': 'block',
                    'label': 'Supplier Info',
                    'url':  path('pom_supplier_info', {id: purchaseOrder.supplierId})
                }) }}
            </div>
            <div class="pull-right">
                {{ oro_widget_render({
                    'alias': 'pom_purchaseorder_info',
                    'widgetType': 'block',
                    'label': 'Purchase Order Info',
                    'url':  path('pom_purchaseorder_info', {id: purchaseOrder.id})
                }) }}
            </div>
        </div>
        <div class="row-fluid">
            {{ oro_widget_render({
                'alias': 'pom_address_info',
                'widgetType': 'block',
                'label': 'Purchase Order Address',
                'url':  path('pom_address_info', {id: purchaseOrder.id})
            }) }}
        </div><br/>
        <div class="row-fluid ">
            {{ oro_widget_render({
                'alias': 'pom_purchaseorder_products',
                'widgetType': 'block',
                'label': 'Purchase Order Products',
                'url':  path('pom_purchaseorder_products', {id: purchaseOrder.id})
            }) }}
        </div>
    </div>
{% endblock %}