{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

{% set pageTitle = 'oro.pom.supplier.entity_plural_label'|trans %}

{% if form.vars.value.id %}
    {% set formAction = path('pom_purchaseorder_update', { 'id': form.vars.value.id }) %}
{% else %}
    {% set formAction = path('pom_purchaseorder_create', {'id': supplier.id}) %}
{% endif %}

{% block navButtons %}
    {% if form.vars.value.id and is_granted('EDIT', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_pom_api_delete_purchaseorder', {'id': form.vars.value.id}),
            'dataRedirect': path('pom_supplier'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-tag',
            'dataId': form.vars.value.id,
            'entity_label': 'oro.pom.general.entry_delete'|trans
        }) }}
        
        {{ UI.editButton({
            'path' : path('pom_purchaseorder_view', { id: entity.id }),
            'entity_label': 'oro.pom.purchase_order.entity_label'|trans,
            'label': 'oro.pom.purchase_order.text_process'|trans,
            'title': 'oro.pom.purchase_order.text_process_further'|trans,
            'icon': 'forward'
        }) }}
    {% endif %}
    {{ UI.cancelButton(path('pom_purchaseorder')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% set html = html ~ UI.saveAndStayButton() %}
    {{ UI.dropdownSaveButton({ 'html': html }) }} 
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('pom_purchaseorder'),
            'indexLabel': 'oro.pom.purchase_order.entity_plural_label'|trans,
            'entityTitle': 'oro.pom.purchase_order.entity_label'|trans~' - #'~entity.id
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.pom.purchase_order.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if form.vars.value.id %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled fa-circle"></i>
                {% for key, status in purchaseOrderStatuses %}
                    {% if status == entity.status %}
                        {{ key|upper }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    <style>
        .products .control-group {
            display: inline-block !important;
        }
        .searchBlock {
            position: relative;
        }
        .search-result {
            display: none;
            position: absolute;
            background-color: #FFF;
            z-index: 999;
            top: 55px;
            box-shadow: 0 0 2px 0 #afa7a7;
            width: 35%;
        }
        ul.search-data-list {
            list-style: none;
            margin: 0;
        }
        .search-data-list li {
            padding: 5px;
            border-bottom: 1px solid #e4dddd;
            color: #666;
            cursor: pointer;
        }
        .products .small-text-box {
            width: 200px !important;
        }
        .products ul.products {
            box-shadow: 0 0 1px 1.5px #e4dddd;
        }
        .products li:first-child {
            border-top: 1px solid #e4dddd;
        }
        
        .products li {
            border: 1px solid #e4dddd;
            padding: 10px;
            border-top: none;
        }
        
        .removeRow {
            margin-left: 25px;
        }
    </style>
    {{ form_start(form) }}
        {% set supplierInfoWidget %}
            {{ oro_widget_render({
                'alias': 'pom_supplier_info',
                'widgetType': 'block',
                'label': 'Supplier info',
                'url':  path('pom_supplier_info', {id: supplier.id})
            }) }}
        {% endset %}
        {% set supplierInfoWidgetSubBlock = [{'data' : [supplierInfoWidget]}] %}
        {% set purchaseOrderProductsWidget %}
            {{ form_errors(form.products) }}
            <div class="searchBlock">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <input type="text" placeholder="{{ 'oro.pom.product.text_search_product'|trans }}" autocomplete="off" name="searchInput" />
                    </div>
                </div>
                <div class="search-result">
                    <ul class="search-data-list"></ul>
                </div>
            </div>
            
            {{ form_row(form.supplierId) }}
            <ul class="products" style="list-style:none">
                {% for product in form.products %}
                    <li>
                        <div>
                            {{ form_row(product.purchaseOrderId) }}
                            {{ form_row(product.productId) }}
                            {{ form_row(product.productName) }}
                            {{ form_row(product.sku) }}
                            {{ form_row(product.quantity) }}
                            {{ form_row(product.price) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="products-form" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}"></ul>
        {% endset %}
        {% set purchaseOrderProductsWidgetSubBlock = [{'data' : [purchaseOrderProductsWidget]}] %}

        {% set purchaseOrderAddressesWidget %}
            {% for addressI in form.address %}
                {{ form_row(addressI.purchaseOrderId) }}
                {{ form_row(addressI.firstname) }}
                {{ form_row(addressI.lastname) }}
                {{ form_row(addressI.email) }}
                {{ form_row(addressI.contactNo) }}
                {{ form_row(addressI.address1) }}
                {{ form_row(addressI.address2) }}
                {{ form_row(addressI.city) }}
                {{ form_row(addressI.country) }}
                {{ form_row(addressI.state) }}
                {{ form_row(addressI.stateId) }}
            {% endfor %}
        {% endset %}
        {% set purchaseOrderAddressesWidgetSubBlock = [{'data' : [purchaseOrderAddressesWidget]}] %}
        {% set dataBlocks = [
            {
                'title': 'oro.pom.purchase_order.tab_general'|trans,
                'class': 'active',
                'subblocks': supplierInfoWidgetSubBlock
            },
            {
                'title': 'oro.pom.purchase_order.tab_product'|trans,
                'subblocks': purchaseOrderProductsWidgetSubBlock
            },
            {
                'title': 'oro.pom.purchase_order.tab_delivery_address'|trans,
                'subblocks': purchaseOrderAddressesWidgetSubBlock
            }
        ] %}

        {% set id = 'purchaseOrder' %}
        {% set data = { 
            'formErrors': form_errors(form)? form_errors(form) : null,
            'dataBlocks': dataBlocks,
        } %}
    {{ form_end(form) }}
    {{ parent() }}

    <script type="text/javascript">
        loadModules(['jquery', 'oroui/js/mediator'],
            function($, mediator) {
                var $collectionHolder;
                var $addProductButton = $('<button type="button" class="btn btn-primary add_product_link">Add a product</button>');
                // Uncomment to give a button to add a row of product list
                //$('.products').append($addProductButton);

                var index = 0;
                $(document).ready(function() {

                    $(document).on('mouseup', function(e) {
                        var container = $(".search-result");
                        if (!container.is(e.target) && container.has(e.target).length === 0) 
                        {
                            container.hide();
                        }
                    });
                    $collectionHolder = $('ul.products-form');

                    $('.products').find('li').each(function() {
                        index++;
                        addProductFormDeleteLink($(this));
                    });
                    $collectionHolder.data('index', index);

                    $addProductButton.on('click', function(e) {
                        addProductForm($collectionHolder);
                    });
                    $('input[name="searchInput"]').on('keyup, click', function() {
                        term = $(this).val();
                        values = [];
                        $("input[data-name='field__sku']").each(function() {
                            values.push($(this).val());
                        });
                        pathArray = window.location.pathname.split( '/' );
                        purchaseOrderId = pathArray[pathArray.length - 1];
                        action = pathArray[pathArray.length - 2];
                        $.ajax({
                            url: "{{ path('poproduct_products_get_api') }}",
                            data: {
                                term : term,
                                id: purchaseOrderId,
                                action: action,
                                values : JSON.stringify(values),
                            },
                            dataType: 'json',
                            beforeSend: function() {
                                mediator.execute('showLoading');
                                $('.search-result').hide();
                            },
                            success: function(response) {
                                $('.search-result').show();
                                if(response.success == true) {
                                    html = '';
                                    $.each(response.products, function(index, value){
                                        termLength = term.length;
                                        indexOfTerm = value.name.search(term);
                                        firstpart = value.name.substring(0, indexOfTerm);
                                        lastpart = value.name.substring(indexOfTerm + termLength);
                                        mainString = firstpart+'<b><u>'+term+'</u></b>'+lastpart;
                                        html += '<li data-id="'+value.id+'" >'+mainString+'</li>'
                                    });
                                    $('.search-data-list').html(html);
                                } else {
                                    $('.search-data-list').html('<li data-id="">No result</li>');
                                }
                                mediator.execute('hideLoading');
                            }
                        })
                    });

                    $('body').on('click', '.search-data-list li', function(){
                        $('.search-result').hide();
                        id = $(this).data('id');
                        
                        if(id != '') {
                            $.ajax({
                                url: "{{ path('poproduct_product_get_api') }}",
                                data: {
                                    id : id
                                },
                                dataType: 'json',
                                beforeSend: function() {
                                    mediator.execute('showLoading');
                                },
                                success: function(response) {
                                    mediator.execute('hideLoading');
                                    if(response.success == true) {
                                        addProductForm($collectionHolder, response.product);
                                        $('input[name="searchInput"]').val('');
                                    }
                                }
                            })
                        }
                    })

                    
                    var $country = $('select[name="purchase_order[address][0][country]"]');
                    $country.on('change', function() {
                        var $form = $(this).closest('form');
                        var data = {};
                        data[$country.attr('name')] = $country.val();
                        $.ajax({
                            url : $form.attr('action'),
                            type: $form.attr('method'),
                            data : data,
                            beforeSend: function(){
                                mediator.execute('showLoading');
                            },
                            complete: function() {
                                mediator.execute('hideLoading');
                            },
                            success: function(html) {
                                $('select[name="purchase_order[address][0][state]"]').replaceWith(
                                    $(html).find('select[name="purchase_order[address][0][state]"]')
                                );
                                $('select[name="purchase_order[address][0][state]"]').prev('span').text($('select[name="purchase_order[address][0][state]"] option:first-child').text());
                            }
                        });
                    });

                    $('body').on('change', 'select[name="purchase_order[address][0][state]"]', function() {
                        $(this).prev('span').text($('select[name="purchase_order[address][0][state]"] option[value='+$(this).val()+']').text());
                    })

                });

                function addProductForm($collectionHolder, product) {
                    var prototype = $collectionHolder.data('prototype');
                    let index = $collectionHolder.data('index');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);
                    newForm = $('<li id="product-row-'+index+'">'+newForm+'</li>');
                    var $newFormLi = $('ul.products').prepend(newForm);
                    addProductFormDeleteLink(newForm);

                    
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][productId]"]').val(product.id);
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][productName]"]').val(product.name);
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][sku]"]').val(product.sku);
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][received]"]').val(0);
                }

                function addProductFormDeleteLink($newForm) {
                    var $removeFormButton = $('<button class="removeRow btn btn-icon btn-square-light" type="button"><span class="fa-close"></span></button>');
                    $newForm.children('div').append($removeFormButton);
                
                    $removeFormButton.on('click', function(e) {
                        $newForm.remove();
                    });
                }

            });
    </script>

{% endblock %}
