{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

{% set pageTitle = 'oro.pom.supplier.entity_plural_label'|trans %}

{% if form.vars.value.id %}
    {% set formAction = path('pom_purchaseorder_update', { 'id': form.vars.value.id }) %}
{% else %}
    {% set formAction = path('pom_purchaseorder_create', {'id': supplier.id}) %}
{% endif %}

{% block navButtons %}
    {% if form.vars.value.id %}
        {{ UI.clientButton({
            'dataUrl': path('pom_purchaseorder_invoice', { 'id' : entity.id }),
            'aCss': 'no-hash',
            'iCss': 'email',
            'dataId': entity.id,
            'label' : 'Email',
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'refresh-widget-alias': 'activity-list-widget',
                'options' : {
                    'alias': 'webkul-pom-bundle-purchase-order',
                    'dialogOptions' : {
                        'title' : 'Invoice Email',
                        'allowMaximize': true,
                        'allowMinimize': false,
                        'dblclick': 'maximize',
                        'width': 1000
                    }
                }
            }
        }) }}
    
        {{ UI.button({
            'path':  path('pom_inventory_receive', { 
                'id' : entity.id
            }),
            'id': 'purchase-order-send-email-button',
            'aCss':  'btn btn-large btn-primary action-button',
            'label': 'Receive Inventory',
            'title': 'Receive Inventory',
        }) }}

        {% if entity.invoiceNo %}
            {% set receviceInvoiceUrl = path('pom_purchaseorder_receiveinvoice_update', { 'id' : entity.invoiceNo }) %}
        {% else %}
            {% set receviceInvoiceUrl = path('pom_purchaseorder_receiveinvoice_create', { 'id' : entity.id }) %}
        {% endif %}

        {{ UI.clientButton({
            'dataUrl': receviceInvoiceUrl,
            'aCss': 'btn btn-large btn-primary no-hash',
            'dataId': entity.id,
            'label' : 'Receive Invoice',
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'refresh-widget-alias': 'activity-list-widget',
                'options' : {
                    'alias': 'webkul-pom-bundle-purchase-order-receive-invoice',
                    'dialogOptions' : {
                        'title' : 'Receive Invoice',
                        'allowMaximize': true,
                        'allowMinimize': false,
                        'dblclick': 'maximize',
                        'width': 1000
                    }
                }
            }
        }) }}

    {% endif %}
    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('pom_purchaseorder_update', { id: entity.id }),
            'entity_label': 'Purchase Order'|trans
        }) }}
    {% endif %}
    {{ UI.cancelButton(path('pom_purchaseorder')) }}
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('pom_purchaseorder'),
            'indexLabel': 'Purchase Orders'|trans,
            'entityTitle': 'Purchase Order - #'~entity.id
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'Purchase Order'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if form.vars.value.id %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled fa-circle"></i>
                {% for key, status in purchaseOrderStatuses %}
                    {% if status == entity.status %}
                        {{ key|upper }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set supplierInfoWidget %}
    {{ oro_widget_render({
        'alias': 'pom_supplier_info',
        'widgetType': 'block',
        'label': 'Purchase Orders',
        'url':  path('pom_supplier_info', {id: supplier.id})
    }) }}
    {% endset %}
    {% set supplierInfoWidgetSubBlock = [{'data' : [supplierInfoWidget]}] %}

    {% set purchaseOrderProductsWidget %}
        {{ oro_widget_render({
            'alias': 'pom_purchaseorder_products',
            'widgetType': 'block',
            'label': 'Purchase Order Products',
            'url':  path('pom_purchaseorder_products', {id: entity.id})
        }) }}
    {% endset %}
    {% set purchaseOrderProductsWidgetSubBlock = [{'data' : [purchaseOrderProductsWidget]}] %}

    {% set purchaseOrderAddressesWidget %}
        {{ oro_widget_render({
            'alias': 'pom_address_info',
            'widgetType': 'block',
            'label': 'Purchase Order Address',
            'url':  path('pom_address_info', {id: entity.id})
        }) }}
    {% endset %}
    {% set purchaseOrderAddressesWidgetSubBlock = [{'data' : [purchaseOrderAddressesWidget]}] %}

    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': supplierInfoWidgetSubBlock
        },
        {
            'title': 'Products'|trans,
            'subblocks': purchaseOrderProductsWidgetSubBlock
        },
        {
            'title': 'Shipping Address'|trans,
            'subblocks': purchaseOrderAddressesWidgetSubBlock
        }

    ] %}

    {% set id = 'purchaseOrder' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}

    <script type="text/javascript">
        loadModules(['jquery', 'oroui/js/mediator'],
            function($, mediator) {
                var $collectionHolder;
                var $addProductButton = $('<button type="button" class="btn btn-primary add_product_link">Add a product</button>');
                //$('.products').append($addProductButton);
                var index = 0;
                $(document).ready(function() {
                    $collectionHolder = $('ul.products-form');

                    $('.products').find('li').each(function() {
                        index++;
                        addProductFormDeleteLink($(this));
                    });
                    $collectionHolder.data('index', index);

                    $addProductButton.on('click', function(e) {
                        addProductForm($collectionHolder);
                    });
                    $('input[name="searchInput"]').on('keyup', function() {
                        term = $(this).val();
                        $.ajax({
                            url: "{{ path('poproduct_products_get_api') }}",
                            data: {
                                term : term
                            },
                            dataType: 'json',
                            beforeSend: function() {
                                mediator.execute('showLoading');
                                $('.search-result').hide();
                            },
                            success: function(response) {
                                $('.search-result').show();
                                if(response.success == true) {
                                    html = '';
                                    $.each(response.products, function(index, value){
                                        termLength = term.length;
                                        indexOfTerm = value.name.search(term);
                                        firstpart = value.name.substring(0, indexOfTerm);
                                        lastpart = value.name.substring(indexOfTerm + termLength);
                                        mainString = firstpart+'<b><u>'+term+'</u></b>'+lastpart;
                                        html += '<li data-id="'+value.id+'" >'+mainString+'</li>'
                                    });
                                    $('.search-data-list').html(html);
                                } else {
                                    $('.search-data-list').html('<li data-id="">No result</li>');
                                }
                                mediator.execute('hideLoading');
                            }
                        })
                    });

                    $('body').on('click', '.search-data-list li', function(){
                        $('.search-result').hide();
                        id = $(this).data('id');
                        if(id != '') {
                            $.ajax({
                                url: "{{ path('poproduct_product_get_api') }}",
                                data: {
                                    id : id
                                },
                                dataType: 'json',
                                beforeSend: function() {
                                    mediator.execute('showLoading');
                                },
                                success: function(response) {
                                    mediator.execute('hideLoading');
                                    if(response.success == true) {
                                        addProductForm($collectionHolder, response.product);
                                    }
                                }
                            })
                        }
                    })

                });

                function addProductForm($collectionHolder, product) {
                    var prototype = $collectionHolder.data('prototype');
                    let index = $collectionHolder.data('index');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);
                    newForm = $('<li id="product-row-'+index+'">'+newForm+'</li>');
                    var $newFormLi = $('ul.products').prepend(newForm);
                    addProductFormDeleteLink(newForm);

                    
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][productId]"]').val(product.id);
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][productName]"]').val(product.name);
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][sku]"]').val(product.sku);
                    /*$('body').find('input[name="purchase_order[products]['
                    +index+'][quantity]"]').val();
                    $('body').find('input[name="purchase_order[products]['
                    +index+'][price]"]').val();*/

                }

                function addProductFormDeleteLink($newForm) {
                    var $removeFormButton = $('<button class="removeRow btn btn-icon btn-square-light" type="button"><span class="fa-close"></span></button>');
                    $newForm.children('div').append($removeFormButton);
                
                    $removeFormButton.on('click', function(e) {
                        $newForm.remove();
                    });
                }

            });
    </script>

{% endblock %}
