{% block __oro_product_line_item_form__line_item_form_fields_widget %}
    {% set class_prefix = 'line_item_form_fields' %}

    {% set unitAttr = {} %}
    {% if skipInputWidgets is not defined %}
        {% set skipInputWidgets = true %}
    {% endif %}

    {% if skipInputWidgets %}
        {% set unitAttr = layout_attr_defaults(unitAttr, {
            'data-skip-input-widgets': ''
        }) %}
    {% endif %}

    {% do block|merge_context({
        class_prefix: class_prefix
    }) %}
    {% do set_class_prefix_to_form(form, class_prefix) %}
    {% if renderCacheQuantity is not defined %}
        {% set renderCacheQuantity %}
            {{ form_widget(form.quantity, {attr: {
                'class': 'product-item__qty-input'
            }}) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheQuantity: renderCacheQuantity
        }) %}
    {% endif %}
    {% if renderCacheUnit is not defined %}
        {% set renderCacheUnit %}
            {{ form_widget(form.unit, {attr: unitAttr}) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheUnit: renderCacheUnit
        }) %}
    {% endif %}
    {% if renderCacheToken is not defined %}
        {% set renderCacheToken %}
            {{ form_widget(form._token) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheToken: renderCacheToken
        }) %}
    {% endif %}
    {% if not is_configurable_product_type(product.type) %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-item__qty__current-grid',
            'data-page-component-module': 'oroproduct/js/app/components/product-unit-select-component',
            'data-page-component-options': {
                'singleUnitMode': singleUnitMode,
                'singleUnitModeCodeVisible': singleUnitModeCodeVisible,
                'configDefaultUnit': defaultUnitCode
            }|json_encode
        }) %}

        <div {{ block('block_attributes') }}>

            <div class="form-row {{ class_prefix }} qty-plus-minus" >
                <span class="input-group-btn qty-minus">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                        -
                    </button>
                </span>
                {{ renderCacheQuantity }}
            
                <span class="input-group-btn qty-plus">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                        +
                    </button>
                </span>
            </div>

            <div class="form-row {{ class_prefix }}">
                {% if product is iterable %}
                    {% set currentProduct = product %}
                {% else %}
                    {% set currentProduct = product.jsonSerialize() %}
                {% endif %}

                {% if currentProduct.product_units is not defined or currentProduct.product_units|length > 1 %}
                    {% if singleUnitMode %}
                        {% if currentProduct.product_units is not defined %}
                            {{ renderCacheUnit }}
                        {% else %}
                            {% if singleUnitModeCodeVisible %}
                                {% if currentProduct.unit == defaultUnitCode %}
                                    <div class="product-item__placeholder-label" data-role="unit-label">
                                        {{- currentProduct.unit|oro_format_product_unit_label -}}
                                    </div>
                                    <div class="hidden">
                                        {{ renderCacheUnit }}
                                    </div>
                                {% else %}
                                    {{ renderCacheUnit }}
                                {% endif %}
                            {% else %}
                                <div class="hidden">
                                    {{ renderCacheUnit }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ renderCacheUnit }}
                    {% endif %}
                {% else %}
                    {% if singleUnitModeCodeVisible %}
                        <div class="product-item__placeholder-label" data-role="unit-label">
                            {{- currentProduct.unit|oro_format_product_unit_label -}}
                        </div>
                    {% endif %}
                    <div class="hidden">
                        {{ renderCacheUnit }}
                    </div>
                {% endif %}
            </div>
            <div class="hidden">
                {{ renderCacheToken }}
                {{ block_widget(block) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
