{% block _footer_subscribe_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': 'subscribe-container',
    'data-page-component-module': 'ibnabnewsletter/js/app/components/newsletter-block'
    }) %}

    <div {{ block('block_attributes') }}>
        <form id="subscribe-form"
               method="POST"
            >
            <label id="subscribe-form__label">{{'ibnab.footer_subscribe.subscribe_field_label'|trans({}, translation_domain)}}</label>
            <input id="subscribe-form__input" class="input" type="email" placeholder="{{'ibnab.footer_subscribe.subscribe_field_placeholder'|trans({}, translation_domain)}}" name="email"/>
            <button id ="subscribe-form__button" name="subscribe-button" type="submit">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
     
            </button>
        </form>
            <label class="subscribe-container__success-label">{{'ibnab.footer_subscribe.footer_success_label'|trans({}, translation_domain)}}</label>
    </div>
{% endblock %}

{% block _footer_registration_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'footer_registration',
        'data-page-component-module': 'ibnabnewsletter/js/app/components/newsletter-block'
    }) %}
    <div {{ block('block_attributes') }}>
    <label class="footer_registration__label">{{'ibnab.footer_subscribe.footer_registration_label'|trans({}, translation_domain)}}</label>
    <a class="footer_registration__link" href= {{ path(route_name) }}>
        {{ text|trans }}
    </a>
    </div>
{% endblock %}


