/* @theme: blank; */

$use-base-style-for-input: true !default;

// Default
$input-width-short: 64px !default;
$input-padding: 8px 9px !default;
$input-date-height: 35px !default;
$input-number-box-shadow: none !default;
$input-font-size: $base-ui-element-font-size !default;
$input-font-family: $base-ui-element-font-family !default;
$input-line-height: normal !default;
$input-border: $base-ui-element-border !default;
$input-border-radius: 5px;
$input-background-color: $base-ui-element-bg-color !default;
$input-color: $base-ui-element-color !default;
$button-search-border-radius: 15px 0px 5px 5px;
// Hover
$input-border-color-hover-state: get-color('primary', 'input-border') !default;

// Focus
$input-border-color-focus-state: $input-border-color-hover-state !default;

// Error
$input-border-color-error-state: get-color('ui', 'error-dark') !default;
