{% block _ibnab_slider_checkout_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' html'
    }) %}
    {% import 'IbnabSliderBundle::banner_macros.html.twig' as Banner %}
     {% for slider in sliders %}
        {{ Banner.renderSlider(slider) }}
     {% endfor %}
{% endblock %}
{% block _ibnab_slider_checkout_footer_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' html'
    }) %}
    {% import 'IbnabSliderBundle::banner_macros.html.twig' as Banner %}
     {% for slider in sliders %}
        {{ Banner.renderSlider(slider) }}
     {% endfor %}
{% endblock %}
{% block _ibnab_slider_checkout_sidbar_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' html'
    }) %}
    {% import 'IbnabSliderBundle::banner_macros.html.twig' as Banner %}
     {% for slider in sliders %}
        {{ Banner.renderSlider(slider) }}
     {% endfor %}
{% endblock %}
