
.home-our-services{
    .iconfont {
        font-size: 6rem !important;
        color: get-color('additional','middle');
        margin: 1rem;
        margin-top: -10px;
        padding-right: 1rem;
        color: get-color('secondary','light');
    }

}
.home-banners-adds1{
    picture img {
        width: 100%;
    }
}
.cellSocialNewsletter {
    min-height: 75px;
    flex-grow: 1;
    padding: 10px;
}
.rowSocialNewsletter {
    display: flex;
    flex-wrap: wrap;
}

.social-newsletter{

    //display: flex;
    //padding: 10px 0px 20px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px !important;
    .subscribe-container-footer{
        float: left; 
        #subscribe-form__label{
            color: get-color('additional','darker'); 
        }
        .middle-form{
            float: right;            
            #subscribe-form {
                &__input {

                    background-color: get-color('additional','base'); 
                    width: 400px;
                }
                &__button{
                    position: absolute;  
                    //margin-left: -90px
                }

            }
        }
    }
    .social-media-footer{
        float: right;
        padding-top: 15px;
        /* footer social icons */
        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
            float: right;
        }

        ul.social-network li {
            display: inline;
            margin: 0 5px;
        }


        /* footer social icons */

        .social-network a.icoRss:hover {
            background-color: #F56505;
        }

        .social-network a.icoFacebook:hover {
            background-color: #3B5998;
        }

        .social-network a.icoTwitter:hover {
            background-color: #33ccff;
        }

        .social-network a.icoGoogle:hover {
            background-color: #BD3518;
        }

        .social-network a.icoVimeo:hover {
            background-color: #0590B8;
        }

        .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
        }

        .social-network a.icoRss:hover i,
            .social-network a.icoFacebook:hover i,
            .social-network a.icoTwitter:hover i,
            .social-network a.icoGoogle:hover i,
            .social-network a.icoVimeo:hover i,
            .social-network a.icoLinkedin:hover i {
            color: #fff;
        }

        a.socialIcon:hover,
            .socialHoverClass {
            color: #44BCDD;
        }

        .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 40px;
            height: 40px;
            font-size: 2rem;
        }

        .social-circle li i {
            margin: 0;
            line-height: 40px;
            text-align: center;
        }

        .social-circle li a:hover i,
            .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }

        .social-circle i {
            color: get-color('additional','darker');
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }

        a {
            background-color: get-color('additional','ultra');
        }
    }
}
@include breakpoint('tablet') {
    .home-our-services .iconfont {
        font-size: 5.5rem !important;
        float: left;
        margin-left: 0px;
        margin-top: 0px;
    }
    .social-newsletter{
        border-bottom: 0px solid #d7d7d7;
        .subscribe-container-footer{
            float: none;
            text-align: left;
            .middle-form{
                float: none;
                text-align: center;
            }
            #subscribe-form__label {
                padding-right: 10px;
            }

        }
        .social-media-footer{
            float: none;
            padding-top: 10px;
            text-align: center;
            /* footer social icons */

            ul.social-network {
                float: none;
            }
        }

    }
    .page-footer-container{
        margin-top: 0px !important;
    }
}
@include breakpoint('tablet-small') {
    .home-our-services .iconfont {
        font-size: 7rem !important;
        float: right;
        margin-right: 10px;
        margin-top: -10px;
    }
    .social-newsletter{
        border-bottom: 0px solid #d7d7d7;
        .social-media-footer{
            padding-top: 0px;
            ul.social-network {
                float: none;
            }
        }
        .subscribe-container-footer{
            text-align: center;
            .middle-form{
                float: none;
                text-align: center;
                #subscribe-form {
                    &__input {
                        width: 480; 
                        //width: 90%;

                    }
                    &__button{
                        margin-left: -90px;  
                    }
                }
            }        

        }
    }

}
@include breakpoint('mobile') {
    .home-our-services .iconfont {
        font-size: 5rem !important;
        float: left;
        margin-right: 10px;
        padding-top: 10px;
    }
    .social-newsletter{
        border-bottom: 0px solid #d7d7d7;
        .social-media-footer{
            ul.social-network {
                float: none;
            }
        }
        .subscribe-container-footer{
            #subscribe-form {
                &__input {
                    //width: 300px; 
                }
                &__button{
                    margin-left: -90px;  
                }
            }
        }
    }

}