{% block _page_main_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main proudct-view'
    }) %}
    <main{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </main>
{% endblock %}
