{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}

{% set pageTitle = 'oro.pom.supplier.entity_plural_label'|trans %}

{% set formAction = path('pom_inventory_receive', {id: entity.id}) %}

{% block navButtons %}
    {{ UI.cancelButton(path('pom_purchaseorder_view', {id: entity.id})) }}
    {% set html = UI.saveAndCloseButton() %}
    {#{% if is_granted('pom_supplier_update') %} #}
    {% set html = html ~ UI.saveAndStayButton() %}
    {# {% endif %} #}
    {{ UI.dropdownSaveButton({ 'html': html }) }} 
{% endblock %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('pom_purchaseorder_view', {id: entity.id}),
            'indexLabel': 'Purchase Order - #'~entity.id|trans,
            'entityTitle': 'Receive Inventory'
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'Purchase Order'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    <style>
        .small-text-box {
            width: 200px !important;
        }
    </style>
    <div class="row-fluid">
        <div class="form-horizontal">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product SKU</th>
                        <th>Order Quantity</th>
                        <th>Received Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                {{ form_start(form) }}
                    {% for product in form.products %}
                        <tr>
                            <td>
                                {{ form_widget(product.productName) }}
                            </td>
                            <td>
                                {{ form_widget(product.sku) }}
                            </td>
                            <td>
                                {{ form_widget(product.quantity) }}
                            </td>
                            <td>
                                {{ form_widget(product.received) }}
                            </td>
                            <td>
                                {{ form_widget(product.price) }}
                            </td>
                        </tr>
                    {% endfor %}
                {{ form_end(form) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}