{% block _shopping_list_quickview_combined_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set actionButtonClass = 'btn btn--info btn--size-l full direct-link' %}
    <div class="shopping-list-line-items" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                layout: 'separate',
                options: {
                    view: 'oroshoppinglist/js/app/views/line-items-view'
                }
            }) }}>
    </div>
    <div class="shoppinglist-quickview" style="float: right">
        {{ block('combined_buttons_widget') }}
    </div>
{% endblock %}
{% block _shopping_list_view_container_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'shopping_list_view_container_content',
        '~class': "shopping-list-wrapper",
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            'view': 'oroui/js/app/views/layout-subtree-view',
            'blockId' : block.vars.id,
            'reloadEvents': ['shopping-list:refresh', 'product:quantity-unit:update', 'workflow:transitions_failure', 'frontend:item:delete']
        }
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{% block _shopping_list_line_items_list_actions_remove_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set moduleOptions = {
        removeClass: 'shopping-list-line-items__item-wrapper',
        confirmMessage: 'oro.frontend.shoppinglist.messages.line_item_delete_confirm'|trans,
        successMessage: 'oro.frontend.shoppinglist.messages.line_item_deleted'|trans
    } %}

    {% if matrixForm != 'none' %}
        {% set moduleOptions = moduleOptions|merge({
            route: 'oro_shopping_list_frontend_remove_line_item',
            requestMethod: 'DELETE',
            routeParams: {
                'lineItemId': lineItem.id
            }
        }) %}
    {% else %}
        {% set moduleOptions = moduleOptions|merge({
            route: 'oro_api_shopping_list_frontend_delete_line_item',
            routeParams: {'id': lineItem.id}
        }) %}
    {% endif %}
    <button class="item-remove btn btn--plain" {{ UI.renderPageComponentAttributes({
            module: 'ibnabcustomizeshoppinglist/js/app/components/delete-item-component',
            options: moduleOptions
        }) }} >
        <i class="fa-trash-o fa--x-large fa--no-offset"></i>
    </button>
{% endblock %}
{% block _shopping_list_line_items_list_row_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}
    {% set class = matrixForm is null ?
        ' shopping-list-line-items__item' :
        'shopping-list-line-items__item--configurable'
    %}
    {% set productImageData = mainProduct.imagesByType('listing').first.image|default(null) %}
    {% set productImage = Image.image(productImageData, 'product_small') %}
    {% set productImageUrl = Image.url(productImageData, 'product_small') %}
    {% set modelAttr = mainProduct.jsonSerialize() %}
    {% set modelAttr = modelAttr|merge({
        'imageUrl': productImageUrl
    }) %}
    {% set attr = attr|merge({class: class}) %}

    {% do block|merge_context({
        productImage: productImage
    }) %}

    <div {{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'oroui/js/app/components/view-component',
        options: {
            view: 'ibnabcustomizeshoppinglist/js/app/views/line-item-view',
            modelAttr: modelAttr,
            lineItemId: lineItem.id,
            quantityComponentOptions: {
                dataKey: constant('Oro\\Bundle\\ProductBundle\\Form\\Type\\FrontendLineItemType::NAME'),
                enable: is_granted('oro_shopping_list_frontend_update'),
                elements: {
                    quantity: '[name="product_qty"]',
                    unit: '[name="product_unit"]'
                },
                save_api_accessor: {
                    default_route_parameters: {
                        id: lineItem.id
                    },
                    route: 'oro_api_shopping_list_frontend_put_line_item'
                },
                value: {
                    unit: lineItem.unit.code,
                    quantity: lineItem.quantity
                },
                validation: {
                    showErrorsHandler: 'oroshoppinglist/js/shopping-list-item-errors-handler'
                }
            }
        },
        layout: 'separate'
    }) }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}