//ModernA
/*
@include breakpoint('desktop') {
    .modernA{
    .main-menu-column {
        padding: $main-menu-column-tablet-offset-inner;

        border-top: $main-menu-column-tablet-border-top;

        &::before {
            border-left: $main-menu-column-tablet-before-border-left;
        }

        &--splited &__inner-left,
        &--splited &__inner-right {
            float: $main-menu-column-tablet-splited-inner-left-float;

            width: $main-menu-column-tablet-splited-inner-left-width;
            margin-bottom: $main-menu-column-tablet-splited-inner-left-offset-bottom;
        }

        &__inner {
            margin-bottom: $main-menu-column-inner-tablet-offset-bottom;
        }

        &__title {
            margin-bottom: $main-menu-column-title-tablet-offset-bottom;
        }
    }
    }
}
*/