.main-menu{
    .main-menu__item:hover {
        .main-menu__link{
            color: get-color('secondary', 'light');
            border-top: 2px solid get-color('secondary', 'light');
        }   
    }
    .main-menu__item.active {
        .main-menu__link{
            color: get-color('secondary', 'light');
            border-top: 2px solid get-color('secondary', 'light');
        }
    }
    .main-menu__link{
        font-weight: 700;
        color: get-color('additional', 'darker');
    }
    .main-menu__sublist-container{
        //border-top: 2px solid get-color('secondary', 'light');
    }
}
@include breakpoint('tablet') {
    .header-row__trigger {
        &.custom-button-left{
            background: transparent;
            width: auto;
            float: left;
        }
    }


}



//ModernA
/* @theme: blank; */
/*
.modernA{
.main-menu {
    &__button-arrow {
        padding: $main-menu-button-arrow-d-inner-offset;

        font-size: inherit;

        cursor: pointer;
    }
}
.header-row--from-left{
    .menu-text{
        font-size: 18px;
        float: left;
        color: #000;
        position: absolute;
        top: 5px;
        padding-left: 5px;
        color: #626365;
    }
}
}

@include only-desktop {
    .modernA{
    .main-menu {
        max-height: inherit;

        &__item {
            .main-menu__sublist-container {
                display: block;
                position: absolute;
                right: 100%;
                left: auto;
            }
            &:hover {
                .main-menu__sublist-container {
                    position: absolute;
                    display: block;
                    left: -1
                }
            }
        }

        &__button-arrow {
            display: block !important;
            flex-grow: 1;

            padding: $main-menu-button-arrow-offset;

            text-align: right;
        }

        &__taptick {
            display: none;

            .fa-angle-down {
                display: none;
            }
        }
    }
    }

}


@include breakpoint('desktop') {
    .modernA{
    .main-menu {
        flex-direction: column;
        &__item--floated-dropdown,
        &__item--centered-dropdown {
            position: inherit;
            display: flex !important;
        }

        &__item--floated-dropdown .main-menu__sublist-container {
            right: auto;
        }

        &__item--centered-dropdown .main-menu__sublist-container {
            left: 100%;
            right: auto;
        }
        &:not(:last-child) {
            border-bottom: 1px solid darken(get-color('additional', 'base'), 5%);
        }

        &__taptick {
            display: none;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            &:not(:last-child) {
                border-bottom: 1px solid darken(get-color('additional', 'base'), 5%);
            };
        }

        &__link {
            flex-grow: 3;

            padding: $main-menu-link-line-tablet-offset;
            line-height: $main-menu-link-line-tablet-height;

            text-align: left;
        }

        &__button-arrow {
            display: block;
            flex-grow: 1;

            padding: $main-menu-button-arrow-offset;

            text-align: right;
        }

        &__sublist-container {
            position: absolute;
            top: $fullscreen-popup-header-min-height - 1;
            z-index: z('base');
            width: 100%;
            background: get-color('additional', 'ultra');

            transition: $main-menu-sublist-right-container-transition;
        }
    }

    &.current + .main-menu__sublist-container {
        right: 0 !important;
        overflow-y: scroll;
    }
    }
}
*/